// Private Section Title

.private-section-title {
	background-color: $primary;
	color: white;
	font-size: 2rem;
	padding: 0 2rem;
	line-height: 1.8;
	margin-right: -15px;
	margin-left: -15px;
}


// breakpoint and up

@media (min-width: $screen-md){
	.private-section-title {
		background-color: transparent;
		color: $primary;
		letter-spacing: -.06ex;
	}
}


