// Private Section Title

/*
Modules

Móludos documentados en <code>/src/sass/custom/modules</code>. 
<strong>¡Por favor sigan el orden!</strong>

Styleguide 7.0

*/



/*
Private Section Title

Título genérico para módulos del portal privado.<br>HTML en <code>/mockups/templates/partials/private-section-title.html</code>

Markup:
<h3 class='{{modifier_class}}'>Título de sección</h3>

.private-section-title                      - Standard
.private-section-title.uc                   - Uppercase
.private-section-title.fw-light             - Light

Styleguide 7.1

*/

.private-section-title {
	background-color: $primary;
	color: white;
	font-size: 2rem;
	padding: 0 2rem;
	line-height: 1.8;
	margin-right: -15px;
	margin-left: -15px;
}


// breakpoint and up

@media (min-width: $screen-md){
	.private-section-title {
		background-color: transparent;
		color: $primary;
		letter-spacing: -.06ex;
	}
}


