<div class="container home-feature">
		<div class="row mb-10">
			<div class="col-xs-12 ta-center">
				<h3 class="fw-normal uc morado-plain nomargin nopadding wow animated fadeIn" data-wow-offset="150">Nueva App <strong class="fw-semibold">WOM</strong></h3>
				<p class="nopadding nomargin ta-left pl-30 pr-30 fw-semibold">No más vueltas. Házla corta descubriendo:</p>
			</div>	
		</div>
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1 nopadding">
				<img data-stellar-ratio="1.15" data-stellar-vertical-offset="200" src="img/banner/persona-home-1.png" alt="" style="position: absolute; z-index: -1;">
			</div>
			<div class="col-xs-8">
				<ul class="home-feature-list fs-small">
					<li class="wow animated fadeInUp"><i class="fa fa-check"></i> Tu consumo</li>
					<li class="wow animated fadeInUp"><i class="fa fa-check"></i> Tu saldo</li>
					<li class="wow animated fadeInUp"><i class="fa fa-check"></i> Tu fecha de facturación</li>
					<li class="wow animated fadeInUp"><i class="fa fa-check"></i> Tus bolsas</li>
					<li class="wow animated fadeInUp"><i class="fa fa-check"></i> Tus promociones</li>
				</ul>
			</div>
		</div>
		<br>
		<div class="row ta-center mt-20">
			<div class="col-xs-6">
				<a href="#">
					<img src="img/home/boton-appstore.svg" alt="">
				</a>
			</div>
			<div class="col-xs-6">
				<a href="#">
					<img src="img/home/boton-googleplay.svg" alt="">
				</a>
			</div>
		</div>
	</div>