<div class="modulo-portatebien">
		<div class="ta-center">
			<div class="btn-group" role="group" aria-label="...">
			  <div class="btn-group" role="group">
				<button type="button" class="btn btn-portate btn-primary btn-default dropdown-toggle morado-plain-bg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  ¿QUIERES SER WOM? PÓRTATE AQUÍ!
				  <i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu">
				  <li>

				  	<div class="col-xs-2 nopadding">
				  		<img src="img/portabilidad/ico-tengo-prepago.svg" class="center-block">
				  	</div>
				  	<div class="col-xs-8">
				  		<a href="paso1.html">TENGO UN PREPAGO Y QUIERO UN PREPAGO WOM.</a>
				  	</div>

				  </li>
				  <li>
				  	<div class="col-xs-2 nopadding">
				  		<img src="img/portabilidad/ico-tengo-plan.svg" class="center-block">
				  	</div>
				  	<div class="col-xs-8">
				  		<a href="#">TENGO UN PLAN Y QUIERO UN PLAN WOM.</a>
				  	</div>

				  </li>
				  <li>
				  	<div class="col-xs-2 nopadding">
				  		<img src="img/portabilidad/ico-tengo-prepago-2.svg" class="center-block">
				  	</div>
				  	<div class="col-xs-8">
				  		<a href="#">TENGO UN PREPAGO Y AHORA QUIERO UN PLAN WOM.</a>
				  	</div>
				  </li>
				</ul>
			  </div>
			</div>
		</div>
	</div>