<div class="row modulo-morado">
	<div class="pl-30">
		<h4 class="fw-normal">PAGOS PRESENCIALES</h4>
	</div>
	<div class="col-xs-12 item">
		<h6 class="fw-semibold pl-20">BANCOS</h6>
		<small class="pl-20 pr-20">WOMER cancela tus cuentas de forma electrónica en los siguientes bancos:</small>
		<img class="svg-blanco" src="../wom-base/img/pago_facil/bancos-1.svg" alt="">
	</div>
	<div class="col-xs-12 item">
		<h6 class="fw-semibold pl-20">CAJAS</h6>
		<small class="pl-20 pr-20">WOMER cancela tus cuentas de forma electrónica en las siguientes cajas:</small>
		<img class="svg-blanco" src="../wom-base/img/pago_facil/bancos-2.svg" alt="">
	</div>
</div>