<h3 class="fw-semibold morado-plain ta-center uc lineheight120">Selecciona la<br>cuenta a pagar.</h3>
<div class="pago-facil-desglose row">
  <div class="col-xs-12">
    <p>Nº factura: <strong>8762340</strong></p>
    <p>Número cliente: <strong>1.123</strong></p>
  </div>
</div>
<div class="row pago-facil-paga item-dark">
  <div class="col-xs-8">
    <strong>$145.990</strong><a href="#"><img src="img/pago_facil/ico-pago-facil-edita-pago.svg" width="20" height="20"></a>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-primary success mt-10">Pagar</button>
  </div>
</div>
<div class="row pago-facil-paga item-dark mt-20">
  <div class="col-xs-8">
    <strong>$145.990</strong><a href="#"><img src="img/pago_facil/ico-pago-facil-edita-pago.svg" width="20" height="20"></a>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-primary success mt-10">Pagar</button>
  </div>
</div>