
<div class="pago-facil-desglose mb-0">
    <p>Nº factura: <strong>8762340</strong></p>
    <p>Número cliente: <strong>1.123</strong></p>
</div>

<div class="pago-facil-paga">
  <div class="item-dark">
      <strong>$145.990</strong><a href="#"><img src="img/pago_facil/ico-pago-facil-edita-pago.svg" width="20" height="20"></a>
      <button class="btn btn-primary btn-lg success mt-10 mr-10 pull-right" onclick="$(this).parents('.item-dark').addClass('disabled-pagando');$('#pagalo').slideToggle();">Pagar</button>
  </div>
</div>
<div class="pago-facil-paga" style="display: none" id="pagalo">
  <div class="item-dark">
      <p class="nomargin nopadding fs-small">Abono parcial mínimo $5.000</p>
      $ <input type="number" class="inputMoney">
      <button class=" pull-right btn btn-sm btn-primary success mr-10">Abonar</button>
  </div>
</div>