<div class="row ta-center">
	<h4 class="fw-normal fs-medium morado-plain">OTRAS FORMAS DE PAGO</h4>
</div>

<div class="row marginbottom">
	<div class="col-xs-2">
		<img src="img/pago_facil/ico-sucursal.svg" alt="">
	</div>
	<div class="col-xs-10">
		<h6 class="morado-plain fw-semibold nomargin nopadding">SUCURSAL ONLINE</h6>
		<p>Revisa tu boleta y paga desde tu cuenta.</p>
	</div>
</div>
<div class="row marginbottom">
	<div class="col-xs-2">
		<img src="img/pago_facil/ico-pago-online.svg" alt="">
	</div>
	<div class="col-xs-10">
		<h6 class="morado-plain fw-semibold nomargin nopadding">PAGOS ONLINE</h6>
		<p>Paga de manera segura desde servipag.com, sencillito.com y presto.cl</p>
	</div>
</div>
<div class="row marginbottom">
	<div class="col-xs-2">
		<img src="img/pago_facil/ico-pago-online.svg" alt="">
	</div>
	<div class="col-xs-10">
		<h6 class="morado-plain fw-semibold nomargin nopadding">PAGOS AUTOMÁTICOS</h6>
		<p>Paga tu cuenta autimáticamente con tarjetas de crédito (PAT)
		</p>
	</div>
</div>