<nav class="navbar navbar-default navbar-main" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
			<span class="navLabel uc">Menú</span>
			<figure class="hamburger">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</figure>
		</button>
		<!-- wom logo -->
		<div class="navbar-brand navbar-brand-centered">
			<a href="index.html" title="">
				<img src="img/logo-wom.svg" width="80" height="80" >
			</a>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
