<div class="ejecutivo-wom promociones-activas">
   <div class="row">
      <div class="col-xs-12">
         <h4 class="fw-semibold nopadding text-muted">Ejecutivo WOM de tu cuenta</h4>
     </div>
   </div>
   <div class="row">
    <div class="col-xs-12">
       <h6 class="fw-normal nopadding text-muted">Nombre</h6>
       <h6 class="fw-semibold nopadding nomargin morado-datos">Alejandro Rojas Solís</h6>
       <br>
       <h6 class="fw-normal nopadding text-muted">Correo electrónico</h6>
       <h6 class="fw-semibold nopadding nomargin morado-datos">a.rojas@wom.cl</h6>
       <br>
       <h6 class="fw-normal nopadding text-muted">Teléfono</h6>
       <h6 class="fw-semibold nopadding nomargin morado-datos">+569 77665544</h6>
       <hr>

   </div>
  </div> 
</div> 