  <div class="row">
    <div class="col-xs-12">
        <h4 class="fw-semibold nopadding text-muted">Datos Personales</h4>
    </div>
  </div>

  <div class="promociones-activas">
     <div class="row">
        <div class="col-xs-12">
           <h6 class="fw-normal nopadding text-muted">Nombres</h6>
           <h6 class="fw-semibold nopadding nomargin morado-uva">Vicente Guillermo</h6>
           <br>
           <h6 class="fw-normal nopadding text-muted">Apellidos</h6>
           <h6 class="fw-semibold nopadding nomargin morado-uva">Gutiérrez Echeverría</h6>
           <br>
           <h6 class="fw-normal nopadding text-muted">Rut</h6>
           <h6 class="fw-semibold nopadding nomargin morado-uva">15.335.667-4</h6>

           <hr>
       </div> 
     </div>
     <div class="row">
      <div class="col-xs-12">
         <h6 class="fw-normal nopadding text-muted">Correo electrónico</h6>
         <h6 class="fw-semibold  nopadding nomargin morado-uva">vgutierrezecheverria@gmail.com</h6>
         <br>
         <div class="text-center">
            <button class="btn btn-lg btn-primary fs-base pl-30 pr-30 morado-chicle-bg fw-semibold">Editar correo electrónico</button>
        </div>
        <hr>
        <h6 class="fw-normal nopadding text-muted">Correo electrónico de facturación</h6>
        <h6 class="fw-semibold nopadding nomargin morado-uva">vge-facturacion@gmail.com</h6>
        <hr>
      </div>
    </div>
  </div>