<div class="bolsaPicker">
			<div class="row">
				<div class="col-xs-12">
					<h5 class="nopadding fw-semibold">Elige tu bolsa</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="item ta-center col-xs-4 nopadding nomargin">
						<a href="autoatencion-compra-de-bolsas-var-datos.html">
							<i class="morado-plain ico-bolsa-bolsa_datos fa-center"></i>
							<span class="morado-plain fw-semibold fs-small">Datos</span>
						</a>
					</div>
					<div class="item ta-center col-xs-4 nopadding nomargin">
						<a href="#">
							<i class="fa morado-plain ico-bolsa-bolsa_voz"></i>
							<span class="morado-plain fw-semibold fs-small">Voz</span>
						</a>
					</div>
					<div class="item ta-center col-xs-4 nopadding nomargin">
						<a href="#">
							<i class="fa morado-plain ico-bolsa-bolsa_sms"></i>
							<span class="morado-plain fw-semibold fs-small">SMS</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="item ta-center col-xs-4 nopadding nomargin">
						<a href="#">
							<i class="fa morado-plain ico-bolsa-bolsa_mixtas"></i>
							<span class="morado-plain fw-semibold fs-small">Mixtas</span>
						</a>
					</div>
					<div class="item ta-center col-xs-4 nopadding nomargin">
						<a href="#">
							<i class="fa morado-plain ico-bolsa-bolsa_tematicas"></i>
							<span class="morado-plain fw-semibold fs-small">Temáticas</span>
						</a>
					</div>
					<div class="item ta-center col-xs-4 nopadding nomargin">
						<a href="autoatencion-compra-de-bolsas-var-roaming.html">
							<i class="fa morado-plain ico-bolsa-bolsa_roaming"></i>
							<span class="morado-plain fw-semibold fs-small">Roaming</span>
						</a>
					</div>
				</div>
			</div>
		</div>