<div class="direccion-personal promociones-activas">
   <div class="row">
      <div class="col-xs-12">
         <h4 class="fw-semibold nopadding text-muted">Dirección</h4>
     </div>
 </div>
 <div class="row">
  <div class="col-xs-12">
     <h6 class="fw-normal nopadding text-muted">Calle</h6>
     <h6 class="fw-semibold nopadding nomargin morado-datos">Avenida Pedro Aguirre Cerda</h6><br>
 </div>
</div>
<div class="row">
  <div class="col-xs-6">
     <h6 class="fw-normal nopadding text-muted">Número</h6>
     <h6 class="fw-semibold nopadding nomargin morado-datos">33.456</h6><br>
 </div>
 <div class="col-xs-6">
     <h6 class="fw-normal nopadding text-muted">Departamento</h6>
     <h6 class="fw-semibold nopadding nomargin morado-datos">398-B</h6><br>
 </div>
</div>
<div class="row">
  <div class="col-xs-6">
     <h6 class="fw-normal nopadding text-muted">Región</h6>
     <h6 class="fw-semibold nopadding nomargin morado-datos">Arica y Parinacota</h6><br>
 </div>
 <div class="col-xs-6">
     <h6 class="fw-normal nopadding text-muted">Comuna</h6>
     <h6 class="fw-semibold nopadding nomargin morado-datos">Arica</h6><br>
 </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <hr>
 </div> 
</div>

