
  <section class="pv-data-postpaid-personal">
    <h4 class="fw-semibold mt-20 mb-20 nopadding text-muted">Datos personales</h4>

    <div class="heading-field mb-20">
      <h6 class="fw-normal mb-0 nopadding text-muted">Nombres</h6>
      <h5 class="fw-semibold nopadding nomargin morado-datos">Vicente Guillermo</h5>
    </div>
    <div class="heading-field mb-20">
      <h6 class="fw-normal mb-0 nopadding text-muted">Apellidos</h6>
      <h5 class="fw-semibold nopadding nomargin morado-datos">Gutiérrez Echeverría</h5>
    </div>
    <div class="heading-field mb-20">
      <h6 class="fw-normal mb-0 nopadding text-muted">Rut</h6>
      <h5 class="fw-semibold nopadding nomargin morado-datos">15.335.667-4</h5>
    </div>

    <hr>

    <div class="heading-field mb-20">
      <h6 class="fw-normal mb-0 nopadding text-muted">Correo electrónico</h6>
      <h5 class="fw-semibold nopadding nomargin morado-datos">vgutierrezecheverria@gmail.com</h5>
    </div>
    <button class="btn btn-lg btn-primary btn-full text-center fs-base morado-chicle-bg fw-semibold">Editar correo electrónico</button>

    <hr>
  </section>