  <div class="row">
    <div class="col-xs-12">
        <h4 class="fw-semibold nopadding text-muted">Datos Personales</h4>
    </div>
  </div>

  <div class="promociones-activas">
     <div class="row">
        <div class="col-xs-12">
           <h6 class="fw-normal nopadding text-muted">Nombres</h6>
           <h6 class="fw-semibold nopadding nomargin morado-datos">Vicente Guillermo</h6>
           <br>
           <h6 class="fw-normal nopadding text-muted">Apellidos</h6>
           <h6 class="fw-semibold nopadding nomargin morado-datos">Gutiérrez Echeverría</h6>
           <br>
           <h6 class="fw-normal nopadding text-muted">Rut</h6>
           <h6 class="fw-semibold nopadding nomargin morado-datos">15.335.667-4</h6>

           <hr>
       </div> 
     </div>
     <div class="row">
      <div class="col-xs-12">
         <h6 class="fw-normal nopadding text-muted">Correo electrónico</h6>
         <h6 class="fw-semibold  nopadding nomargin morado-datos">vgutierrezecheverria@gmail.com</h6>
        <hr>
      </div>
    </div>
  </div>