
	<div class="heading-field">
		<div class="row">
			<div class="visible-xs">
    			<h6 class="fw-normal nopadding mt-0 mb-10 text-center text-muted">¿Olvidaste tu contraseña?</h6>
			</div>
			<div class="col-md-6 hidden-xs">
				<p class="pv-postpago-datos-clave__pass fw-normal nopadding mb-0 lineheight-1_2 text-left text-muted">¿Deseas modificar la <br>contraseña de tu cuenta?</p>
			</div>
			<div class="col-md-6 ta-right">
				<button class="btn btn-primary btn-lg btn-full fw-semibold fs-base">Modifica tu contraseña</button>
			</div>
		</div>
	</div>

	<hr class="visible-xs">