
  <section class="pv-data-postpaid-address">
    <h4 class="fw-semibold mt-20 mb-20 nopadding text-muted">Dirección</h4>

    <div class="heading-field mb-20">
      <h6 class="fw-normal mb-0 nopadding text-muted">Calle</h6>
      <h5 class="fw-semibold nopadding nomargin morado-datos">Avenida Pedro Aguirre Cerda</h5>
    </div>

    <section class="data-postpaid__row row">
      <div class="heading-field col-xs-6 mb-20">
        <h6 class="fw-normal mb-0 nopadding text-muted">Número</h6>
        <h5 class="fw-semibold nopadding nomargin morado-datos">33.456</h5>
      </div>

      <div class="heading-field col-xs-6 mb-20">
        <h6 class="fw-normal mb-0 nopadding text-muted">Departamento</h6>
        <h5 class="fw-semibold nopadding nomargin morado-datos">398-B</h5>
      </div>

      <div class="heading-field col-xs-6">
        <h6 class="fw-normal mb-0 nopadding text-muted">Región</h6>
        <h5 class="fw-semibold nopadding nomargin morado-datos">Arica y Parinacota</h5>
      </div>

      <div class="heading-field col-xs-6">
        <h6 class="fw-normal mb-0 nopadding text-muted">Comuna</h6>
        <h5 class="fw-semibold nopadding nomargin morado-datos">Arica</h5>
      </div>
    </section>

    <hr>
  </section>