<li class="item wow fadeInUp">
	<div class="cards-head">
		<div class="cards-head-mes uc">
			<strong class="morado-chicle">Mayo</strong>
		</div>
		<div class="cards-head-total">
			<strong class="fw-semibold ">Total</strong>
			<span class="fw-semibold morado-plain">$20.000</span>
		</div>
	</div>
	<div class="cards-content">
		<div class="cards-content-item">
			<div class="cards-content-item-date ta-center fw-bold">
				<span class="uc">May</span>
				25
			</div>
			<div class="cards-content-item-desc">
				<p>Medio de recarga</p>
				<p class="fw-semibold">Unimarc Portugal</p>
			</div>
			<div class="cards-content-item-total">
				<p class="fw-semibold morado-chicle">$10.000</p>
			</div>
		</div>
		<div class="cards-content-item">
			<div class="cards-content-item-date ta-center fw-bold">
				<span class="uc">May</span>
				08
			</div>
			<div class="cards-content-item-desc">
				<p>Medio de recarga</p>
				<p class="fw-semibold">Cruz Verde Avda Matta</p>
			</div>
			<div class="cards-content-item-total">
				<p class="fw-semibold morado-chicle">$10.000</p>
			</div>
		</div>
	</div>
</li>