<div class="bolsaPicker bolsaSelected">
			<div class="row"></div>
			<div class="row">
				<div class="item ta-center col-xs-6 nomargin">
					<div class="item-container">
						<img src="img/icons/ico-shopping-bag.svg" alt="">
						<span class="fw-semibold">100MB</span>
						<p class="nopadding fs-small">Vigencia de <strong>7</strong> días</p>
						<p class="nomargin nopadding"><strong class="fs-large fw-semibold morado-plain">$5.000</strong></p>
						<p class="nomargin nopadding"><button href="#" class="btn btn-primary btn-lg morado-chicle-bg fw-semibold">Comprar</button> </p>
					</div>
				</div>
				<div class="item ta-center col-xs-6 nomargin">
					<div class="item-container">
						<img src="img/icons/ico-shopping-bag-x2.svg" alt="">
						<span class="fw-semibold">300MB</span>
						<p class="nopadding fs-small">Vigencia de <strong>7</strong> días</p>
						<p class="nomargin nopadding"><strong class="fs-large fw-semibold morado-plain">$7.000</strong></p>
						<p class="nomargin nopadding"><button href="#" class="btn btn-primary btn-lg morado-chicle-bg fw-semibold">Comprar</button> </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="item ta-center col-xs-6 nomargin">
					<div class="item-container">
						<img src="img/icons/ico-shopping-bag-x3.svg" alt="">
						<span class="fw-semibold">700MB</span>
						<p class="nopadding fs-small">Vigencia de <strong>7</strong> días</p>
						<p class="nomargin nopadding"><strong class="fs-large fw-semibold morado-plain">$9.000</strong></p>
						<p class="nomargin nopadding"><button href="#" class="btn btn-primary btn-lg morado-chicle-bg fw-semibold">Comprar</button> </p>
					</div>
				</div>
				<div class="item ta-center col-xs-6 nomargin">
					<div class="item-container">
						<img src="img/icons/ico-shopping-bag-x3.svg" alt="">
						<span class="fw-semibold">1000MB</span>
						<p class="nopadding fs-small">Vigencia de <strong>7</strong> días</p>
						<p class="nomargin nopadding"><strong class="fs-large fw-semibold morado-plain">$12.000</strong></p>
						<p class="nomargin nopadding"><button href="#" class="btn btn-primary btn-lg morado-chicle-bg fw-semibold">Comprar</button> </p>
					</div>
				</div>
			</div>
		</div>

	</div>