<div class="direccion-personal">
   <div class="row">
      <div class="col-xs-12">
         <h4 class="fw-semibold nopadding text-muted">Dirección</h4>
     </div>
 </div>
 <div class="row">
  <div class="col-xs-12">
     <h6 class="fw-semibold nopadding text-muted">Calle</h6>
     <h6 class="fw-semibold morado-plain nopadding">Avenida Pedro Aguirre Cerda</h6>
 </div>
</div>
<div class="row">
  <div class="col-xs-6">
     <h6 class="fw-semibold nopadding text-muted">Número</h6>
     <h6 class="fw-semibold morado-plain nopadding">33.456</h6>
 </div>
 <div class="col-xs-6">
     <h6 class="fw-semibold nopadding text-muted">Departamento</h6>
     <h6 class="fw-semibold morado-plain nopadding">398-B</h6>
 </div>
</div>
<div class="row">
  <div class="col-xs-6">
     <h6 class="fw-semibold nopadding text-muted">Región</h6>
     <h6 class="fw-semibold morado-plain nopadding">Arica y Parinacota</h6>
 </div>
 <div class="col-xs-6">
     <h6 class="fw-semibold nopadding text-muted">Comuna</h6>
     <h6 class="fw-semibold morado-plain nopadding">Arica</h6>
 </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <hr>
 </div> 
</div>

