<div class="top-bg-primary"></div>
<section class='public-price-list'>
	<h4 class="section-title uc fw-regular">En WOM tenemos las mejores tarifas</h4>
		<ul class="list-group prices">
			<li class="list-group-item"><span class="price">$50</span> el minuto</li>
			<li class="list-group-item"><span class="price">$0,84</span> el segundo</li>
			<li class="list-group-item"><span class="price">$50</span> el <acronym title="Shot Message Service">SMS</acronym></li>
			<li class="list-group-item"><span class="price">$5</span> el mega</li>
		</ul>
</section>