/* this Style is for documentation purposes only */

@import "variables";
@import "custom/fonts";
@import "custom/colors";
@import "custom/z_index";
@import "custom/mixins";


.kss-modifier-title{
  color: $gray-3;
}


header{
  @include gradient-x($primary-dark, $secondary);;
  color: $white;
  padding: 0 1rem;
}

header h3{
  font-size: $font-size--large;
  padding: 0;
  margin: 0;
}

header a{
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active{
    color: $white;
    text-decoration: none;
  }
}


.doc-navbar{
  border-bottom: 1px solid $gray-5;
  margin-top: -1px;
  padding: 1.2rem;
  text-align: center;
}

.doc-navbar ul{
  padding: 0;
}

.doc-navbar li{
  padding: 0 1.5rem;
  display: inline-block;

  a{
    color: #720184;
    text-decoration: none;
    font-weight: 900;
    &:hover{
      color: darken(#720184, 20%)
    }
  }
}

