/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.c1
{
  background-color: #336699;
}

.c2
{
  background-color: #229955;
}

.bg-portabilidad{
    background-color: transparent;
    background-image: url('../img/portabilidad/FONDO1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 430px;
}

.bg-portabilidad h3 {
    margin-top: 260px;
    padding: 0;
    line-height: 1.5rem;
}
.bg-portabilidad h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.bg-home{
    background-color: transparent;
    background-image: url('../img/home/bghome.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 570px;
    margin-bottom: 40px;
}

.bg-home h3 {
    margin-top: 260px;
    padding: 0;
    line-height: 1.5rem;
}
.bg-home h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}


.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -50px;
}


.navbar-toggle {
    z-index:1;
}

.navbar-main {
    background-color: transparent;
    height: 80px;
    margin-bottom: -80px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-toggle {
    border: 0;
    margin-top: 30px;
    border-color: white;
}
a:link{
    color:#FFF;
}
.btn-success,.btn-lg{
    margin:0 auto;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    bottom:20px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    font-size: 0.7em;
}
#block{
    font-size: 0.7em;
    display: block;
    width: 50%;
    height: auto;
    left: 50%;
    margin-left: -25%;
}
.btn strong{
    color: #FFF;
}

.btn .fw-light{
    color: #FFF;
    padding: 0.1rem;
    font-size: 11px;
}
.btn a, a:visited {
    color: #FFF;
}

.btn-purple{
    text-align: center;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
    background-color: #460151;
}
.btn-blue{
    text-align: center;
    background-color: #553FA0;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
}
.recom{
    padding: 6px 7px;
    font-size: 11px;
}

.btns .col-xs-6{
    padding:0;
}
.photo img{
    position: relative;
}
footer .row{
    padding: 30px
}
.main-foot{
    background-color: transparent;
    background: url(../img/footer.jpg) no-repeat center bottom;
    background-size: 100%;
    color: #fff;
    padding-top: 50px;
    position: relative;
    z-index: 999;
    display: block;
    height: auto;
    padding-top: 50px;
    background-size: cover;
    /* background: center bottom; */
    clear: both;
    min-height: 264px;
}
.main-foot ul{
    list-style: none;
    display: inline-block;
}
.accesos-foot{
    list-style-position: inside;
    float: left;
    margin: 20px 30px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.lista-foot a{
    font-size: 16px;
    font-family: Cera,sans-serif;
    font-weight: normal;
    color: #fff;
}
.lista-foot ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #333;
    color: #fff;
    width: 70%;
}
.lista-foot ul li{
    border-bottom:1px solid #FFF;
}
.ico-space {
    display: inline;
    margin: 0 0 0 10px;
}
.accesos-foot a {
    color: #b171c3;
    font-size: 12px;
}
.non-point {
    list-style: outside none none;
}
ul {
    list-style-position: inside;
}
.centro{
    position: absolute;
    top:5rem;
    right:0;
    font-size:14px;
    padding: 5px;
    color: #fff;
    background-color: #96309F;
    max-height: 70px;
}
.centro .fs-small{
    font-size: 10px;
}
.centro .col-xs-8{
    line-height: 1;
    padding: 0 5px;
}
.noticias img{
    margin:0 auto;
}
.main-foot .ta-center img{
    margin:0 auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
@media only screen and (max-width: 768px)
.main-foot .triangle-foot {
    width: 0;
    height: 0;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-color: transparent;
    border-top: 50px inset #fff;
    top: 0px !important;
    position: absolute;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid dotted none;
}
.main-foot .triangle-foot {
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid dotted none;
    border-top: 1px solid transparent;
    height: 0;
    position: absolute;
    top: -1px;
    transform: rotate(360deg);
    width: 0;
    z-index: 999;
}
.main-foot .triangle-foot {
    width: 0;
    height: 0;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-color: transparent;
    border-top: 50px inset #fff;
    top: 0px !important;
    position: absolute;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid dotted none;
}
@media only screen and (max-width: 768px)
.main-foot {
    padding-top: 50px;
    background-size: cover;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
