{% extends "layout.nunjucks" %}
{% set title = "Autoatención Compra de Bolsas" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo bg-modulo-shortest modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Compra tu bolsa</h3>
				<h4 class="ta-center fw-normal white fs-base">Elige tu bolsa utilizando tu saldo y descubre nuestras promos</h4>
			</div>
		</div>
	</header>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-12 select-phone">
				<select class="form-control select-caret fw-bold">
				  <option selected="">+56 988776655</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
		</div>

		<br>
			
		<div class="row">
			<div class="col-xs-12">
				<p class="nopadding dark-red">Tu saldo actual:</p>
			</div>
			<div class="col-xs-12">
				<div class="btn-group saldo-recarga-ahora" role="group">
					<button type="button" class="btn fs-large saldo-money dark-red fw-normal">$7.000</button>
					<button type="button" class="btn btn-primary morado-chicle-bg saldo-cta"><i class="fa fa-dollar"></i> Recarga ahora</button>
				</div>
			</div>
		</div>


	{% include "partials/footer.html" %}
{% endblock %}