{% extends "layout.nunjucks" %}
{% set title = "Autoatención Compra de Bolsas: Variante [Modal de Recarga - paso 1]" %}

{% block content %}

<script>
	$('body').addClass('modal-open');
</script>

<div id="compra-bolsa" class="modal saldo-modal fade in" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header ta-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
				
				<div class="compra-bolsa-stepper">
					<span class="active">1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
				</div>

				<h3 class="modal-title uc">Recarga tu cuenta</h3>
				<p class="fs-medium fw-semibold lineheight100 nomargin">¿Cuánto vas a recargar?</p>
			</div>
			<div class="modal-body ta-center">
				<form action="#">
					<div class="form-group form-effect" onclick="$(this).addClass('validInput');">
						<span class="miniLabel">Lucas</span>
						<input type="number" class="form-control" id="lucas" placeholder="$ Lucas" content="asd">
						<span class="helpText text-danger"><i class="fa fa-warning"></i> Ingresa números correctamente</span>
					</div>
				</form>
				<p><a href="autoatencion-compra-de-bolsas-var-datos-estas-comprando-recarga-paso-2.html" class="btn btn-lg btn-success fw-semibold pull-right mt--20 notexttransform">Recargar</a></p>

				<p class="ta-center">Selecciona las lucas que quieres recargar</p>

				<div class="row">
					<div class="col-xs-6">
						<a href="#" class="recarga-ahora-btn">
							<span>$2.000</span> <i class="fa fa-angle-right"></i>
						</a>
						<a href="#" class="recarga-ahora-btn">
							<span>$5.000</span> <i class="fa fa-angle-right"></i>
						</a>
					</div>
					<div class="col-xs-6">
						<a href="#" class="recarga-ahora-btn">
							<span>$3.000</span> <i class="fa fa-angle-right"></i>
						</a>
						<a href="#" class="recarga-ahora-btn">
							<span>$10.000</span> <i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Compra tu bolsa</h3>
				<h4 class="ta-center fw-normal white fs-base">Elige tu bolsa utilizando tu saldo y descubre nuestras promos</h4>
			</div>
		</div>
	</header>

	<div class="container">
		
		<div class="row">
			<br>
			{% include "partials/private-selector-bolsas.html" %}
		</div>
		<br>
			
		<div class="row">
			<div class="col-xs-12">
				<p class="nopadding dark-red">Tu saldo actual:</p>
			</div>
			<div class="col-xs-12">
				{% include "partials/private-saldo-recarga.html" %}
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-12">
				<p class="nopadding"><i class="fa fa-cloud-download morado-plain"></i> Vas a comprar una bolsa de datos</p>
			</div>
			
			{% include "partials/private-selector-bolsa-datos.html" %}
		</div>
		

		{% include "partials/private-bolsa-data-picker.html" %}

	<div class="modal-backdrop fade in"></div>
	{% include "partials/footer.html" %}
{% endblock %}