{% extends "layout.nunjucks" %}
{% set title = "Autoatención Compra de Bolsas: Variante [Modal de Recarga - paso 4]" %}

{% block content %}

<script>
	$('body').addClass('modal-open');
</script>

<div id="compra-bolsa" class="modal saldo-modal fade in" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header ta-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close" style="color: black;"></i></span></button>
				
				<div class="compra-bolsa-stepper">
					<span class="active">1</span>
					<span class="active">2</span>
					<span class="active">3</span>
					<span class="active">4</span>
				</div>

				<h3 class="modal-title" style="text-transform: uppercase;">Recarga tu cuenta</h3>
				<p class="fs-medium fw-semibold lineheight100 nomargin">¡Bacán! haz recargado</p>
			</div>
			<div class="modal-body ta-center">
				<h4 class="morado-plain fs-large ta-center nomargin fw-semibold">$3.500</h4>
				al número
				<h3 class="morado-plain fs-large ta-center nomargin nopadding fw-semibold">+56 7 7753223</h4>
				<div class="modal-sidestepper mb-20 mt-20">
					<div class="col-xs-4 ta-right modal-sidestepper-left">
						Tenías
						<p class="nopadding nomargin">
							<strong>$1.000</strong>
						</p>
					</div>
					<div class="col-xs-4 ta-center modal-sidestepper-morado">
						Recargaste
						<p class="nopadding nomargin">
							<strong>$3.500</strong>
						</p>
					</div>
					<div class="col-xs-4 ta-left">
						Tienes
						<p class="nopadding nomargin">
							<strong>$5.000</strong>
						</p>
					</div>
				</div>
				<p class="nomargin nopadding">
					<a href="#" class="btn btn-success btn-lg btn-block">Continuar con tu compra</a>
				</p>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Compra tu bolsa</h3>
				<h4 class="ta-center fw-normal white fs-base">Elige tu bolsa utilizando tu saldo y descubre nuestras promos</h4>
			</div>
		</div>
	</header>

	<div class="container">
		
		<div class="row">
			<br>
			{% include "partials/private-selector-bolsas.html" %}
		</div>
		<br>
			
		<div class="row">
			<div class="col-xs-12">
				<p class="nopadding dark-red">Tu saldo actual:</p>
			</div>
			<div class="col-xs-12">
				{% include "partials/private-saldo-recarga.html" %}
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-12">
				<p class="nopadding"><i class="fa fa-cloud-download morado-plain"></i> Vas a comprar una bolsa de datos</p>
			</div>
			
			{% include "partials/private-selector-bolsa-datos.html" %}
		</div>
		

		{% include "partials/private-bolsa-data-picker.html" %}

	<div class="modal-backdrop fade in"></div>
	{% include "partials/footer.html" %}
{% endblock %}