{% extends "layout.nunjucks" %}
{% set title = "Centro de Ayuda - Pagina de contenido" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<!-- layout desktop -->
	<div class="desktop-header hidden-xs">
		<div class="container-tablet">
			<div class="row">
				<div class="desktop-headerTitle col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ta-center">
					{% include "partials/navbar-desktop-inner.html" %}
					<h1 class="uc white">Centro de Ayuda</h1>
					<p>Encuentra en cada sección preguntas frecuentes con nuestros servicios</p>
				</div>
			</div>
		</div>
	</div>

	<div class="visible-xs">
		{% include "partials/header-centro-de-ayuda-short.html" %}
	</div>

	<div class="help-center__welcome fullwidth-slab">
		<div class="help-center__welcome__container container-md">
			<div class="row mt-40 flex">
				<div class="col-lg-5 col-md-5 col-sm-5">
					<h4 class="uc nopadding morado-plain">¿Qué es el 4G?</h4>
					<p class="help-center__welcome__description">La red 4G es la cuarta generación de datos móviles, sucesora de 2G y 3G, que permite entregar una excelente experiencia de navegación a los usuarios.</p>
					<p class="help-center__welcome__description">Gracias a la velocidad 4G podrás conectarte con tus dispositivos móviles compatibles y navegar con una conexión mucho más rápida. Es ideal para quienes demandan mayor rapidez de descarga, estar conectados en redes sociales en segundos, o realizan uso del streaming de videos, música y juegos en línea.</p>
					<div class="help-center__welcome__row u-center flex">
						<div class="no-margin iblock text-center">
							<p class="help-center__welcome__description nopadding mt-20">¿Te mostré lo que querías?</p>
							<div class="help-center__welcome__btn-group btn-group" role="group" aria-label="...">
								<div>
						  	<button id="helpCenterTrue" type="button" class="btn btn-primary fw-semibold pl-20 pr-20">Sí</button>
						  	<button id="helpCenterFalse" type="button" class="btn btn-primary fw-semibold pl-20 pr-20">No</button>
						  	</div>
								<div id="helpCenterFeedbackTrue" class="centro-de-ayuda-feedback-true hide text-center">
							  	<p class="help-center__welcome__description nopadding mt-20 fw-light">¡Súper! Vuelve cuando quieras</p>
								</div>
								<div id="helpCenterFeedbackTrueDescription" class="centro-de-ayuda-feedback-true hide text-center">
							  	<p class="help-center__welcome__description nopadding mt-20 fw-light">¡Ayúdame tú!</p>
								</div>
							</div>
						</div>

						<figure class="personaImage visible-xs">
							<img class="nomargin" src="img/banner/persona-home-3.png" alt="">
						</figure>
					</div>
				  <div id="helpCenterFeedback" class="centro-de-ayuda-feedback hide text-center">
						<form action="#">
							<textarea class="form-control input-outline i fw-light" rows="7" placeholder="Escribe tus comentarios"></textarea>
						</form>
						<p class="ta-right">
							<button class="btn btn-primary morado-chicle-bg">Enviar</button>
						</p>
					</div>
				</div>
				<div class="personaImage col-lg-7 col-md-5 hidden-xs">
					<img class="nomargin" src="img/banner/persona-home-3.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<section class="centro-ayuda-related__links se-slope">
		<div class="centro-ayuda-related__links__container container se-content">
			<h3 class="centro-ayuda-related__title morado-plain uc ta-center">Links relacionados</h3>
			<div class="centro-ayuda-related__links__row row container-md">
				<div class="centro-ayuda-related__links__col col-md-6 col-sm-12">
					<ul>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Planes Multimedia</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Chip Prepago</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Recargar tu prepago</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Internet Móvil y Hogar</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
					</ul>
				</div>
				<div class="centro-ayuda-related__links__col col-md-6 col-sm-12">
					<ul>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Cobertura</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>4G</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Nuestras Sucursales</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
						<li class="wow animated fadeInUp">
							<a href="#">
								<p>Ir a <strong>Roaming</strong> <i class="fa fa-angle-right visible-xs"></i> </p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<hr class="separador-home visible-xs">

	<section class="centro-ayuda-otra-pregunta">
		<div class="centro-ayuda-otra-pregunta__container container-sm">
			<h3 class="morado-plain uc ta-center">Busca otra pregunta</h3>
			<form action="#">
				<div class="form-group ">
					<input type="text" class="form-control centro-ayuda-search centro-ayuda-search-alt autocenter pb-10 pt-10" placeholder="Ingresa tu pregunta...">
				</div>
			</form>
		</div>
	</section>

	<div class="centro-ayuda-home">
		<h3 class="uc ta-center lineheight120 morado-plain">Otras categorías</h3>
		<div class="centro-ayuda__categories visible-xs">
			<form action="#">
				<div class="col-xs-12">
					<select class="form-control select-caret">
					  <option selected="">Navegación</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				</div>
			</form>
		</div>
		<div class="container cardsContainer hidden-xs">
			<div class="row">
				<div class="col-lg-4 ta-center">
					<div class="item wow  fadeInUp">
						<img src="img/home/ico-equipos-desktop.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Telefonía Móvil</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Conoce lo esencial sobre planes, prepago, roaming e internet.</p>
					</div>
				</div>
				<div class="col-lg-4 ta-center">
					<div class="item wow  fadeInUp" data-wow-offset="200">
						<img src="img/home/ico-planes-desktop.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Navegación</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Encuentra info sobre red 3G y 4G, señal y cobertura de WOM.</p>
					</div>
				</div>
				<div class="col-lg-4 ta-center">
					<div class="item wow  fadeInUp" data-wow-offset="350">
						<img src="img/home/ico-sucursales-desktop.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Portabilidad</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Resuelve dudas de portabilidad para planes y prepago.</p>
					</div>
				</div>
			</div>
			<div class="row mb-40">
				<div class="col-lg-4 ta-center">
					<div class="item wow  fadeInUp">
						<img src="img/home/ico-desktop-configuracion.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Configuración</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Configura tus equipos celulares y equipos de Wifi Móvil.</p>
					</div>
				</div>
				<div class="col-lg-4 ta-center">
					<div class="item wow  fadeInUp" data-wow-offset="200">
						<img src="img/home/ico-desktop-serviciotecnico.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Servicio Técnico</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Soluciona fallas de configuración o bloqueos en tu celular.</p>
					</div>
				</div>
				<div class="col-lg-4 ta-center">
					<div class="item wow  fadeInUp" data-wow-offset="350">
						<img src="img/home/ico-desktop-sucursalonline.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Sucursal Online</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Aprende a administrar tu cuenta y tus servicios.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

	{% include "partials/footer.html" %}

{% endblock %}