{% extends "layout.nunjucks" %}
{% set title = "Portabilidad - Estado de portabilidad" %}

{% block content %}

	{% include "partials/navbar.html" %}

	{% include "partials/header-centro-de-ayuda.html" %}

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="ta-center morado-plain uc fw-semibold fs-large">Puedo darte lo que necesitas</h4>
				<form action="#">
					<div class="form-group">
						<input type="text" class="form-control centro-ayuda-search centro-ayuda-search-alt autocenter" placeholder="Ingresa tu pregunta...">
					</div>
				</form>
			</div>
		</div>
		<div class="row centro-ayuda-welcome">
			<div class="col-xs-8">
				<p class="fw-normal">Cuéntame tu duda y te enseño. Nuestros clientes me recomiendan para resolver cachitos de configuración de tu celu, entre otras cosas.</p>
			</div>
			<div class="centro-ayuda-robo col-xs-12">
				<img class="icon-flaite" src="img/icons/ico-flaite.svg" alt="">
				<p class="fw-semibold">¿Te robaron el celu? ¿Se te perdió? Rápido, comunicate con nosotros.</p>
			</div>
		</div>
	</div>

	<div class="morado-plain-bg">
		<div class="container">
			<div class="row">
				<h4 class="white uc ta-center">ENCUENTRA EN CADA SECCIÓN PREGUNTAS FRECUENTES SOBRE NUESTROS SERVICIOS</h4>
					<ul class="centro-ayuda-navmap">
						<li>
							<a href="#">
								<img src="img/centro-de-ayuda/ico-telefoniamovil.svg" alt="" class="icon">
								<h5 class="uc">Telefonía Móvil</h5>
								<p>Conoce lo esencial sobre planes, prepago, roaming e internet.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/centro-de-ayuda/ico-navegacion.svg" alt="" class="icon">
								<h5 class="uc">Navegación</h5>
								<p>Encuentra info sobre red 3G y 4G, señal y cobertura de WOM.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/centro-de-ayuda/ico-portabilidad.svg" alt="" class="icon">
								<h5 class="uc">Portabilidad</h5>
								<p>Resuelve dudas de portabilidad para planes y prepago.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="icon" src="img/centro-de-ayuda/ico-configequipos.svg" alt="">
								<h5 class="uc">Configuración de Equipos</h5>
								<p>Configura tus equipos celulares y equipos de Wifi Móvil.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="icon" src="img/centro-de-ayuda/ico-serviciotecnico.svg" alt="">
								<h5 class="uc">Servicio Técnico</h5>
								<p>Soluciona fallas de configuración o bloqueos en tu celular.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="icon" src="img/centro-de-ayuda/ico-sucursalonline.svg" alt="">
								<h5 class="uc">Sucursal Online</h5>
								<p>Aprende a administrar tu cuenta y tus servicios.</p>
							</a>
						</li>
					</ul>	
			</div>
		</div>
	</div>
	
	<div class="centro-ayuda-faq">
		<h4 class="uc ta-center morado-plain fs-large fw-semibold">Top 5 Preguntas Frecuentes</h4>
		<ul>
			<li>
				<a href="#" class="fw-normal"><span>1</span> ¿Cómo puedo cambiar mi equipo?</a>
			</li>
			<li><a href="#" class="fw-normal"><span>2</span> ¿Cuáles son los requisitos para contratar un plan?</a></li>
			<li><a href="#" class="fw-normal"><span>3</span> ¿Necesito cambiar el chip de mi equipo para navegar en 4G?</a></li>
			<li><a href="#" class="fw-normal"><span>4</span> ¿Puedo renovar mi equipo antes de los 18 meses de arriendo?</a></li>
			<li><a href="#" class="fw-normal"><span>5</span> ¿Que son los Gigas?</a></li>
		</ul>
	</div>

	<hr class="separador-home">

	<div class="centro-ayuda-social">
		<h4 class="uc ta-center morado-plain fs-large fw-semibold">Que no te la cuenten, ¡Síguenos!</h4>
		<ul>
			<li>
				<a href="#">
					<i class="fa fa-facebook"></i> Concursos y Promos
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-twitter"></i> Ayuda y Contingencia
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-instagram"></i> Selfies dándolo todo
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-youtube"></i> Mira la revolución
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-linkedin"></i> Buscamos talentos
				</a>
			</li>
		</ul>
	</div>

</div>

	{% include "partials/footer.html" %}

{% endblock %}