{% extends "layout.nunjucks" %}
{% set title = "Login Ejecutivo - Desktop" %}

{% block content %}

{% include "partials/navbar.html" %}

	<div class="login-ejecutivo-mockup--header">
		&nbsp;
	</div>

	<div class="login-ejecutivo-holder">
		<div class="container">
			<div class="row">
				<div class="login-ejecutivo--top"></div>
				<div class="col-lg-4 col-lg-offset-4 ta-center">
					<div id="camposvacios" class=" fs-small alert alert-danger ta-left" role="alert">
						<i class="fa fa-exclamation-triangle"></i> Error al ingresar <strong>tu contraseña o usuario</strong>
					</div>
					<form action="#">
						<div class="form-group input-effect">
							<span class="miniLabel">Nombre de usuario</span>
							<input type="text" class="form-control" id="username" placeholder="Nombre de usuario">
						</div>
						<div class="form-group input-effect">
							<span class="miniLabel">Contraseña</span>
							<input type="password" class="form-control" id="password" placeholder="Contraseña">
						</div>
						<button class="mt-40 btn btn-lg btn-primary fw-semibold">Inicia tu sesión</button>
					</form>
				</div>
				<div class="login-ejecutivo--bottom"></div>
			</div>
		</div>
	</div>

{% endblock %}