{% extends "layout.nunjucks" %}
{% set title = "Información Personal - Desktop" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold fs-normal uc">Información Personal de Clientes</h3>	
			</div>
		</div>
	</header>

	<div class="areaprivada-holder">
		<div class="container">
			<div class="row">
				<div class="crumbs fs-small">
					<p class="nomargin nopadding">Estás en: <a href="#">Inicio</a> <i class="fa fa-angle-right"></i> <strong>Mis datos</strong></p>
				</div>
				<h3 class="uc morado-plain nomargin nopadding mb-40">Información Personal</h3>
			</div>
		</div>
		<div class="container informacion-personal">
			<div class="row">
				<div class="col-sm-4">
					<div class="informacion-personal--item">
						<h5 class="nomargin nopadding text-muted mb-20">Datos Personales</h5>
						<ul>
							<li>
								<p class="fs-small lineheight100 fc-gray2">Nombres</p>
								<span class="morado-uva">Vicente Guillermo</span>
							</li>
							<li>
								<p class="fs-small lineheight100 fc-gray2">Apellidos</p>
								<span class="morado-uva">Gutiérrez Echeverría</span>
							</li>
							<li>
								<p class="fs-small lineheight100 fc-gray2">RUT</p>
								<span class="numbers">15.342.236-6</span>
							</li>
							<hr>
							<ul>
								<li>
									<p class="fs-small lineheight100 fc-gray2">Correo Electrónico</p>
									<span class="morado-uva">vicenteguillermo@lycos.com</span>
								</li>
							</ul>
							<hr>
						</ul>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="informacion-personal--item">
						<h5 class="nomargin nopadding text-muted mb-20">Dirección</h5>
						<ul>
							<li>
								<p class="fs-small lineheight100 fc-gray2">Calle</p>
								<span class="morado-uva">Avenida Pedro Aguirre Cerd</span>
							</li>
							<li class="half-width">
								<p class="fs-small lineheight100 fc-gray2">Número</p>
								<span class="morado-uva">33.456</span>
							</li>
							<li class="half-width">
								<p class="fs-small lineheight100 fc-gray2">Departamento</p>
								<span class="morado-uva">131-D</span>
							</li>
							<li class="half-width">
								<p class="fs-small lineheight100 fc-gray2">Comuna</p>
								<span class="morado-uva">Arica</span>
							</li>
							<li class="half-width">
								<p class="fs-small lineheight100 fc-gray2">Región</p>
								<span class="morado-uva">Arica y Parinacota</span>
							</li>
						</ul>
					</div>
					<div class="informacion-personal--item">
						<div class="row">
							<div class="col-sm-5 col-sm-offset-3 fs-base">
								<p class="lineheight120 pt-10 fs-smalish">Deseas modificar<br>la contraseña de tu cuenta?</p>
							</div>
							<div class="col-sm-4">
								<button class="btn mt-20 btn-primary">Modifica tu contraseña</button>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% include "partials/footer.html" %}

{% endblock %}