{% extends "layout.nunjucks" %}
{% set title = "Historial Facturas" %}

{% block content %}

	{% include "partials/navbar.html" %}

	{% include "partials/private-historial-facturas-modal.html" %}

	{% include "partials/header-historial-facturas.html" %}

	

	<div class="container">
		
		{% include "partials/private-historial-facturacion-cabecera-deuda.html" %}
		
		<div class="row">
			<div class="col-xs-12">
				

				{% include "partials/private-historial-facturacion-meses.html" %}	


			</div>
		</div>
		<br>
		<div class="ta-center pt-20">
			<i class="fa morado-plain fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
		</div>

		<!-- <div class="row pt-10">
			<div class="col-xs-12 text-center">
				<div class="ta-center fw-normal text-muted">
	                <p class="pb-5">Descarga el total de todas tus facturas emitidas</p>
	            </div>
				<button class="btn btn-lg btn-success fw-semibold"><i class="fa fa-download"></i> Descargar</button>
			</div>
	    </div> -->

	</div>

	{% include "partials/footer.html" %}

{% endblock %}