{% extends "layout.nunjucks" %}
{% set title = "Historial de Recargas" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
	<div class="bg-modulo bg-modulo-short modulo-portabilidad">
		<div class="container">
			<h3 class="ta-center white fw-semibold uc">Historial de Recargas</h3>
			<h4 class="ta-center fw-normal white fs-base">Revisa tu histórico de recargas</h4>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-xs-12 select-phone">
			<select class="form-control select-caret fw-bold">
			  <option selected>+56 988776655</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
	</div>
	<div class="row ta-center">
		<div class="col-xs-12">
			<div class="modulo-saldo">
				<h4 class="fw-normal nopadding">Tu saldo actual:</h4>
				<h2 class="modulo-saldo-cash">
					<small>$</small>7.000
				</h2>
				<h4 class="fw-normal nopadding">Tu recarga promedio mensual es de:</h4>
				<h2 class="modulo-saldo-promedio">
					<small>$</small><span class="fw-normal">20.000</span>
				</h2>
			</div>
		</div>
	</div>
	<div class="row ta-center">
		<div class="col-xs-12">
			<div class="well modulo-planes-convenientes">
				<p>Descubre un plan más conveniente</p>
				<p>
					<button type="button" href="#" class="btn btn-primary fs-large fw-semibold">Ver planes</button>
				</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="container">
	
	<ul class="calendarCards">
		<li class="item wow fadeInUp">
			<div class="cards-head">
				<div class="cards-head-mes uc">
					<small>Mes Actual</small>
					<strong>Julio</strong>
				</div>
				<div class="cards-head-total">
					<strong class="fw-semibold">Total</strong>
					<span class="fw-bold">$20.000</span>
				</div>
			</div>
			<div class="cards-content">
				<div class="cards-content-item">
					<div class="cards-content-item-date ta-center fw-bold">
						<span class="uc">Jul</span>
						25
					</div>
					<div class="cards-content-item-desc">
						<p>Medio de recarga</p>
						<p class="fw-semibold">Online</p>
					</div>
					<div class="cards-content-item-total">
						<p class="fw-semibold">$10.000</p>
					</div>
				</div>
				<div class="cards-content-item">
					<div class="cards-content-item-date ta-center fw-bold">
						<span class="uc">Jul</span>
						08
					</div>
					<div class="cards-content-item-desc">
						<p>Medio de recarga</p>
						<p class="fw-semibold">Online</p>
					</div>
					<div class="cards-content-item-total">
						<p class="fw-semibold">$10.000</p>
					</div>
				</div>
			</div>
		</li>

		<li class="item wow fadeInUp">
			<div class="cards-head">
				<div class="cards-head-mes uc">
					<strong>Mayo</strong>
				</div>
				<div class="cards-head-total">
					<strong class="fw-semibold">Total</strong>
					<span class="fw-bold">$20.000</span>
				</div>
			</div>
			<div class="cards-content">
				<div class="cards-content-item">
					<div class="cards-content-item-date ta-center fw-bold">
						<span class="uc">Jul</span>
						25
					</div>
					<div class="cards-content-item-desc">
						<p>Medio de recarga</p>
						<p class="fw-semibold">Unimarc Portugal</p>
					</div>
					<div class="cards-content-item-total">
						<p class="fw-semibold">$10.000</p>
					</div>
				</div>
				<div class="cards-content-item">
					<div class="cards-content-item-date ta-center fw-bold">
						<span class="uc">Jul</span>
						08
					</div>
					<div class="cards-content-item-desc">
						<p>Medio de recarga</p>
						<p class="fw-semibold">Cruz Verde Avda Matta</p>
					</div>
					<div class="cards-content-item-total">
						<p class="fw-semibold">$10.000</p>
					</div>
				</div>
			</div>
		</li>

		<li class="item wow fadeInUp">
			<div class="cards-head">
				<div class="cards-head-mes uc">
					<strong>Abril</strong>
				</div>
				<div class="cards-head-total">
					<strong class="fw-semibold">Total</strong>
					<span class="fw-bold">$20.000</span>
				</div>
			</div>
			<div class="cards-content">
				<div class="cards-content-item">
					<div class="cards-content-item-date ta-center fw-bold">
						<span class="uc">Jul</span>
						25
					</div>
					<div class="cards-content-item-desc">
						<p>Medio de recarga</p>
						<p class="fw-semibold">Unimarc Portugal</p>
					</div>
					<div class="cards-content-item-total">
						<p class="fw-semibold">$10.000</p>
					</div>
				</div>
				<div class="cards-content-item">
					<div class="cards-content-item-date ta-center fw-bold">
						<span class="uc">Jul</span>
						08
					</div>
					<div class="cards-content-item-desc">
						<p>Medio de recarga</p>
						<p class="fw-semibold">Cruz Verde Avda Matta</p>
					</div>
					<div class="cards-content-item-total">
						<p class="fw-semibold">$10.000</p>
					</div>
				</div>
			</div>
		</li>
	</ul>

	<div class="ta-center">
		<i class="fa morado-plain fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
	</div>

</div>

	{% include "partials/footer.html" %}

{% endblock %}