{% extends "layout.nunjucks" %}
{% set title = "Historial Contratos" %}

{% block content %}

	{% include "partials/navbar.html" %}

	
	<header>
		<div class="bg-modulo bg-modulo-short modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Contratos</h3>
				<h4 class="ta-center fw-normal white fs-base">Revisa tu histórico de tus servicios contratados</h4>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 select-phone">
				<select class="form-control select-caret fw-semibold morado-plain">
				  <option selected="">+56 988776655</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
		</div>
		
		<div class="row pt-10">
			<div class="col-xs-12">
				<div class="contracts-box wow fadeInUp">
					<h6 class="fw-semibold nopadding morado-plain"><i class="fa fa-file-text text-muted"></i> Plan control</h6>
					<hr class="nomargin">
					<div class="row">
						<div class="col-xs-6">
							<h6 class="fw-light nopadding small text-muted">Fecha de contrato</h6>
							<h6 class="fw-semibold nopadding text-muted">05/06/2016</h6>
						</div>
						<div class="col-xs-6 pt-20">
							<button class="btn-primary btn-large fw-semibold morado-chicle-bg pull-right mt-10"><i class="fa fa-download"></i> Descargar</button>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div class="row pt-10">
			<div class="col-xs-12">
				<div class="contracts-box wow fadeInUp">
					<h6 class="fw-semibold nopadding morado-plain"><i class="fa fa-file-text text-muted"></i> Equipo Iphone 6</h6>
					<hr class="nomargin">
					<div class="row">
						<div class="col-xs-6">
							<h6 class="fw-light nopadding small text-muted">Fecha de contrato</h6>
							<h6 class="fw-semibold nopadding text-muted">05/06/2016</h6>
						</div>
						<div class="col-xs-6 pt-20">
							<button class="btn-primary btn-large fw-semibold morado-chicle-bg pull-right mt-10"><i class="fa fa-download"></i> Descargar</button>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div class="row pt-10">
			<div class="col-xs-12">
				<div class="contracts-box wow fadeInUp">
					<h6 class="fw-semibold nopadding morado-plain"><i class="fa fa-file-text text-muted"></i> Actualización del plan</h6>
					<hr class="nomargin">
					<div class="row">
						<div class="col-xs-6">
							<h6 class="fw-light nopadding small text-muted">Fecha de contrato</h6>
							<h6 class="fw-semibold nopadding text-muted">05/06/2016</h6>
						</div>
						<div class="col-xs-6 pt-20">
							<button class="btn-primary btn-large fw-semibold morado-chicle-bg pull-right mt-10"><i class="fa fa-download"></i> Descargar</button>
						</div>
					</div>
				</div>	
			</div>
		</div>


		<div class="ta-center wow fadeInUp">
			<i class="fa morado-plain fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
		</div>

	</div>

	{% include "partials/footer.html" %}

{% endblock %}