{% extends "layout.nunjucks" %}
{% set title = "Home - Prueba de interacciones" %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Interacciones home</h3>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 ta-center">
				<h3 class="fw-normal uc morado-plain">Nueva App <strong class="fw-semibold">WOM</strong></h3>
				<p>No más vueltas. Hazla corta descubriendo:</p>
			</div>	
		</div>
		<div class="row">
			<div class="col-xs-4">
				<img src="img/banner/persona-home-1.png" alt="">
			</div>
			<div class="col-xs-8">
				<ul>
					<li>Una cosa</li>
					<li>Una cosa</li>
					<li>Una cosa</li>
				</ul>
			</div>
		</div>
	</div>

	{% include "partials/footer.html" %}

{% endblock %}