{% extends "layout.nunjucks" %}
{% set title = "Home - No WOMERS" %}


{% block content %}

	{% include "partials/navbar.html" %}

	<div id="carousel-home-nonwomers" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item ta-center active">
	      <img class="carousel-home-nonwomers promo-slide" src="img/home/slide-p9-home.png" alt="...">
	      <div class="carousel-caption">
	        <p>Lorem ipsum dolor sit amet</p>
	      </div>
	    </div>
	    <div class="item ta-center">
	      <img class="carousel-home-nonwomers promo-slide" src="img/home/slide-p9-home.png" alt="...">
	      <div class="carousel-caption">
	        <p>Consectetur adipiscing elit</p>
	      </div>
	    </div>
	    <div class="item ta-center">
	      <img class="carousel-home-nonwomers promo-slide" src="img/home/slide-p9-home.png" alt="...">
	      <div class="carousel-caption">
	        <p>Nunquam Titillandum</p>
	      </div>
	    </div>
	    <div class="item ta-center">
	      <img class="carousel-home-nonwomers promo-slide" src="img/home/slide-p9-home.png" alt="...">
	      <div class="carousel-caption">
	        <p>Alea acta est</p>
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-home-nonwomers" role="button" data-slide="prev">
	    <i class="fa fa-twitter"></i>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-home-nonwomers" role="button" data-slide="next">
	    <i class="fa fa-angle-right"></i>
	    <span class="sr-only">Next</span>
	  </a>

	</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-12 ta-center">
				<h3 class="fw-normal uc morado-plain">Nueva App <strong class="fw-semibold">WOM</strong></h3>
				<p>No más vueltas. Hazla corta descubriendo:</p>
			</div>	
		</div>
		<div class="row">
			<div class="col-xs-4">
				<img src="img/banner/persona-home-1.png" alt="">
			</div>
			<div class="col-xs-8">
				<ul>
					<li>Una cosa</li>
					<li>Una cosa</li>
					<li>Una cosa</li>
				</ul>
			</div>
		</div>
	</div>

	{% include "partials/footer.html" %}

{% endblock %}