{% extends "layout.nunjucks" %}
{% set title = "Prueba de Responsividad Modular" %}

{% block content %}
	


	{% include "partials/navbar.html" %}

	<div class="container">

		{% set title = "Mi Coso" %}
		{% include "partials/private-section-title.html" %}
		
		<div class="row">
			<div class='col-md-4'>
				{% set title = "Mi Plan" %}
				{% include "partials/private-section.html" %}
			</div>

			<div class='col-md-4'>
				{% set title = "Tu Coso" %}
				{% include "partials/private-section.html" %}
				<section class="well">
				<label >Seleccionar por</label>
				
					<div class="btn-group radio-select">
						<a href="#" class="uc btn btn-xs btn-default">centro de costo</a>
						<a href="#" class="uc btn btn-xs btn-default active">rut</a>
						<a href="#" class="uc btn btn-xs btn-default">teléfono</a>
					</div>
				
				<label class='mt-20'>Periodo a solicitar</label>
				
					<div class="btn-group radio-select">
						<a href="#" class="uc btn btn-xs btn-default">agosto</a>
						<a href="#" class="uc btn btn-xs btn-default active">julio</a>
						<a href="#" class="uc btn btn-xs btn-default">junio</a>
					</div>
				
				</section>
			</div>

			<div class='col-md-4'>
				{% set title = "Nuestro Coso" %}
				{% set btn = "cuchi cuchi" %}
				{% include "partials/private-section.html" %}
			
			</div>
		</div> <!-- end row -->
		<a class='btn btn-success btn-lg'>Cómo acceder a<br>WOM ROCKS</a>
	</div> <!-- end container -->
	
	{% include "partials/footer.html" %}


{% endblock %}