{% extends "layout.nunjucks" %}
{% set title = "Maquetas" %}

{% block content %}

	<div class='container maqueting' style="font-size: 13px;">
		<h1>Mockups</h1>
		<p>volver a <a href="../docs" class='btn btn-default tilt btn-xs press-fx'>womstrap</a></p>
		<hr>

		<h4>Sprint 1</h4>
		<ul>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="desktop-registro-visualizar-consumo-saldos-trafico.html">
				<i class="fa fa-desktop"></i>
				Visualizar Consumo y Saldos - Tráfico
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="portabilidad-home.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Portabilidad - Estado de portabilidad
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="portabilidad-paso-1.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Portabilidad Prepago - Prepago
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="servicio-tecnico-home.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Servicio Técnico - Home
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="servicio-tecnico-desglose.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Servicio Técnico - Desglose
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-datos-prepago.html">
					<i class="fa fa-mobile-phone"></i>
					Visualizar Datos usuario - Prepago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-datos-postpago.html">
					<i class="fa fa-mobile-phone"></i>
					Visualizar Datos usuario - Postpago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="desktop-registro-informacionpersonal-prepago.html">
					<i class="fa fa-desktop"></i>
					Visualizar Datos Usuario - Prepago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="desktop-registro-informacionpersonal-postpago.html">
					<i class="fa fa-desktop"></i>
					Visualizar Datos Usuario - Postpago
				</a>
			</li>
		</ul>

		<br>

		<h4>Sprint 2</h4>
		<ul>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-consumos-llamadas-prepago.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Visualizar consumos de llamadas - Prepago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-consumos-llamadas-postpago.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Visualizar consumo de llamadas - Postpago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="desktop-login-ejecutivo.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Login Ejecutivo WOMER
				</a>
			</li>
			<!-- <li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="login-ejecutivo-womer.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Login Ejecutivo WOMER
				</a>
			</li> -->
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="login-womer-sitio-privado-postpago.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Login WOMER - Postpago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="incomplete" href="login-womer-sitio-privado-postpago-restaurar-password.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Login WOMER - Postpago [contraseña]
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="centro-de-ayuda-home.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Centro de Ayuda - Home
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="centro-de-ayuda-contenido.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Centro de Ayuda - Pagina interior
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="incomplete" href="pago-facil-home.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Pago Fácil - Home
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="pago_facil_selecciona_cuenta.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Pago Fácil - Selecciona cuenta
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a href="pago_facil-seleciona_medio_de_pago.html">
					<i class="fa fa-mobile-phone"></i>
					Pago Fácil - Selecciona medio de pago
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a href="pago_facil_total_a_pagar.html">
					<i class="fa fa-mobile-phone"></i>
					Pago Fácil - Total a pagar
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a href="pago-facil-envio-exitoso.html">
					<i class="fa fa-mobile-phone"></i>
					Pago Fácil - Envío Exitoso
				</a>
			</li>
			<!-- <li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-informacion-de-cliente.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Información de cliente (Ejecutivo)
				</a>
			</li> -->
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="incomplete" href="visualizar-informacion-de-cliente-detalle.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Consulta Información de cliente
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="incomplete" href="#">
					Modificar información de cliente
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-consumos-datos-prepago.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Visualizar consumo de datos - Prepago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="incomplete" href="visualizar-consumos-datos-postpago.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Visualizar consumo de datos - Postpago
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="incomplete" href="#">
					Administrando Modificación de Clave de usuario
				</a>
			</li>
		</ul>

		<h4>Sprint 3</h4>
		<ul>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="home-womers.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Público - Home - <strong>Womers</strong> 
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="home-nonwomers.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Home - <strong>No Womers</strong>
				</a>
			</li>
			<li>
				<i class="fa fa-unlock" aria-hidden="true"></i>
				<a class="complete" href="wizard-plan.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Wizard de planes
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="complete" href="visualizar-informacion-de-plan.html">
					<i class="fa fa-mobile-phone"></i>
					<i class="fa fa-desktop"></i>
					Visualizar información de plan
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="historial-contratos.html">
					<i class="fa fa-mobile-phone"></i>
					Historial de Contratos
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="historial-facturas.html">
					<i class="fa fa-mobile-phone"></i>
					Historial de Facturas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="historial-sin-facturas.html">
					<i class="fa fa-mobile-phone"></i>
					Historial de Facturas - variante sin facturas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="desktop-historial-contratos.html">
					<i class="fa fa-desktop"></i>
					Historial Contratos
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="desktop-historial-facturas.html">
					<i class="fa fa-desktop"></i>
					Historial Facturas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="desktop-historial-sin-facturas.html">
					<i class="fa fa-desktop"></i>
					Historial Facturas - var sin facturas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="autoatencion-compra-de-bolsas.html">
					<i class="fa fa-mobile-phone"></i>
					Autoatención Compra de Bolsas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="autoatencion-compra-de-bolsas-var-datos-estas-comprando.html">
					<i class="fa fa-mobile-phone"></i>
					Autoatención Compra de Bolsas: Modales
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="#">
					Gestionando autoatención de recargas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="#">
					Gestionando autoatención de Servicios
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="desktop-registro-clientes.html">
					<i class="fa fa-desktop"></i>
					Registro de clientes
				</a>
			</li>

			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="historial-recargas.html">
					<i class="fa fa-mobile-phone"></i>
					Histórico de Recargas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a href="historial-recargas-servicio-caido.html">
					<i class="fa fa-mobile-phone"></i>
					Historial de Recargas - Servicio Caído
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="desktop-historial-recargas.html">
					<i class="fa fa-desktop"></i>
					Historial Recargas
				</a>
			</li>
			<li>
				<i class="fa fa-lock" aria-hidden="true"></i>
				<a class="muted" href="desktop-historial-recargas-servicio-caido.html">
					<i class="fa fa-desktop"></i>
					Historial Recargas - var servicio caído
				</a>
			</li>
		</ul>
	</div>
{% endblock %}