{% extends "layout.nunjucks" %}
{% set title = "Maquetas" %}

{% block content %}

	<div class='container'>
		<h1>Mockups</h1>
		<ul>
			<!-- <li><a href="example-page.html">Página de Ejemplo</a></li> -->
			<li><a href="pago-facil-home.html">Pago Fácil - Home</a></li>
			<li><a href="pago-facil-envio-exitoso.html">Pago Fácil - Envío Exitoso</a></li>
			<li><a href="portabilidad-home.html">Portabilidad - Home</a></li>
			<li><a href="portabilidad-paso-1.html">Portabilidad - Form - Multiples pasos</a></li>
			<li><a href="visualizar-informacion-de-plan.html">Visualizar información de plan</a></li>
			<li><a href="historial-recargas.html">Historial de Recargas</a></li>
			<li><a href="historial-recargas-servicio-caido.html">Historial de Recargas - Servicio Caído</a></li>
			<li><a href="autoatencion-compra-de-bolsas.html">Gestionar autoatención Compra de Bolsas</a></li>
			<li><a href="autoatencion-compra-de-bolsas-var-datos.html">Gestionar autoatención Compra de Bolsas - Variante Bolsa de Datos</a></li>
		</ul>	
	</div>

{% endblock %}