{% extends "layout.nunjucks" %}
{% set title = "Login WOMER Sitio Privado - Postpago - flujo cambiar contraseña" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<script>
		jQuery(document).ready(function () {
			jQuery('body').addClass('modal-open');
		});
	</script>

	<div id="saldo-operaciones" class="modal saldo-modal" tabindex="-1" role="dialog" style="display: block;">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header ta-center">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close" style="color: black;"></i></span></button>
	        <h4 class="modal-title">Recupera tu contraseña</h4>
	      </div>
	      <div class="modal-body">
	        <div class="modal-consumo-modulo mb-20">
	          <div class="row">
	            <div class="col-xs-12">
	              <!-- Nav tabs -->
	              <ul class="nav nav-tabs" role="tablist">
	                <li role="presentation" class="active"><a class="fs-small" href="#recupera-rut" aria-controls="home" role="tab" data-toggle="tab">RUT</a></li>
	                <li role="presentation"><a class="fs-small" href="#recupera-linea" aria-controls="profile" role="tab" data-toggle="tab">Línea</a></li>
	              </ul>

	              <!-- Tab panes -->
	              <div class="tab-content">
	                <div role="tabpanel" class="tab-pane active" id="recupera-rut" style="padding-top: 20px;">
	                  	<div class="recuperaRut-toggle form-group input-effect recupera-Actions">
							<span class="miniLabel">RUT</span>
							<input type="text" class="form-control" id="rut" placeholder="Rut">
						</div>
						<div class="recuperaRutConfirma recupera-confirma recupera-Actions" style="display: none;">
							<p>Te enviaremos tu contraseña al siguiente email:</p>
							<p class="fw-bold ta-center black">cxxxxxxxxxx@gmail.com</p>
							<p class="ta-center">
								<a onclick="$('.noesMiMail').show();$('.recuperaRutConfirma').hide();return false;" href="#" class="btn btn-link" style="text-transform: none;">¿Este no es tu mail?</a>
							</p>
						</div>
						<div class="noesMiMail recupera-Actions" style="display: none;">
							<h4 class="nopadding morado-plain fw-normal lineheight100 text-muted">Cambiar mi email (1 de 2)</h4>
							<p>Para cambiar tu email, primero necesitamos validar tu línea</p>
							<div class="form-group input-effect">
								<span class="miniLabel">Nº telefónico</span>
								<input type="text" class="form-control" id="rut" placeholder="Nº telefónico" onfocus="$('.botonesPrototipo button').hide();$('.recuperaRutActions-confirmarcambiomail').show();">
							</div>
						</div>
						<div class="noesMiMail-2 recupera-Actions" style="display: none;">
							<h4 class="nopadding morado-plain fw-normal lineheight100 text-muted">Cambiar mi email (2 de 2)</h4>
							<p>Para cambiar tu email, primero necesitamos validar tu línea</p>
							<div class="form-group input-effect">
								<span class="miniLabel">Nº telefónico</span>
								<input type="text" class="form-control" id="rut" placeholder="Nº telefónico">
							</div>
						</div>
						<div class="recuperaRutExito recupera-exito recupera-Actions" style="display: none;">
							<h4 class="ta-center fw-semibold morado-plain nopadding">¡Listo!</h4>
							<i class="fa fa-paper-plane-o morado-plain" style="font-size: 11rem;width: 100%;text-align: center; margin: 20px auto;"></i>
							<p class="ta-center">Hemos enviado tu nueva contraseña a tu mail</p>
						</div>
						<div class="recuperaMailExito recupera-exito recupera-Actions" style="display: none;">
							<h4 class="ta-center fw-semibold morado-plain nopadding">¡Listo!</h4>
							<i class="fa fa-envelope-o morado-plain" style="font-size: 11rem;width: 100%;text-align: center; margin: 20px auto;"></i>
							<p class="ta-center">¡Email cambiado! Te hemos enviado tu nueva contraseña a ese email</p>
						</div>
	                </div>
	                <div role="tabpanel" class="tab-pane" id="recupera-linea" style="padding-top: 20px;">
	                  <div class="form-group input-effect">
							<span class="miniLabel">Línea</span>
							<input type="text" class="form-control" id="linea" placeholder="Línea">
						</div>
	                </div>
	              </div>  
	            </div>
	          </div>
	          <div class="row">
	          	<div class="col-xs-12 botonesPrototipo">
	          		<button onclick="$('.recupera-Actions').hide();$('.recuperaRutConfirma').show();$(this).hide();$('.recuperaRutActions-confirmaMail').show();return false;" class="btn-primary btn-lg fw-semibold morado-chicle-bg mt-20" style="width: 100%;">Continuar</button>
	          		<button onclick="$('.recupera-Actions').hide();$('.recupera-exito').show();$(this).hide();$('.recuperaRutActions-terminar').show();" class="recuperaRutActions-confirmaMail btn-primary btn-lg fw-semibold morado-chicle-bg mt-20" style="width: 100%; display: none;">Continuar</button>
	          		<button onclick="alert('fin!')" class="recuperaRutActions-terminar btn-primary btn-lg fw-semibold morado-chicle-bg mt-20" style="width: 100%; display: none;">Continuar</button>
	          		<button onclick="$('.recupera-Actions').hide();$('.noesMiMail-2').show();$(this).hide();$('.recuperaRutActions-fincambioMail').show();" class="recuperaRutActions-confirmarcambiomail btn-primary btn-lg fw-semibold morado-chicle-bg mt-20" style="width: 100%; display: none;">Solicitar código SMS</button>
	          		<button onclick="$('.recupera-Actions').hide();$('.recuperaMailExito').show(); $(this).html('Continuar'); return false;" class="recuperaRutActions-fincambioMail btn-primary btn-lg fw-semibold morado-chicle-bg mt-20" style="width: 100%; display: none;">Cambiar mi mail</button>
	          		<p class="sms-confirm nomargin nopadding ta-center mt-20 morado-plain" style="display: none;">Te enviaremos un SMS con un código maestro</span>
	          	</div>
	          </div>
	        </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<header>
		<div class="bg-modulo modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold fs-normal uc">Sucursal Online</h3>
				<h4 class="ta-center fw-normal white fs-base">WOMER, ingresa a tu cuenta y descubre cómo administrar tu servicio</h4>
			</div>
		</div>
	</header>
	
	<div class="container home-pago-modulo consulta-datos-modulo">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-muted nopadding">Ingresa a tu cuenta por:</p>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a class="fs-small" href="#login-rut" aria-controls="home" role="tab" data-toggle="tab">RUT</a></li>
					<li role="presentation"><a class="fs-small" href="#login-telefono" aria-controls="profile" role="tab" data-toggle="tab">Nº de teléfono</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content ta-center">
					<div role="tabpanel" class="tab-pane active" id="login-rut">
						<div class="form-group input-effect">
							<span class="miniLabel">RUT</span>
							<input type="textnumber" class="form-control" id="loginrut" placeholder="RUT">
						</div>
						<div class="form-group input-effect">
							<span class="miniLabel">Contraseña</span>
							<input type="textnumber" class="form-control" id="passwordrut" placeholder="Contraseña">
						</div>
						<p>
							<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
							<button onclick="$('#errorcampos').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20">Iniciar sesión</button>
						</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="login-telefono">
						<div class="form-group invalidInput">
							<span class="miniLabel">Nº de Teléfono</span>
							<input type="textnumber" class="form-control" id="logintelefono" placeholder="Nº de Teléfono" onclick="$(this).val('+56 9');">
							<span class="helpText text-danger fs-small">Ingresa valores numéricos</span>
						</div>
						<div class="form-group input-effect">
							<span class="miniLabel">Contraseña</span>
							<input type="textnumber" class="form-control" id="passwordtelefono" placeholder="Contraseña">
						</div>
						<p>
							<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
							<button onclick="$('#erroruser').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20">Iniciar sesión</button>
						</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="col-xs-12 ta-center">
			<p class="text-muted nopadding mt-20">¿Tienes alguna duda? te ayudamos</p>
			<p class="nomargin nopadding mt-20">
				<a role="button" href="#" class="btn btn-default fw-semibold">Centro de ayuda</a>
			</p>
			<hr>
		</div>
	</div>

	<div class="container login-bienvenida-text">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="ta-center morado-plain uc fw-semibold">De este lado podrás:</h4>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-detalle-consumo.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">VER EL DETALLE DE TU CONSUMO</h5>
				<p class="overflowh">Revisa el uso de tu servicio cuantas veces quieras. Tendrás el detalle de tus llamadas, SMS, datos móviles, saldo, bolsas entre otros.</p>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-estado-cuenta.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">VER EL CONSUMO DE TU CUENTA</h5>
				<p class="overflowh">Conoce todo sobre tu cuenta. Detalles de tu ciclo de facturación, pagos, entre otros.</p>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-pagar-facil.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">Pagar tu cuenta fácilmente</h5>
				<p class="overflowh">Revisa y paga online de manera rápida y segura tu servicio.</p>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-administrar-lineas.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">Administrar tus líneas</h5>
				<p class="overflowh">Ingresa y administra tus líneas o equipos contratados fácilmente..</p>
			</div>
		</div>
	</div>

	<div class="modal-backdrop fade in"></div>
	
	{% include "partials/footer.html" %}
{% endblock %}