{% extends "layout.nunjucks" %}
{% set title = "Login WOMER Sitio Privado - Postpago - flujo cambiar contraseña" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold fs-normal uc">Sucursal Online</h3>
				<h4 class="ta-center fw-normal white fs-base">WOMER, ingresa a tu cuenta y descubre cómo administrar tu servicio</h4>
			</div>
		</div>
	</header>
	
	<div class="container home-pago-modulo consulta-datos-modulo">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-muted nopadding">Ingresa a tu cuenta por:</p>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a class="fs-small" href="#login-rut" aria-controls="home" role="tab" data-toggle="tab">RUT</a></li>
					<li role="presentation"><a class="fs-small" href="#login-telefono" aria-controls="profile" role="tab" data-toggle="tab">Nº de teléfono</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content ta-center">
					<div role="tabpanel" class="tab-pane active" id="login-rut">
						<div class="form-group input-effect">
							<span class="miniLabel">RUT</span>
							<input type="textnumber" class="form-control" id="loginrut" placeholder="RUT">
						</div>
						<div class="form-group input-effect">
							<span class="miniLabel">Contraseña</span>
							<input type="textnumber" class="form-control" id="passwordrut" placeholder="Contraseña">
						</div>
						<p>
							<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
							<button onclick="$('#errorcampos').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20">Iniciar sesión</button>
						</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="login-telefono">
						<div class="form-group invalidInput">
							<span class="miniLabel">Nº de Teléfono</span>
							<input type="textnumber" class="form-control" id="logintelefono" placeholder="Nº de Teléfono" onclick="$(this).val('+56 9');">
							<span class="helpText text-danger fs-small">Ingresa valores numéricos</span>
						</div>
						<div class="form-group input-effect">
							<span class="miniLabel">Contraseña</span>
							<input type="textnumber" class="form-control" id="passwordtelefono" placeholder="Contraseña">
						</div>
						<p>
							<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
							<button onclick="$('#erroruser').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20">Iniciar sesión</button>
						</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="col-xs-12 ta-center">
			<p class="text-muted nopadding mt-20">¿Tienes alguna duda? te ayudamos</p>
			<p class="nomargin nopadding mt-20">
				<a role="button" href="#" class="btn btn-default fw-semibold">Centro de ayuda</a>
			</p>
			<hr>
		</div>
	</div>

	<div class="container login-bienvenida-text">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="ta-center morado-plain uc fw-semibold">De este lado podrás:</h4>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-detalle-consumo.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">VER EL DETALLE DE TU CONSUMO</h5>
				<p class="overflowh">Revisa el uso de tu servicio cuantas veces quieras. Tendrás el detalle de tus llamadas, SMS, datos móviles, saldo, bolsas entre otros.</p>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-estado-cuenta.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">VER EL CONSUMO DE TU CUENTA</h5>
				<p class="overflowh">Conoce todo sobre tu cuenta. Detalles de tu ciclo de facturación, pagos, entre otros.</p>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-pagar-facil.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">Pagar tu cuenta fácilmente</h5>
				<p class="overflowh">Revisa y paga online de manera rápida y segura tu servicio.</p>
			</div>
			<div class="col-md-12">
				<img src="img/login_womer/icon-administrar-lineas.svg" alt="" class="icon">
				<h5 class="morado-plain fw-semibold mt-20 uc nopadding">Administrar tus líneas</h5>
				<p class="overflowh">Ingresa y administra tus líneas o equipos contratados fácilmente..</p>
			</div>
		</div>
	</div>
	
	{% include "partials/footer.html" %}
{% endblock %}