{% extends "layout.nunjucks" %}
{% set title = "Login WOMER Sitio Privado - Postpago - flujo cambiar contraseña" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<!-- layout desktop -->
	<div class="desktop-layout hidden-xs">
		<div class="desktop-header">
			<div class="container-tablet">
				<div class="row">
					<div class="desktop-headerTitle col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ta-center">
						{% include "partials/navbar-desktop-inner.html" %}
						<h1 class="uc white">Sucursal Online</h1>
						<p>WOMER, ingresa a tu cuenta y descubre cómo administrar tu servicio.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container home-pago-modulo consulta-datos-modulo mb-60">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
					<p class="text-muted nopadding">Ingresa a tu cuenta por:</p>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a class="fs-small" href="#login-rut" aria-controls="home" role="tab" data-toggle="tab">RUT</a></li>
						<li role="presentation"><a class="fs-small" href="#login-telefono" aria-controls="profile" role="tab" data-toggle="tab">Nº de teléfono</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content ta-center">
						<div role="tabpanel" class="tab-pane active" id="login-rut">
							<div class="form-group input-effect">
								<span class="miniLabel">RUT</span>
								<input type="textnumber" class="form-control" id="loginrut" placeholder="RUT">
							</div>
							<div class="form-group input-effect">
								<span class="miniLabel">Contraseña</span>
								<input type="textnumber" class="form-control" id="passwordrut" placeholder="Contraseña">
							</div>
							<p>
								<button onclick="$('#errorcampos').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20 fw-semibold">Inicia tu sesión</button>
							</p>
								<p class="ta-center"><button class="btn-link iblock notextdecoration" data-toggle="modal" data-target="#cambia-password">¿Olvidaste tu contraseña?</a></button>
						</div>
						<div role="tabpanel" class="tab-pane" id="login-telefono">
							<div class="form-group invalidInput">
								<span class="miniLabel">Nº de Teléfono</span>
								<input type="textnumber" class="form-control" id="logintelefono" placeholder="Nº de Teléfono" onclick="$(this).val('+56 9');">
								<span class="helpText text-danger fs-small">Ingresa valores numéricos</span>
							</div>
							<div class="form-group input-effect">
								<span class="miniLabel">Contraseña</span>
								<input type="textnumber" class="form-control" id="passwordtelefono" placeholder="Contraseña">
							</div>
							<p>
								<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
								<button onclick="$('#erroruser').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20">Inicia tu sesión</button>
							</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<!-- layout mobile -->
	<div class="visible-xs">


		<header>
			<div class="bg-modulo modulo-portabilidad">
				<div class="container">
					<h3 class="ta-center white fw-semibold fs-normal uc">Sucursal Online</h3>
					<h4 class="ta-center fw-normal white fs-base">WOMER, ingresa a tu cuenta y descubre cómo administrar tu servicio</h4>
				</div>
			</div>
		</header>

		<div id="errorcampos" class="alert alert-danger" role="alert" style="display: none;">
			<i class="fa fa-exclamation-triangle"></i> Error al <strong>ingresar tu RUT o contraseña</strong>.
		</div>

		<div id="erroruser" class="alert alert-warning" role="alert" style="display: none;">
			<i class="fa fa-exclamation-triangle"></i> No tenemos un <strong>usuario con esos datos</strong>.
		</div>
		
		<div class="container home-pago-modulo consulta-datos-modulo">
			<div class="row">
				<div class="col-xs-12">
					<p class="text-muted nopadding">Ingresa a tu cuenta por:</p>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a class="fs-small" href="#login-rut" aria-controls="home" role="tab" data-toggle="tab">RUT</a></li>
						<li role="presentation"><a class="fs-small" href="#login-telefono" aria-controls="profile" role="tab" data-toggle="tab">Nº de teléfono</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content ta-center">
						<div role="tabpanel" class="tab-pane active" id="login-rut">
							<div class="form-group input-effect">
								<span class="miniLabel">RUT</span>
								<input type="textnumber" class="form-control" id="loginrut" placeholder="RUT">
							</div>
							<div class="form-group input-effect">
								<span class="miniLabel">Contraseña</span>
								<input type="textnumber" class="form-control" id="passwordrut" placeholder="Contraseña">
							</div>
							<p>
								<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
								<button onclick="$('#errorcampos').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20 fw-semibold">Inicia tu sesión</button>
							</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="login-telefono">
							<div class="form-group invalidInput">
								<span class="miniLabel">Nº de Teléfono</span>
								<input type="textnumber" class="form-control" id="logintelefono" placeholder="Nº de Teléfono" onclick="$(this).val('+56 9');">
								<span class="helpText text-danger fs-small">Ingresa valores numéricos</span>
							</div>
							<div class="form-group input-effect">
								<span class="miniLabel">Contraseña</span>
								<input type="textnumber" class="form-control" id="passwordtelefono" placeholder="Contraseña">
							</div>
							<p>
								<a href="#" class="btn-link notextdecoration">¿Olvidaste tu contraseña?</a>
								<button onclick="$('#erroruser').slideToggle();return false;" class="btn btn-lg btn-primary morado-chicle-bg mt-20">Inicia tu sesión</button>
							</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="col-xs-12 ta-center">
				<p class="text-muted nopadding mt-20">¿Tienes alguna duda? te ayudamos</p>
				<p class="nomargin nopadding mt-20">
					<a role="button" href="#" class="btn btn-default fw-semibold">Centro de ayuda</a>
				</p>
				<hr>
			</div>
		</div>

	</div>

	<!-- agnostic -->

	<div class="container login-bienvenida-text">
			<div class="row">
				<div class="col-xs-12">
					<h4 class="morado-plain uc fw-normal ta-center">De este lado podrás:</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="img/login_womer/icon-detalle-consumo.svg" alt="" class="icon">
					<h5 class="morado-plain fw-semibold uc nopadding nomargin mb-20">VER EL DETALLE DE TU CONSUMO</h5>
					<p class="overflowh">Revisa el uso de tu servicio cuantas veces quieras. Tendrás el detalle de tus llamadas, SMS, datos móviles, saldo, bolsas entre otros.</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<img src="img/login_womer/icon-estado-cuenta.svg" alt="" class="icon">
					<h5 class="morado-plain fw-semibold uc nopadding nomargin mb-20">VER EL CONSUMO DE TU CUENTA</h5>
					<p class="overflowh">Conoce todo sobre tu cuenta. Detalles de tu ciclo de facturación, pagos, entre otros.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="img/login_womer/icon-pagar-facil.svg" alt="" class="icon">
					<h5 class="morado-plain fw-semibold uc nopadding nomargin mb-20">Pagar tu cuenta fácilmente</h5>
					<p class="overflowh">Revisa y paga online de manera rápida y segura tu servicio.</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<img src="img/login_womer/icon-administrar-lineas.svg" alt="" class="icon">
					<h5 class="morado-plain fw-semibold uc nopadding nomargin mb-20">Administrar tus líneas</h5>
					<p class="overflowh">Ingresa y administra tus líneas o equipos contratados fácilmente..</p>
				</div>
			</div>
		</div>
	
	{% include "partials/footer.html" %}
{% endblock %}