{% extends "layout.nunjucks" %}
{% set title = "Login Ejecutivo WOMER" %}

{% block content %}

	{% include "partials/navbar.html" %}

	{% include "partials/header-login-ejecutivo.html" %}

	<section class="login-ejecutivo-womer se-slope">
		<div class="login-ejecutivo-womer__container se-content">
			<div class="alert-container container-420">
				<div class="alert alert-danger fs-small" role="alert">
					<i class="fa fa-exclamation-circle"></i> <span>Error al ingresar <strong>tu contraseña o usuario</strong></span>
				</div>
			</div>

			<div class="login-ejecutivo-womer__form container-300">
				<form action="#">
					<div class="form-group invalidInput">
						<span class="miniLabel">Usuario</span>
						<input type="text" class="form-control" id="usuario" placeholder="Usuario">
					</div>
					<div class="form-group invalidInput">
						<span class="miniLabel">Contraseña</span>
						<input type="password" class="form-control" id="password" placeholder="Contraseña">
					</div>
					<div class="ta-center">
						<button class="btn btn-primary btn-lg fw-semibold" onclick="$('#camposvacios').slideToggle();">Inicia tu sesión</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	{% include "partials/footer.html" %}

{% endblock %}