{% extends "layout.nunjucks" %}
{% set title = "Pago Fácil - Selecciona medio de pago" %}

{% block content %}

  {% include "partials/navbar.html" %}
  {% include "partials/header-pago-facil-short.html" %}

        <div class="container">
            <div class="row ta-center">
              <h4 class="fw-semibold morado-plain">SELECCIONA<br />MEDIO DE PAGO</h4>
            </div>
            <div class="row">
              <div class="col-xs-2">
                <img style="margin-left: 10px;" src="img/pago_facil/ico-paga-movil.svg" alt="">
              </div>
              <div class="col-xs-10"><p>Estos medios de pago funcionan perfecto a través del móvil.</p></div>
            </div>
            <div class="row ta-center">
              <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-webpay-tarjetas.jpg" alt=""></p>
              <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con Webpay</button></p>
            </div>
            <div class="row ta-center">
              <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-servipag.jpg" alt=""></p>
              <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con Servipag</button></p>
            </div>
            <div class="row">
              <div class="col-xs-2" style="padding: 0 10px;">
                <img src="img/pago_facil/ico-paga-compu.svg" style="margin-left: 10px;" alt="">
              </div>
              <div class="col-xs-10"><p>Para pagar con estos medios te recomendamos hacerlo desde el computador.</p></div>
            </div>
            <div class="row ta-center">
              <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-santander.jpg" alt=""></p>
              <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con Santander</button></p>
            </div>
            <div class="row ta-center">
              <p class="nomargin nopadding"><img class="center-block" src="../../img/pago_facil/logo-bci.jpg" alt=""></p>
              <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con BCI</button></p>
            </div>
            <div class="row ta-center">
              <p><button class="btn btn-link btn-link-success fw-semibold fs-medium">Salir de medios de pago</button></p>
            </div>
        </div>
          {% include "partials/footer.html" %}


{% endblock %}