{% extends "layout.nunjucks" %}
{% set title = "Pago Fácil - Selecciona medio de pago" %}

{% block content %}

  {% include "partials/navbar.html" %}
  {% include "partials/header-pago-facil-short.html" %}

        <div class="container">
            <div class="row ta-center">
              <h4 class="fw-semibold morado-plain uc">Selecciona medio de pago</h4>
            </div>
            <div class="row">
            
              <div class="col-md-6 col-lg-6">
                <img class="pull-left mr-20" src="img/pago_facil/ico-paga-movil.svg" alt="">
                <p>Estos medios de pago funcionan perfecto a través del móvil.</p>
                <div class="ta-center">
                  <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-webpay-tarjetas.jpg" alt=""></p>
                  <p><button class="btn btn-primary success fw-semibold">Pagar con Webpay</button></p>
                  <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-servipag.jpg" alt=""></p>
                  <p><button class="btn btn-primary success fw-semibold">Pagar con Servipag</button></p>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <img class="pull-left mr-20" src="img/pago_facil/ico-paga-compu.svg" alt="">
                <p>Para pagar con estos medios te recomendamos hacerlo desde el computador.</p>
                <div class="ta-center">
                  <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-santander.jpg" alt=""></p>
                  <p><button class="btn btn-primary success fw-semibold">Pagar con Santander</button></p>
                  <p class="nomargin nopadding"><img class="center-block" src="img/pago_facil/logo-bci.jpg" alt=""></p>
                  <p><button class="btn btn-primary success fw-semibold">Pagar con BCI</button></p>
                </div>
              </div>

              <div class="row ta-center">
                <p><button class="btn btn-link btn-link-success fw-semibold">Salir de medios de pago</button></p>
              </div>
          </div>
        </div>
          {% include "partials/footer.html" %}


{% endblock %}