{% extends "layout.nunjucks" %}
{% set title = "Pago Fácil - Selecciona medio de pago" %}

{% block content %}

  {% include "partials/navbar.html" %}
  {% include "partials/header-pago-facil-short.html" %}

        <div class="container">
          <div class="row ta-center">
            <h4 class="fw-semibold morado-plain">SELECCIONA MEDIO DE PAGO</h4>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="pago-facil-desglose-select-cuenta">
                {% include "partials/modulo-selecciona-cuenta-pagar.html" %}
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="pago-facil-desglose-select-cuenta">
                {% include "partials/modulo-selecciona-cuenta-pagar.html" %}
              </div>
            </div>
          </div>
        </div>
          {% include "partials/footer.html" %}


{% endblock %}