{% extends "layout.nunjucks" %}
{% set title = "Pago Fácil - Home" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>          
		<div class="bg-modulo modulo-pagofacil">
			<div class="container">
				<h3 class="ta-center fw-semibold white uc">PAGO FÁCIL</h3>
				<h4 class="ta-center fw-normal white fs-base">De este lado puedes pagar tu cuenta online. Hazla corta con pago fácil de forma rápida y segura para seguir volando en 4G</h4>
			</div>
		</div>
	</header>

	<div class="formPago-container bajada-morada">
		<div class="embed-responsive embed-responsive-16by9">
		      <iframe class="embed-responsive-item" src="../pago-facil-form/index.html"></iframe>
		</div>
	</div>

	<div class="container">
		<div class="row ta-center">
			<h4 class="fw-semibold morado-plain">OTRAS FORMAS DE PAGO</h4>
		</div>

		<div class="row marginbottom">
			<div class="col-xs-2">
				<img src="../womstrap/wom-base/img/pago_facil/ico-sucursal.svg" alt="">
			</div>
			<div class="col-xs-10">
				<h6 class="morado-plain fw-semibold nomargin nopadding">SUCURSAL ONLINE</h6>
				<p>Revisa tu boleta y paga desde tu cuenta.</p>
			</div>
		</div>
		<div class="row marginbottom">
			<div class="col-xs-2">
				<img src="../womstrap/wom-base/img/pago_facil/ico-pago-online.svg" alt="">
			</div>
			<div class="col-xs-10">
				<h6 class="morado-plain fw-semibold nomargin nopadding">PAGOS ONLINE</h6>
				<p>Paga de manera segura desde servipag.com, sencillito.com y presto.cl</p>
			</div>
		</div>
		<div class="row marginbottom">
			<div class="col-xs-2">
				<img src="../womstrap/wom-base/img/pago_facil/ico-pago-online.svg" alt="">
			</div>
			<div class="col-xs-10">
				<h6 class="morado-plain fw-semibold nomargin nopadding">PAGOS AUTOMÁTICOS</h6>
				<p>Paga tu cuenta autimáticamente con tarjetas de crédito (PAT)
				</p>
			</div>
		</div>
		<div class="row modulo-morado">
			<div class="ta-center">
				<h4 class="fw-semibold">PAGOS PRESENCIALES</h4>
			</div>
			<div class="col-xs-12 item">
				<h6 class="fw-semibold">BANCOS</h6>
				<small>WOMER cancela tus cuentas de forma electrónica en los siguientes bancos:</small>
				<img class="svg-blanco margintop p-10" src="../wom-base/img/pago_facil/bancos-1.svg" alt="">
			</div>
			<div class="col-xs-12 item">
				<h6 class="fw-semibold">CAJAS</h6>
				<small>WOMER cancela tus cuentas de forma electrónica en las siguientes cajas:</small>
				<img class="svg-blanco margintop p-10" src="../wom-base/img/pago_facil/bancos-2.svg" alt="">
			</div>
		</div>
	</div>


	{% include "partials/footer.html" %}

{% endblock %}