{% extends "layout.nunjucks" %}
{% set title = "Pago Fácil - Pago exitoso" %}

{% block content %}

  {% include "partials/navbar.html" %}
  {% include "partials/header-pago-facil-short.html" %}
<div class="row ta-center">
              <h3 class="fw-semibold morado-plain ta-center uc lineheight120">Bacán!<br> tu pago fue exitoso</h3>
            </div>
        <img src="img/icons/ico-pagado-stamp.svg" alt="" class="pagadoStamp">

        <div class="container">
            <div class="row ta-center">
              <ul class="mensajes-reporte-pago">
                <li>
                  <span>Nº comprobante:</span><span><strong>87998782</strong></span>
                </li>
                <li>
                  <span>RUT:</span><span><strong>16630097-3</strong></span>
                </li>
                <li>
                  <span>Fecha de pago:</span><span><strong>05-08-2015</strong></span>
                </li>
                <li>
                  <span>Monto pagado:</span><span><strong>$187.239</strong></span>
                </li>
                <li>
                  <span>Medio de pago:</span><span><strong>Webpay</strong></span>
                </li>
                <li>
                  <span>Tipo de pago:</span><span><strong>Débito</strong></span>
                </li>
                <li>
                  <span>Tipo de transacción:</span><span><strong>Pago</strong></span>
                </li>
                <li>
                  <span>Tipo de cuotas:</span><span><strong>Sin cuotas</strong></span>
                </li>
                <li>
                  <span>Número de cuotas:</span><span><strong>0</strong></span>
                </li>
                <li>
                  <span>Código autorización MP:</span><span><strong>123124</strong></span>
                </li>
              </ul>
              <p><button class="btn btn-success fw-semibold">Enviar comprobante al correo</button></p>
            </div>
        </div>
  {% include "partials/footer.html" %}

{% endblock %}
