{% extends "layout.nunjucks" %}
{% set title = "Pago Fácil var Envío Exitoso" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>	
		<div class="bg-modulo modulo-pagofacil">
			<div class="container">
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row ta-center">
			<div class="mensajes-sesion">
				<p class="nomargin nopadding">Se envió un comprobante de pago al correo</p>
				<p class="nomargin nopadding"><strong>georgia.o.keefe@gmail.com</strong></p>
			</div>
		</div>
		<div class="row ta-center margintop">
			<p><button class="btn btn-link btn-link-success fw-semibold fs-medium">Ingresar otro RUT</button></p>
			<p><button type="submit" class="btn btn-primary success fs-medium">Ir a WOM.cl</button></p>
		</div>
	</div>

	{% include "partials/footer.html" %}

{% endblock %}