{% extends "layout.nunjucks" %}
{% set title = "Portabilidad - Portate Form multiples pasos" %}

{% block content %}

{% include "partials/navbar.html" %}

{% include "partials/header-portabilidad-pasos.html" %}

		<h3 class="uc fw-semibold ta-center nopadding nomargin mb-10 morado-plain">Prepago a prepago</h3>
	</div>
</div>
<div class="container">
	<ul id="stepper_portabilidad">
		<li class="stepperLED-paso1 active"><span>1</span></li>
		<li class="stepperLED-paso2"><span>2</span></li>
		<li class="stepperLED-paso3"><span>3</span></li>
		<li class="stepperLED-paso4"><span>4</span></li>
		<li class="stepperLED-paso5"><span>5</span></li>
	</ul>
</div>

<div id="camposvacios" class="alert alert-danger" role="alert" style="display: none;">
	<strong>Uno o más campos están vacíos</strong>. Recuerda que toda la información es necesaria.
</div>

<div class="container pl-30 pr-30">
	<div class="row">
		<div class="col-sm-12">
			<form id="portateForm" class="nopadding">
				<div id="portateForm-paso1" class="formPaso-stepper" data-nextStep="paso2" style="display: block;">

					<h4 class="fw-semibold uc mb-10 nopadding morado-plain">Ingresa tus datos</h4>

					<div id="captcha" class="mb-20">
						<small class="nopadding">Clic en <span class="skew">el candado</span> para continuar</small>
						<p class="nopadding mt-10">
							<a href="#" class="captchaLink">
								<i class="fa fa-music"></i>
							</a>
							<a href="#" class="captchaLink">
								<i class="fa fa-heart"></i>
							</a>
							<a href="#" class="captchaLink">
								<i class="fa fa-lock"></i>
							</a>
							<a href="#" class="captchaLink">
								<i class="fa fa-star"></i>
							</a>
							<a href="#" class="captchaLink">
								<i class="fa fa-paperclip"></i>
							</a>
						</p>
					</div>


					<div class="form-group">
						<label class="select fw-normal">
							<select>
								<option disabled="disabled" selected="selected">Compañia actual</option>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
						</label>
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Número de celular</span>
						<input type="textnumber" class="form-control" id="numerocelular" placeholder="Número de celular" onfocus="$(this).val('569');">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">IMEI</span>
						<input type="text" class="form-control" id="imeicelular" placeholder="IMEI">
						<p class="help-block fs-small skew lineheight120">Para obtener el IMEI marca *#06# desde tu celular.</p>
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Número de serie</span>
						<input type="text" class="form-control" id="seriecelular" placeholder="Numero de serie">
						<p class="help-block fs-small skew lineheight120">Revisa en la sección ajustes o configuración el número de serie de tu celular.</p>
					</div>
					<div class="row ta-center">
						<p><button type="button" class="btn btn-disabled fw-semibold nextStep">Continuar</button></p>
					</div>
				</div>

				<div id="portateForm-paso2" class="formPaso-stepper" data-nextStep="paso3" style="display: none;">
					<h4 class="fw-semibold morado-plain mt-20 uc">¿Quién eres?</h4>
					<div class="form-group input-effect">
						<span class="miniLabel">Nombre</span>
						<input type="text" class="form-control" id="nombre" placeholder="Nombre">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Apellido</span>
						<input type="text" class="form-control" id="apellido" placeholder="Apellido">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">RUT</span>
						<input type="text" class="form-control" id="rut" placeholder="Rut">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Email</span>
						<input type="text" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Teléfono</span>
						<input type="text" class="form-control" id="telefono" placeholder="Teléfono">
					</div>
					<h4 class="fw-semibold morado-plain ">¿DÓNDE VIVES?</h4>
					<div class="form-group input-effect">
						<span class="miniLabel">Dirección</span>
						<input type="text" class="form-control" id="direccion" placeholder="Dirección">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Número</span>
						<input type="text" class="form-control" id="numero" placeholder="Número">
					</div>
					<div class="form-group input-effect">
						<span class="miniLabel">Departamento</span>
						<input type="text" class="form-control" id="departamento" placeholder="Departamento">
					</div>
					<div class="form-group">
						<label class="select fw-normal">
							<select>
								<option disabled="disabled" selected="selected">Region</option>
								<option>Region 0</option>
								<option>Region 1</option>
								<option>Region 2</option>
								<option>Region 3</option>
								<option>Region 4</option>
							</select>
						</label>
					</div>
					<div class="form-group">
						<label class="select fw-normal">
							<select>
								<option disabled="disabled" selected="selected">Comuna</option>
								<option>Comuna 0</option>
								<option>Comuna 1</option>
								<option>Comuna 2</option>
								<option>Comuna 3</option>
								<option>Comuna 4</option>
							</select>
						</label>
					</div>
					
					<h4 class="fw-semibold morado-plain uc nopadding">CÉDULA DE IDENTIDAD</h4>
					<br>
					<div class="form-group input-effect">
						<span class="miniLabel">Ingresa tu n° de serie/documento de tu cédula de identidad</span>
						<input type="text" class="form-control" id="cedula" placeholder="Ingresa tu n° de serie/documento"></input>
						<p class="help-block fs-small skew">El número de serie de tu cédula se encuentra al reverso, mientras que el número de documento en cédulas nuevas esta junto a tu fecha de nacimiento.</p>
					</div>
					<h5 class="fw-small fw-semibold morado-plain ta-center">A continuación, necesitamos la imagen de tu cédula de identidad</h5>
					<div class="photoUpload">
						<div class="col-xs-10 nomargin">
							<div class="form-group input-effect"><span class="miniLabel">Adjunta cara frontal de tu carnet</span>
								<input onclick="$('#modal').show();" type="text" class="form-control" id="reversa" placeholder="Adjunta cara frontal de tu CI">
							</div>
						</div>
						<div class="col-xs-2 nopadding">
							<img class="ico" src="img/icons/ico-camara.svg" alt="">
						</div>
						<div class="col-xs-10 nomargin">
							<div class="form-group input-effect"><span class="miniLabel">Adjunta reverso de tu carnet</span>
								<input onclick="$('#modal').show();" type="text" class="form-control" id="reversa" placeholder="Adjunta cara trasera de tu CI">
							</div>
						</div>
						<div class="col-xs-2 nopadding">
							<img class="ico" src="img/icons/ico-camara.svg" alt="">
						</div>
					</div>
					<div class="row ta-center">
						<p><button type="button" class="btn btn-disabled nextStep fw-semibold">Continuar</button></p>
					</div>
				</div>

				<div id="portateForm-paso3" class="formPaso-stepper" data-nextStep="paso4" style="display: none;">
					<h4 class="fw-semibold ta-center morado-plain uc mt-20 ">Verificar propiedad del teléfono</h4>
						<p class="ta-center">Tranqui, para verificar que este número de teléfono te pertenece te enviaremos un un código vía SMS que deberás ingresar más abajo.</p>
						
					<div class="paso3A" style="display: block;">
						<div class="row ta-center mt-20">
							<p><button type="button" class="btn btn-success fw-semibold" onclick="$('#portateForm-paso3 .paso3A').slideUp();$('#portateForm-paso3 .paso3B').slideDown()">Solicitar código</button></p>
						</div>
					</div>

					<div class="paso3B" style="display: none;">
						<div class="row ta-center mt-20">
							<div class="form-group input-effect">
							<span class="miniLabel">Ingresa el código de verificación</span>
							<input type="text" class="form-control" id="nombre" placeholder="Ingresa el código de verificación">
						</div>
							<p><button type="button" class="btn btn-success btn-lg fw-semibold nextStep">Verificar código</button></p>
							<p><button type="button" class="btn btn-default btn-link fw-semibold notextdecoration nopadding nomargin mt--20" style="color: #ba007c;">Reenviar código de verificación</button></p>
						</div>
					</div>
				</div>

				<div id="portateForm-paso4" class="formPaso-stepper" data-nextStep="paso5" style="display: none;">
					<h4 class="fw-semibold ta-center morado-plain uc mt-20 ">¡Estas sólo a un paso!</h4>
					<p class="ta-center">Hemos recopilado los pasos necesarios para portarte.</p>
					
					<div class="row ta-center mt-20">
						<div class="col-xs-6">
							<p>
								<button type="button" class="btn btn-link fw-semibold">Cancelar</button>
							</p>
						</div>
						<div class="col-xs-6">
							<p><button type="button" class="btn btn-success fw-semibold nextStep">Portar</button></p>
						</div>
					</div>
				</div>

				<div id="portateForm-paso5" class="formPaso-stepper" style="display: none;">
					<h4 class="fw-semibold ta-center morado-plain uc mt-20 ">Portabilidad en curso</h4>
					<div class="row mb-20">
			          <div class="col-xs-2">
			             <img src="img/portabilidad/ico-darthvader.svg" alt="">
			          </div>
			          <div class="col-xs-10">
			            <h6 class="morado-plain fw-semibold nomargin nopadding">ABANDONANDO<br>EL DARK SIDE</h6>
			          </div>
			        </div>
			        <br>
					<p class="ta-center">Recuerda que si solicitas la portabilidad después de las 22 horas, esta será ejecutada en las 48 horas posteriores o el día subsiguiente.</p>
				</div>

			</form>
		</div>
	</div>
</div>
{% include "partials/footer.html" %}

{% endblock %}