{% extends "layout.nunjucks" %}
{% set title = "Portabilidad - Estado de portabilidad" %}

{% block content %}

	{% include "partials/navbar.html" %}

{% include "partials/header-portabilidad.html" %}

	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="fs-base wow animated fadeIn">
					<img src="img/portabilidad/ico-portabilidad-conveniencia.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p style="font-size: 1.5rem;">Porque somos los más convenientes</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="fs-base ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-lideres.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p style="font-size: 1.5rem;">Líderes en portabilidad</p>
				</div>
			</div>
		</div>			
		<div class="row">
			<div class="col-xs-6">
				<div class="fs-base ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-sucursales.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p style="font-size: 1.5rem;">Tenemos sucursales en todo Chile</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="fs-small ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-4g.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p style="font-size: 1.5rem;">Y volamos con nuestra red 4G</p>
				</div>
			</div>
		</div>	
	</div>

	<div class="container">
		<div class="row instrucciones-portabilidad">
			
			<h4 class="ta-center fw-semibold nopadding">LO QUE TIENES QUE HACER<br> ANTES DE PORTARTE</h4>
			
			<div class="col-md-12">
				<h5 class="morado-plain fw-semibold mt-20">1. COMPRA UN CHIP WOM</h5>
				<p>Consigue tu CHIP en cualquiera de nuestras sucursales y kioskos.</p>
			</div>
			<div class="col-md-12">
				<h5 class="morado-plain fw-semibold">2. EQUIPO LIBERADO</h5>
				<p>Acércate a tu actual compañia y solicita el desbloqueo de tu equipo</p>
			</div>
			<div class="col-md-12">
				<h5 class="morado-plain fw-semibold">3. NECESITARÁS ESTOS DATOS</h5>
				<p>Foto y número de serie/documento de tu cédula de identidad.</p>
			</div>
		</div>

		<div class="row marginbottom mt-40">
          <div class="col-xs-3">
             <img src="img/portabilidad/ico-darthvader.svg" alt="">
          </div>
          <div class="col-xs-9">
            <h6 class="morado-plain fw-semibold nomargin nopadding">ABANDONA EL DARKSIDE Y ÚNETE AL LADO DE LA CONVENIENCIA.</h6>
          </div>
        </div>
	</div>
	
	{% include "partials/modulo-portate-bien.html" %}
</div>
	<div class="row solicita-portabilidad">
			<div class="col-md-12">
				<h4 class="ta-center morado-plain fw-semibold">¿YA SOLICITASTE PORTABILIDAD?</h4>
				<p class="ta-center">Ahora conoce el estado...</p>
			</div>
		</div>

	<div class="portabilidad-pills">
		<ul class="nav nav-pills" role="tablist">
		  <li class="active"><a href="#tab_telefono" data-toggle="tab" class="fw-semibold">N° TÉLEFONO</a></li>
		  <!-- li><a href="#tab_portabilidad" data-toggle="tab" class="fw-semibold">N° PORTABILIDAD</a></li -->
		</ul>
		<div class="tab-content well modulo-morado">
				<div class="tab-pane active" id="tab_telefono">							
					<div class="row">
						<div class="col-xs-3 nomargin">
							<img src="img/portabilidad/ico-tengo-prepago.svg" alt="">
						</div>
						<div class="col-xs-9 nomargin nopadding">
							<div class="form-group">
							<span class="miniLabel" style="color: white;">Ingresa tu número de teléfono</span><input type="text" class="form-control input-lite" id="telefono" onfocus="$(this).val('+56 9');"></div>
						</div>
					</div>

					<div class="row ta-center">
						<button type="button" class="btn morado-plain">Ver portabilidad</button>
					</div>
				</div>
				<!-- div class="tab-pane" id="tab_portabilidad">
					<div class="row">
						<div class="col-xs-2">
							<img src="../../img/portabilidad/ico-portabilidad-solicitud.svg" alt="">
						</div>
						<div class="col-xs-10">
							<div class="form-group"><span class="miniLabel">Ingresa tu número de portabilidad</span>
								<input type="text" class="form-control input-lite" id="nombre" placeholder="Ingresa tu número de portabilidad"></div>
							</div>
					</div>

					<div class="row ta-center">
						<button type="button" class="btn btn-primary">Ver portabilidad</button>
					</div>
				</div -->
		</div>
	</div>

	{% include "partials/footer.html" %}

{% endblock %}