{% extends "layout.nunjucks" %}
{% set title = "Portabilidad - Estado de portabilidad" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<div class="desktop-layout hidden-xs">
		<div class="desktop-header">
			<div class="container-tablet">
				<div class="row">
					<div class="desktop-headerTitle col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ta-center">
						{% include "partials/navbar-desktop-inner.html" %}
						<h1 class="uc white">Centro de Ayuda</h1>
						<p>Encuentra en cada sección preguntas frecuentes con nuestros servicios</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="visible-xs">
		{% include "partials/header-portabilidad.html" %}
	</div>

	<div class="container visible-sm visible-md visible-lg">
		<div class="row">
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="fs-base wow animated fadeIn">
					<img src="img/portabilidad/ico-portabilidad-conveniencia.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Porque somos los más convenientes</p>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="fs-base ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-lideres.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Líderes en portabilidad</p>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="fs-base ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-sucursales.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Tenemos sucursales en todo Chile</p>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="fs-small ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-4g.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Y volamos con nuestra red 4G</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container visible-xs">
		<div class="row">
			<div class="col-xs-6">
				<div class="fs-base wow animated fadeIn">
					<img src="img/portabilidad/ico-portabilidad-conveniencia.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Porque somos los más convenientes</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="fs-base ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-lideres.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Líderes en portabilidad</p>
				</div>
			</div>
		</div>			
		<div class="row">
			<div class="col-xs-6">
				<div class="fs-base ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-sucursales.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Tenemos sucursales en todo Chile</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="fs-small ta-center wow fadeIn">
					<img src="img/portabilidad/ico-portabilidad-4g.png" width="70" height="70" class="center-block">
				</div>
				<div class="fs-base fw-normal ta-center wow animated fadeInUp" data-wow-delay=".5s">
					<p class="fw-semibold">Y volamos con nuestra red 4G</p>
				</div>
			</div>
		</div>	
	</div>

	<div class="container">
		<div class="row instrucciones-portabilidad">
			
			<h4 class="ta-center fw-semibold nopadding">LO QUE TIENES QUE HACER<br> ANTES DE PORTARTE</h4>
			
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h5 class="morado-plain fw-semibold mt-20">1. COMPRA UN CHIP WOM</h5>
				<p>Consigue tu CHIP en cualquiera de nuestras sucursales y kioskos.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h5 class="morado-plain fw-semibold">2. EQUIPO LIBERADO</h5>
				<p>Acércate a tu actual compañia y solicita el desbloqueo de tu equipo</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h5 class="morado-plain fw-semibold">3. NECESITARÁS ESTOS DATOS</h5>
				<p>Foto y número de serie/documento de tu cédula de identidad.</p>
			</div>
		</div>

		<div class="row mb-15 mt-40 mb--20">
          <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 ta-right">
             <img src="img/portabilidad/ico-darthvader.svg" alt="" class="iblock">
          </div>
          <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
            <h6 class="morado-plain fw-semibold nomargin nopadding">ABANDONA EL DARKSIDE Y ÚNETE AL LADO DE LA CONVENIENCIA.</h6>
          </div>
        </div>
	</div>

	<div class="visible-xs">
		{% include "partials/modulo-portate-bien.html" %}
		<div class="solicita-portabilidad">
			<div class="col-xs-12">
				<h4 class="ta-center morado-plain fw-semibold">¿YA SOLICITASTE<br>PORTABILIDAD?</h4>
				<p class="ta-center mt-20">Ahora conoce el estado...</p>
			</div>
		</div>
		<div class="portabilidad-pills">
			<ul class="nav nav-pills" role="tablist">
			  <li class="active"><a href="#tab_telefono" data-toggle="tab" class="fw-semibold">N° TÉLEFONO</a></li>
			  <li><a href="#tab_portabilidad" data-toggle="tab" class="fw-semibold">N° PORTABILIDAD</a></li>
			</ul>
			<div class="tab-content well modulo-morado">
				<div class="tab-pane active" id="tab_telefono">							
					<div class="row">
						<div class="col-xs-3 nomargin">
							<img src="img/portabilidad/ico-tengo-prepago.svg" alt="">
						</div>
						<div class="col-xs-9 nomargin nopadding">
							<div class="form-group">
								<span class="miniLabel white">Ingresa tu número de teléfono</span>
								<input type="text" class="form-control input-lite" id="telefono" onfocus="$(this).val('+56 9');">
							</div>
						</div>
					</div>

					<div class="row ta-center">
						<button type="button" class="btn morado-plain">Ver portabilidad</button>
					</div>
				</div>
				<div class="tab-pane" id="tab_portabilidad">
					<div class="row">
						<div class="col-xs-3">
							<img src="img/portabilidad/ico-portabilidad-solicitud.svg" alt="">
						</div>
						<div class="col-xs-9">
							<div class="form-group"><span class="miniLabel white">Ingresa tu número de portabilidad</span>
								<input type="text" class="form-control input-lite" id="nombre">
							</div>
						</div>
					</div>

					<div class="row ta-center">
						<button type="button" class="btn morado-plain">Ver portabilidad</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="visible-sm visible-md visible-lg">	
		<a href="#">
			<div class="portate-desktop-ad ratio-superwide ratioimg mt-20 mb-20">
				&nbsp;
			</div>
		</a>

		<div class="ta-center mb-40 fs-large">
			<div class="outline-purple skew">
				<a href="#">
					<span>¿Quieres ser WOM?</span>
					<span>¡Pórtate aquí!</span>
				</a>
			</div>
		</div>

		<div class="container cardsContainer">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 ta-center">
					<div class="item wow  fadeInUp animated">
						<img src="img/home/ico-equipos-desktop.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Prepago</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Tengo un prepago y quiero un plan WOM</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 ta-center">
					<div class="item wow  fadeInUp animated" data-wow-offset="200">
						<img src="img/home/ico-planes-desktop.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Plan</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Tengo un plan y quiero un plan WOM.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 ta-center">
					<div class="item wow  fadeInUp animated" data-wow-offset="350">
						<img src="img/home/ico-sucursales-desktop.png" alt="" class="ico">
						<h5 class="nopadding uc"><a href="#">Prepago a Plan</a></h5>
						<p class="nomargin nopadding fs-small lineheight120">Tengo un prepago y quiero un plan WOM.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="portabilidad-cta-desktop">
			<div class="container">	
				<div class="row">
					<div class="col-sm-3 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<img src="img/banner/persona-home-nonwomer-4.png" alt="">
					</div>
					<div class="col-sm-5 col-md-6 col-lg-6 ta-center">
						<h3 class="morado-plain uc">¿Ya solicitaste portabilidad?</h3>
						<p class="text-muted">Ahora conoce el estado...</p>
						<div class="form-group input-effect">
							<span class="miniLabel">Número de celular</span>
							<input type="textnumber" class="form-control" id="numerocelular" placeholder="Número de celular" onfocus="$(this).val('569');">
						</div>
						<button class="btn btn-lg disabled">Ver Portabilidad</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	{% include "partials/footer.html" %}

{% endblock %}