{% extends "layout.nunjucks" %}
{% set title = "Servicio Técnico - Home" %}

{% block content %}

	
	<!-- layout desktop -->
		<div class="desktop-header hidden-xs">
			<div class="container-tablet">
				<div class="row">
					<div class="desktop-headerTitle col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ta-center">
						<h1 class="uc white">Servicio Técnico</h1>
						<p>WOMER acá te ayudamos a revisar el estado de reparación de tu equipo en nuestro servicio técnico</p>
					</div> 
				</div>
			</div>
		</div>

		<div class="desktop-content hidden-xs">
			<div class="container-tablet">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
						<div class="servicio-tecnico-welcome">
							<div class="item lineheight120">
								<h5 class="uc morado-plain fw-semibold nopadding">Estado</h5>
								<p>Podrás revisar si tu equipo ya se encuentra en Servicio Técnico.</p>
							</div>
							<div class="item lineheight120">
								<h5 class="uc morado-plain fw-semibold nopadding">Disponibilidad</h5>
								<p>Podrás revisar si tu equipo se encuentra disponible en nuestra sucursal para que puedas retirarlo.</p>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-lg-4 col-md-6 col-sm-8">
						<img class="desktop-persona-serviciotecnico" src="img/banner/persona-home-nonwomer-1-nogradiente.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<h4 class="ta-center morado-plain uc fw-semibold hidden-xs">REVISA EL ESTADO DE <br> REPARACIÓN DE TU EQUIPO</h4>
		</div>
	</div>

	<!-- layout movil -->
	<div class="visible-xs">
		<header>
			<div class="bg-modulo modulo-portabilidad">
				<div class="container">
					<h3 class="ta-center white fw-semibold uc">Servicio Técnico</h3>
					<h4 class="ta-center fw-normal white fs-base">WOMER acá te ayudamos a revisar el estado de reparación de tu equipo en nuestro servicio técnico</h4>
				</div>
			</div>		
		</header>
	</div>
	<div class="visible-xs hidden-lg hidden-md hidden-sm">
		<div class="row">
			<div class="servicio-tecnico-welcome">
				<div class="item lineheight120">
					<h5 class="uc morado-plain fw-semibold nopadding">Estado</h5>
					<p>Podrás revisar si tu equipo ya se encuentra en Servicio Técnico.</p>
				</div>
				<div class="item lineheight120">
					<h5 class="uc morado-plain fw-semibold nopadding">Disponibilidad</h5>
					<p>Podrás revisar si tu equipo se encuentra disponible en nuestra sucursal para que puedas retirarlo.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h4 class="ta-center morado-plain uc fw-semibold">REVISA EL ESTADO DE <br> REPARACIÓN DE TU EQUIPO</h4>
			</div>
		</div>

	</div>
	
		
		{% include "partials/form-servicio-tecnico.html" %}


	{% include "partials/footer.html" %}

{% endblock %}