{% extends "layout.nunjucks" %}
{% set title = "Servicio Técnico - Desglose" %}

{% block content %}

	{% include "partials/navbar.html" %}
	
	<!-- layout desktop -->
	<div class="desktop-layout hidden-xs">
		<div class="desktop-header">
			<div class="container-tablet">
				<div class="row">
					<div class="desktop-headerTitle col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ta-center">
						
						<!-- esto no me gusta pero... -->
						{% include "partials/navbar-desktop-inner.html" %}
						
						<h1 class="uc white">Servicio Técnico</h1>
						<p>WOMER acá te ayudamos a revisar el estado de reparación de tu equipo en nuestro servicio técnico</p>
					</div>
				</div>
			</div>
		</div>

		<div class="desktop-content">
			<div class="container-tablet">
				<div class="row">
					
					<h4 class="uc col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 morado-plain ta-center">
						 Tu equipo está en <br>nuestro servicio técnico
					</h4>

				</div>
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 personas-serviciotecnico-bg">

						<p class="nopadding fw-semibold pl-20 mb-20" style="width: 62%; margin-left: auto; margin-right: auto; color: #720184;">Estado del proceso:</p>

						<div class="servicio-tecnico-timeline">
							<ul>
								<li class="complete">
									<i class="fa fa-check-circle"></i>
									<h6 class="nomargin nopadding uc mb-15">Ingreso de tu equipo</h6>
									<p class="nomargin nopadding morado-plain mb-10"><i class="fa fa-calendar"></i> 22 Junio 2016</p>
									<p class="nomargin nopadding morado-plain mb-10"><i class="fa fa-map-marker"></i> Sucursal Rosas</p>
									<button class="btn btn-primary btn-xs white fw-normal">Ver en el mapa</button>
								</li>

								<li class="complete">
									<i class="fa fa-check-circle"></i>
									<h6 class="nomargin nopadding uc">En ruta a servicio</h6>
									<p class="nomargin nopadding morado-plain"><i class="fa fa-calendar"></i> 4 Agosto 2016</p>
								</li>

								<li class="complete">
									<i class="fa fa-check-circle"></i>
									<h6 class="nomargin nopadding uc">Servicio Técnico</h6>
									<p class="nomargin nopadding morado-plain"><i class="fa fa-calendar"></i> 22 Junio 2016</p>
								</li>

								<li>
									<i class="fa fa-circle-o"></i>
									<h6 class="nomargin nopadding uc">En ruta a sucursal</h6>
									<p class="nomargin nopadding"><i class="fa fa-calendar"></i> Por confirmar</p>
								</li>

								<li>
									<i class="fa fa-circle-o"></i>
									<h6 class="nomargin nopadding uc">Retira tu equipo</h6>
									<p class="nomargin nopadding"><i class="fa fa-calendar"></i> Por confirmar</p>
									<button class="btn btn-disabled btn-xs white fw-normal">Ver en el mapa</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- layout movil -->
	<div class="visible-xs">
	{% include "partials/header-servicio-tecnico.html" %}
	</div>
	<div class="container visible-xs">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="morado-plain ta-center fw-semibold uc nomargin nopadding">Estado del proceso</h4>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="servicio-tecnico-timeline">
				<ul>
					<li class="complete">
						<i class="fa fa-check-circle"></i>
						<h6 class="nomargin nopadding uc">Ingreso de tu equipo</h6>
						<p class="nomargin nopadding morado-plain"><i class="fa fa-calendar"></i> 22 Junio 2016</p>
						<p class="nomargin nopadding morado-plain"><i class="fa fa-map-marker"></i> Sucursal Rosas</p>
						<button class="btn btn-primary btn-xs white fw-normal">Ver en el mapa</button>
					</li>

					<li class="complete">
						<i class="fa fa-check-circle"></i>
						<h6 class="nomargin nopadding uc">En ruta a servicio</h6>
						<p class="nomargin nopadding morado-plain"><i class="fa fa-calendar"></i> 4 Agosto 2016</p>
					</li>

					<li class="complete">
						<i class="fa fa-check-circle"></i>
						<h6 class="nomargin nopadding uc">Servicio Técnico</h6>
						<p class="nomargin nopadding morado-plain"><i class="fa fa-calendar"></i> 22 Junio 2016</p>
					</li>

					<li>
						<i class="fa fa-circle-o"></i>
						<h6 class="nomargin nopadding uc">En ruta a sucursal</h6>
						<p class="nomargin nopadding"><i class="fa fa-calendar"></i> Por confirmar</p>
					</li>

					<li>
						<i class="fa fa-circle-o"></i>
						<h6 class="nomargin nopadding uc">Retira tu equipo</h6>
						<p class="nomargin nopadding"><i class="fa fa-calendar"></i> Por confirmar</p>
						<button class="btn btn-disabled btn-xs white fw-normal">Ver en el mapa</button>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 ta-center mt-20">
				<p class="nopadding"><a href="#" class="btn btn-text fw-normal" style="text-decoration: underline;">Ir a servicio técnico</a></p>
				<p class="nopadding"><button class="btn btn-default btn-lg fw-semibold btn-primary morado-chicle-bg">Ir a WOM.cl</button></p>
			</div>
		</div>
	</div>

	{% include "partials/footer.html" %}

{% endblock %}