{% extends "layout.nunjucks" %}
{% set title = "Servicio Técnico - Home" %}

{% block content %}

	{% include "partials/navbar.html" %}
	
	<!-- layout desktop -->
	<div class="desktop-layout hidden-xs">
		<div class="desktop-header">
			<div class="container-tablet">
				<div class="row">
					<div class="desktop-headerTitle col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ta-center">
						
						<!-- esto no me gusta pero... -->
						{% include "partials/navbar-desktop-inner.html" %}
						
						<h1 class="uc white">Servicio Técnico</h1>
						<p>WOMER acá te ayudamos a revisar el estado de reparación de tu equipo en nuestro servicio técnico</p>
					</div>
				</div>
			</div>
		</div>

		<div class="desktop-content">
			<div class="container-tablet">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
						<div class="servicio-tecnico-welcome pt-40">
							<div class="item lineheight120">
								<h5 class="uc morado-plain fw-semibold nopadding">Estado</h5>
								<p>Podrás revisar si tu equipo ya se encuentra en Servicio Técnico.</p>
							</div>
							<div class="item lineheight120">
								<h5 class="uc morado-plain fw-semibold nopadding">Disponibilidad</h5>
								<p>Podrás revisar si tu equipo se encuentra disponible en nuestra sucursal para que puedas retirarlo.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<img class="desktop-persona-serviciotecnico" src="img/banner/persona-home-nonwomer-1-nogradiente.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="servicio-tecnico-welcome-desktop fullwidth-slab mt--150">
			<div class="container">
				<div class="row">
					<h4 class="ta-center morado-plain uc nomargin nopadding">Revisa el estado de reparación <br> de tu equipo</h4>
				</div>
				<div class="row mt-40">

					<!-- Form servicio tecnico... -->
						{% include "partials/form-servicio-tecnico.html" %}
					
				</div>
			</div>
		</div>
	</div>

	<!-- layout movil -->
	<div class="visible-xs">
	{% include "partials/header-servicio-tecnico.html" %}
	</div>
	
	<div class="container hidden-lg hidden-md hidden-sm">
		<div class="row">
			<div class="col-xs-12">
				<div class="servicio-tecnico-welcome">
					<div class="item lineheight120">
						<h5 class="uc morado-plain fw-semibold nopadding">Estado</h5>
						<p>Podrás revisar si tu equipo ya se encuentra en Servicio Técnico.</p>
					</div>
					<div class="item lineheight120">
						<h5 class="uc morado-plain fw-semibold nopadding">Disponibilidad</h5>
						<p>Podrás revisar si tu equipo se encuentra disponible en nuestra sucursal para que puedas retirarlo.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="ta-center morado-plain uc fw-semibold">REVISA EL ESTADO DE <br> REPARACIÓN DE TU EQUIPO</h4>
			</div>
		</div>
		
		<!-- Form servicio tecnico... -->
						{% include "partials/form-servicio-tecnico.html" %}
	
	</div>

	{% include "partials/footer.html" %}

{% endblock %}