{% extends "layout.nunjucks" %}
{% set title = "Visualizar información de un plan" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo bg-modulo-shortest modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Mi Plan</h3>
				<h4 class="ta-center fw-normal white fs-base">Revisa los detalles de tu plan</h4>
			</div>
		</div>
	</header>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-12 select-phone">
				<select class="form-control select-caret fw-bold">
				  <option selected="">+56 988776655</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-warning" role="alert">
		          <i class="fa fa-exclamation-triangle"></i> <span class="fs-base">Tienes una deuda</span> <button class="btn-primary btn-large fw-semibold morado-chicle-bg pull-right">Pagar ahora</button>
		        </div>
	        </div>
        </div>
		<div class="info-plan-consumo-header mb-10">
	    				<span class="fw-semibold fs-medium morado-chicle">Plan Control</span> <span class="morado-plain fw-semibold fs-medium pull-right">$22.550</span>
	    			</div>
		<div class="info-plan-desglose">
	        <div class="row">
	        	<div class="col-xs-12">
	        		<h6 class="info-plan-title fs-bigish fw-semibold">Mi plan incluye</h6>
	        	</div>
	        </div>
	        <div class="numbersData row">
	        	<div class="item info-plan-desglose-datos col-xs-4 ta-center">
	        		<span class="big fs-large fw-bold">5<small class="uc">gb</small></span>
	        		Datos <strong>Móviles</strong>
	        	</div>
	        	<div class="item info-plan-desglose-minutos col-xs-4 ta-center">
	        		<span class="big fs-large fw-bold">200</span>
	        		Minutos <strong>Llamadas</strong>
	        	</div>
	        	<div class="item info-plan-desglose-sms col-xs-4 ta-center">
	        		<span class="big fs-large fw-bold">100</span>
	        		Envíos <strong>SMS</strong>
	        	</div>
	        </div>
        </div>

        <div class="promociones-activas">
        	<div class="row">
        		<div class="col-xs-12">
        			<h6 class="fw-semibold morado-plain nopadding">Promociones activas</h6>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-12">
	        		<ul class="nomargin nopadding">
	        			<li class="item">
	        				<span class="big morado-plain fs-larger fw-semibold"><small>x</small>2</span> Doble de minutos por 6 meses
	        			</li>
	        			<li class="item">
	        				<span class="big morado-plain fs-larger fw-semibold">1<small>GB</small></span> Adicional para redes sociales
	        			</li>
	        			<li class="item">
	        				<span class="big morado-plain fs-larger fw-semibold">2<small>GB</small></span> Adicionales en redes <strong>4G</strong>
	        			</li>
	        		</ul>
        		</div>
        	</div>
        </div>
    </div>

    <hr>

    <div class="container">    
	    <div class="ver-saldo-actual">
	    	<div class="row">
	    		<div class="col-xs-7">
	    			Tu saldo actual es:
	    		</div>
	    		<div class="col-xs-5">
	    			<span class="fw-semibold fs-large morado-plain">$7.000</span>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
		    		<ul class="saldo-data-table col-xs-12 nomargin nopadding">
		    			<li>
		    				Tu ciclo de facturación comenzó el:
		    				<span class="big fs-medium fw-semibold morado-plain">05/07/06</span>
		    			</li>
		    			<li>
		    				Tu próxima facturación es:
		    				<span class="big fs-medium fw-semibold morado-plain">05/07/06</span>
		    			</li>
		    			<button class="btn btn-primary ver-historial fw-semibold pl-15 pr-15 pt-5 pb-5">Ver historial</button>
		    		</ul>
	    		</div>
	    	</div>
	    </div>
	    <div class="info-plan-consumo">
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<h6 class="info-plan-title fs-bigish fw-semibold">Mi consumo</h6>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<div class="info-plan-consumo-header">
	    				<i class="fa fa-cloud-download"></i> <span class="morado-plain fw-semibold">Datos Móviles</span>
	    			</div>
	    		</div>
	    		<div class="col-xs-6 ta-right">
	    			<button type="button" class="btn btn-xs btn-default pl-20 pr-20 pt-5 pb-5">Agregar bolsas</button>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<div class="consumoBars">
			    		<div class="item">
		    				<div class="consumoInfo">
		    					<p>Plan 5 Gigas</p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 0.85GB</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
						<div class="item">
		    				<div class="consumoInfo">
		    					<p>Promoción Redes Sociales</p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 1GB</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
			    		<div class="item">
		    				<div class="consumoInfo">
		    					<p>Promoción <strong>4G</strong></p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 2GB</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
			    		<div class="item">
		    				<div class="consumoInfo">
		    					<p>Bolsa de datos <strong>1GB</strong></p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 500MB</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
			    	</div>	
	    		</div>
	    	</div>
	    	<br>
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<div class="info-plan-consumo-header">
	    				<i class="fa fa-phone"></i> <span class="morado-plain fw-semibold">Minutos</span>
	    			</div>
	    		</div>
	    		<div class="col-xs-6 ta-right">
	    			<button type="button" class="btn btn-xs btn-default pl-20 pr-20 pt-5 pb-5">Agregar bolsas</button>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<div class="consumoBars">
			    		<div class="item">
		    				<div class="consumoInfo">
		    					<p>Minutos de tu plan 200 minutos</p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 70 min.</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
						<div class="item">
		    				<div class="consumoInfo">
		    					<p>Bolsa de 100 minutos</p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 66 min.</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
			    	</div>	
	    		</div>
	    	</div>
	    	<br>
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<div class="info-plan-consumo-header">
	    				<i class="fa fa-phone"></i> <span class="morado-plain fw-semibold">SMS</span>
	    			</div>
	    		</div>
	    		<div class="col-xs-6 ta-right">
	    			<button type="button" class="btn btn-xs btn-default pl-20 pr-20 pt-5 pb-5">Agregar bolsas</button>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<div class="consumoBars">
			    		<div class="item">
		    				<div class="consumoInfo">
		    					<p>Mensajes de tu plan 100 SMS</p>
		    					<p class="fw-semibold morado-chicle fs-bigish" >Te quedan 87 SMS</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
						<div class="item">
		    				<div class="consumoInfo">
		    					<p>Bolsa de 20 SMS</p>
		    					<p class="fw-semibold morado-chicle fs-bigish">Te quedan 12 SMS</p>
		    				</div>
		    				<div class="progress progress-animated">
		    					<div class="progress-bar skew" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    				</div>
			    		</div>
			    	</div>
	    		</div><button class="btn btn-link no-underline mt-20">Ver detalle de mis movimientos <i class="fa fa-angle-right"></i> </button>
	    		<button class="btn btn-link no-underline morado-plain mt-10">Ver detalle de las llamadas y SMS <i class="fa fa-angle-right"></i> </button>
	    		<hr>
	    	</div>

	    	<div class="row">
	    		<div class="col-xs-7">
	    			<div class="info-plan-consumo-header">
	    				<span class="morado-plain fw-semibold fs-medium morado-chicle">Servicios WOM</span>
	    			</div>
	    		</div>
	    		<div class="col-xs-5 ta-right">
	    			<button type="button" class="btn btn-xs btn-default pl-20 pr-20 pt-5 pb-5">Modificar</button>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<div class="row">
			    		<div class="col-xs-12">
				    		<ul class="saldo-data-table col-xs-12 nomargin nopadding">
				    			<li>Servicio <strong>300</strong> <i class="fa fa-check-circle morado-chicle"></i></li>
				    			<li>Servicio <strong>700</strong> <i class="fa fa-check-circle"></i></li>
				    			<li>Servicio <strong>800</strong> <i class="fa fa-check-circle"></i></li>
				    		</ul>
			    		</div>
			    	</div>
	    		</div>
	    	</div>
	    </div>
	</div>

	<br>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a href="#"><img src="img/banner/renueva_equipo.png" alt="" onclick="alert('click!');return false;"></a>
			</div>
		</div>
		<div class="row">
			<div class="bannerText">
				<div class="col-xs-12">
					<p class="nopadding">Tienes un plan <strong>5GB</strong>, te recomendamos el <strong>7GB Plan Libre</strong> que incluye:</p>
					<ul class="nomargin fs-bigish">
						<li><i class="fa fa-check morado-uva"></i> <strong class="morado-uva">1000</strong> minutos en llamadas</li>
						<li><i class="fa fa-check morado-uva"></i> <strong class="morado-uva">50</strong> SMS</li>
						<li><i class="fa fa-check morado-uva"></i> <strong class="morado-uva">7GB</strong> en red <strong class="morado-uva">4G</strong> para siempre</li>
						<li><i class="fa fa-check morado-uva"></i> Cargo fijo mensual $<strong class="morado-uva">19.990</strong></li>
					</ul>
					<br>
					<p class="ta-center"><button class="btn btn-lg btn-primary morado-chicle-bg">Contratar</button></p>
					<hr>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="#"><img src="img/banner/pokemongohome.png" alt="" onclick="alert('click!');return false;"></a>
			</div>
		</div>
	</div>
	{% include "partials/footer.html" %}
{% endblock %}