{% extends "layout.nunjucks" %}
{% set title = "Visualizar datos post pago" %}

{% block content %}

  {% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo bg-modulo-shortest modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Información Personal</h3>
				
			</div>
		</div>
	</header>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-12 select-phone">
				<select class="form-control select-caret fw-bold">
				  <option selected="">+56 988776655</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
		</div>

		<br>
		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="fw-semibold nopadding">Datos Personales</h4>
			</div>
		</div>

        <div class="promociones-activas">
        	<div class="row">
        		<div class="col-xs-12">
        			<h6 class="fw-semibold nopadding">Nombres</h6>
        			<h6 class="fw-semibold morado-plain nopadding">Vicente Guillermo</h6>
        				<br>
        			<h6 class="fw-semibold nopadding">Apellidos</h6>
        			<h6 class="fw-semibold morado-plain nopadding">Gutiérrez Echeverría</h6>
        				<br>
        			<h6 class="fw-semibold nopadding">Rut</h6>
        			<h6 class="fw-semibold morado-plain nopadding">15.335.667-4</h6>

        			<hr>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-12">
	        		<h6 class="fw-semibold nopadding">Correo electrónico</h6>
        			<h6 class="fw-semibold morado-plain nopadding">vgutierrezecheverria@gmail.com</h6>
        				<br>
        			<div class="text-center">
        				<button class="btn btn-lg btn-primary morado-chicle-bg">Editar correo electrónico</button>
        			</div>
        				<hr>
        			<h6 class="fw-semibold nopadding">Correo electrónico de facturación</h6>
        			<h6 class="fw-semibold morado-plain nopadding">vge-facturacion@gmail.com</h6>
        				<hr>
        		</div>
        	</div>
        </div>

        <div class="direccion-personal">
        	<div class="row">
				<div class="col-xs-12">
					<h4 class="fw-semibold nopadding">Dirección</h4>
				</div>
			</div>
        	<div class="row">
        		<div class="col-xs-12">
        			<h6 class="fw-semibold nopadding">Calle</h6>
        			<h6 class="fw-semibold morado-plain nopadding">Avenida Pedro Aguirre Cerda</h6>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-6">
        			<h6 class="fw-semibold nopadding">Número</h6>
        			<h6 class="fw-semibold morado-plain nopadding">33.456</h6>
        		</div>
        		<div class="col-xs-6">
        			<h6 class="fw-semibold nopadding">Departamento</h6>
        			<h6 class="fw-semibold morado-plain nopadding">398-B</h6>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-6">
        			<h6 class="fw-semibold nopadding">Región</h6>
        			<h6 class="fw-semibold morado-plain nopadding">Arica y Parinacota</h6>
        		</div>
        		<div class="col-xs-6">
        			<h6 class="fw-semibold nopadding">Comuna</h6>
        			<h6 class="fw-semibold morado-plain nopadding">Arica</h6>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-12">
        			<hr>
        		</div>	
        	</div>

        	<div class="row">
        		<div class="col-xs-12 text-center">
        			<h6 class="fw-semibold nopadding">¿Olvidaste tu contraseña?</h6>
        			<button class="btn btn-primary">Modifica tu contraseña</button>
        			<hr>
        		</div>
        		
        	</div>
        </div>

        <div class="ejecutivo-wom">
        	<div class="row">
    				<div class="col-xs-12">
    					<h4 class="fw-semibold nopadding">Ejecutivo WOM de tu cuenta</h4>
    				</div>
    			</div>
    			<div class="row">
        		<div class="col-xs-12">
        			<h6 class="fw-semibold nopadding">Nombre</h6>
        			<h6 class="fw-semibold morado-plain nopadding">Alejandro Rojas Solís</h6>
        			<br>
        			<h6 class="fw-semibold nopadding">Correo electrónico</h6>
        			<h6 class="fw-semibold morado-plain nopadding">a.rojas@wom.cl</h6>
        			<br>
        			<h6 class="fw-semibold nopadding">Teléfono</h6>
        			<h6 class="fw-semibold morado-plain nopadding">+569 77665544</h6>
        			<hr>

        		</div>
        	</div>	
        </div>

    </div>

   
{% include "partials/footer.html" %}

{% endblock %}