{% extends "layout.nunjucks" %}
{% set title = "Visualizar información de cliente (Ejecutivo) - Detalle líneas asociadas" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo bg-modulo-shortest modulo-portabilidad mb-40">
			<div class="container">
				<h3 class="ta-center white fw-semibold fs-normal uc">Información de nuestros Womers</h3>
			</div>
		</div>
	</header>

<div style="background-color: #f7f7f7;">

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="datosPersonales-holder">
					<h4 class="fw-semibold nopadding morado-plain uc">Líneas Asociadas a la Cuenta</h4>
					<div class="despliegue-datos despliegue-lineas-asociadas mt-40">
						<ul>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
							<li class="wow animated fadeInUp">
								<p class="fw-semibold">+569 388776655</p>
								<a href="#" class="btn btn-link">Ver detalle <i class="fa fa-angle-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
	
	{% include "partials/footer.html" %}

{% endblock %}