{% extends "layout.nunjucks" %}
{% set title = "Visualizar información de un plan" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo bg-modulo-shortest modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc">Mi Plan</h3>
				<h4 class="ta-center fw-normal white fs-base">Revisa los detalles de tu plan</h4>
			</div>
		</div>
	</header>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-12 select-phone">
				<select class="form-control select-caret fw-bold">
				  <option selected="">+56 988776655</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-warning" role="alert">
		          <i class="fa fa-exclamation-triangle"></i> <span class="fs-base">Tienes una deuda</span> <button class="btn-primary btn-large fw-semibold morado-chicle-bg pull-right">Pagar</button>
		        </div>
	        </div>
        </div>
		
		<div class="info-plan-desglose">
	        <div class="row">
	        	<div class="col-xs-12">
	        		<h6 class="info-plan-title fw-semibold">Mi plan incluye</h6>
	        	</div>
	        </div>
	        <div class="numbersData row">
	        	<div class="item info-plan-desglose-datos col-xs-4 ta-center">
	        		<span class="big fs-large fw-bold">5<small class="uc">gb</small></span>
	        		Datos <strong>Móviles</strong>
	        	</div>
	        	<div class="item info-plan-desglose-minutos col-xs-4 ta-center">
	        		<span class="big fs-large fw-bold">200</span>
	        		Minutos <strong>Llamadas</strong>
	        	</div>
	        	<div class="item info-plan-desglose-sms col-xs-4 ta-center">
	        		<span class="big fs-large fw-bold">100</span>
	        		Envíos <strong>SMS</strong>
	        	</div>
	        </div>
        </div>

        <div class="promociones-activas">
        	<div class="row">
        		<div class="col-xs-12">
        			<h6 class="fw-semibold morado-plain nopadding">Promociones activas</h6>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-12">
	        		<ul class="nomargin nopadding">
	        			<li class="item">
	        				<span class="big morado-plain fs-large fw-semibold"><small>x</small>2</span> Doble de minutos por 6 meses
	        			</li>
	        			<li class="item">
	        				<span class="big morado-plain fs-large fw-semibold">1<small>GB</small></span> Adicional para redes sociales
	        			</li>
	        			<li class="item">
	        				<span class="big morado-plain fs-large fw-semibold">2<small>GB</small></span> Adicionales en redes <strong>4G</strong>
	        			</li>
	        		</ul>
        		</div>
        	</div>
        </div>
    </div>

    <hr>

    <div class="container">
    
	    <div class="ver-saldo-actual">
	    	<div class="row dark-red">
	    		<div class="col-xs-7">
	    			Tu saldo actual es:
	    		</div>
	    		<div class="col-xs-5">
	    			<span class="fw-semibold fs-large">$7.000</span>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
		    		<ul class="saldo-actual-detalles col-xs-12 nomargin nopadding">
		    			<li>
		    				Tu ciclo de facturación comenzó el:
		    				<span class="big fs-medium fw-semibold morado-plain">05/07/06</span>
		    			</li>
		    			<li>
		    				Tu próxima facturación es:
		    				<span class="big fs-medium fw-semibold morado-plain">05/07/06</span>
		    			</li>
		    			<button class="btn btn-primary ver-historial">Ver historial</button>
		    		</ul>
	    		</div>
	    	</div>
	    </div>
	    <div class="info-plan-consumo">
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<h6 class="info-plan-title fw-semibold">Mi consumo</h6>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<div class="info-plan-consumo-header">
	    				<i class="fa fa-cloud-download"></i> <span class="morado-plain fw-semibold">Datos Móviles</span>
	    			</div>
	    		</div>
	    		<div class="col-xs-6 ta-right">
	    			<button type="button" class="btn btn-xs btn-default">Agregar bolsas</button>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<div class="consumoBars">
			    		<div class="item">
			    			<div class="progress progress-animated">
			    				<div class="consumoInfo">
			    					<p>Plan 5 Gigas</p>
			    					<p class="fw-semibold morado-chicle">Te quedan 0.85GB</p>
			    				</div>
			    				<div class="progress progress-animated">
			    					<div class="progress-bar skew" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			    				</div>
			    			</div>
			    		</div>
						<div class="item">
			    			<div class="progress progress-animated">
			    				<div class="consumoInfo">
			    					<p>Promoción Redes Sociales</p>
			    					<p class="fw-semibold morado-chicle">Te quedan 1GB</p>
			    				</div>
			    				<div class="progress progress-animated">
			    					<div class="progress-bar skew" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="item">
			    			<div class="progress progress-animated">
			    				<div class="consumoInfo">
			    					<p>Promoción <strong>4G</strong></p>
			    					<p class="fw-semibold morado-chicle">Te quedan 2GB</p>
			    				</div>
			    				<div class="progress progress-animated">
			    					<div class="progress-bar skew" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="item">
			    			<div class="progress progress-animated">
			    				<div class="consumoInfo">
			    					<p>Bolsa de datos <strong>1GB</strong></p>
			    					<p class="fw-semibold morado-chicle">Te quedan 500MB</p>
			    				</div>
			    				<div class="progress progress-animated">
			    					<div class="progress-bar skew" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			    				</div>
			    			</div>
			    		</div>
			    	</div>	
	    		</div>
	    	</div>
	    	<br>
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<div class="info-plan-consumo-header">
	    				<i class="fa fa-cloud-download"></i> <span class="morado-plain fw-semibold">Minutos</span>
	    			</div>
	    		</div>
	    		<div class="col-xs-6 ta-right">
	    			<button type="button" class="btn btn-xs btn-default">Agregar bolsas</button>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-12">
	    			<div class="consumoBars">
			    		<div class="item">
			    			<div class="progress progress-animated">
			    				<div class="consumoInfo">
			    					<p>Minutos de tu plan 200 minutos</p>
			    					<p class="fw-semibold morado-chicle">Te quedan 70 min.</p>
			    				</div>
			    				<div class="progress progress-animated">
			    					<div class="progress-bar skew" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			    				</div>
			    			</div>
			    		</div>
						<div class="item">
			    			<div class="progress progress-animated">
			    				<div class="consumoInfo">
			    					<p>Bolsa de 100 minutos</p>
			    					<p class="fw-semibold morado-chicle">Te quedan 66 min.</p>
			    				</div>
			    				<div class="progress progress-animated">
			    					<div class="progress-bar skew" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			    				</div>
			    			</div>
			    		</div>
			    	</div>	
	    		</div>
	    	</div>
	    </div>
	</div>
	{% include "partials/footer.html" %}
{% endblock %}