{% extends "layout.nunjucks" %}
{% set title = "Visualizar consumos saldos - Prepago" %}

{% block content %}

{% include "partials/navbar.html" %}

<header>
  <div class="bg-modulo bg-modulo-shortest modulo-portabilidad">
    <div class="container">
      <h3 class="ta-center white fw-semibold uc">Lo que has consumido</h3>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-xs-12 select-phone">
      <select class="form-control select-caret fw-semibold">
        <option selected="">+56 988776655</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4 class="fw-semibold nopadding">Detalle de las llamadas</h4>
    </div>
  </div>
  <div class="promociones-activas">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5 class="mes-title fw-semibold">Agosto 2016</h5>
        <h6 class="info-mes-title fw-semibold">2 de Agosto</h6>
        <table class="llamadas table-striped wow animated fadeInUp">
            <tbody>
              <tr>
              <th class="morado-uva fs-small">Destino</th>
              <th class="morado-uva">Hora</th>
              <th class="morado-uva">Duración</th>
              </tr>
              <tr>
              <td>+56973385436</td>
              <td>19:00 Hrs</td>
              <td>00:45</td>    
              </tr>
              <tr>
              <td>+56973385436</td>
              <td>19:00 Hrs</td>
              <td>00:45</td>
              </tr>
              <tr>
              <td>+56973385436</td>
              <td>19:00 Hrs</td>
              <td>00:45</td>
              </tr>
              <tr>
                <td>+56973385436</td>
                <td>19:00 Hrs</td>
                <td>00:45</td>
              </tr>
              <tr>
                <td>+56973385436</td>
                <td>19:00 Hrs</td>
                <td>00:45</td>
              </tr>
          </tbody>
        </table>
        <h6 class="info-mes-title fw-semibold">1 de Agosto</h6>
        <table class="llamadas table-striped wow animated fadeInUp">
          <tbody><tr>
            <th class="morado-uva">Destino</th>
            <th class="morado-uva">Hora</th>
            <th class="morado-uva">Duración</th>

          </tr>
          <tr>
            <td>+56973385436</td>
            <td>19:00 Hrs</td>
            <td>00:45</td>    
          </tr>
          <tr>
           <td>+56973385436</td>
           <td>19:00 Hrs</td>
           <td>00:45</td>
         </tr>
         <tr>
           <td>+56973385436</td>
           <td>19:00 Hrs</td>
           <td>00:45</td>
         </tr>
         <tr>
          <td>+56973385436</td>
          <td>19:00 Hrs</td>
          <td>00:45</td>
          </tr>
          <tr>
            <td>+56973385436</td>
            <td>19:00 Hrs</td>
            <td>00:45</td>
          </tr>
        </tbody>
        </table>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h5 class="mes-title fw-semibold">Julio 2016</h5>
        <h6 class="info-mes-title fw-semibold">2 de Julio</h6>
        <table class="llamadas table-striped wow animated fadeInUp">
            <tbody>
              <tr>
              <th class="morado-uva fs-small">Destino</th>
              <th class="morado-uva">Hora</th>
              <th class="morado-uva">Duración</th>
              </tr>
              <tr>
              <td>+56973385436</td>
              <td>19:00 Hrs</td>
              <td>00:45</td>    
              </tr>
              <tr>
              <td>+56973385436</td>
              <td>19:00 Hrs</td>
              <td>00:45</td>
              </tr>
              <tr>
              <td>+56973385436</td>
              <td>19:00 Hrs</td>
              <td>00:45</td>
              </tr>
              <tr>
                <td>+56973385436</td>
                <td>19:00 Hrs</td>
                <td>00:45</td>
              </tr>
              <tr>
                <td>+56973385436</td>
                <td>19:00 Hrs</td>
                <td>00:45</td>
              </tr>
          </tbody>
        </table>
        <h6 class="info-mes-title fw-semibold">1 de Julio</h6>
        <table class="llamadas table-striped wow animated fadeInUp">
          <tbody><tr>
            <th class="morado-uva">Destino</th>
            <th class="morado-uva">Hora</th>
            <th class="morado-uva">Duración</th>

          </tr>
          <tr>
            <td>+56973385436</td>
            <td>19:00 Hrs</td>
            <td>00:45</td>    
          </tr>
          <tr>
           <td>+56973385436</td>
           <td>19:00 Hrs</td>
           <td>00:45</td>
         </tr>
         <tr>
           <td>+56973385436</td>
           <td>19:00 Hrs</td>
           <td>00:45</td>
         </tr>
         <tr>
          <td>+56973385436</td>
          <td>19:00 Hrs</td>
          <td>00:45</td>
          </tr>
          <tr>
            <td>+56973385436</td>
            <td>19:00 Hrs</td>
            <td>00:45</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 


{% include "partials/footer.html" %}

{% endblock %}