{% extends "layout.nunjucks" %}
{% set title = "Wizard de Teléfono" %}

{% block content %}

	{% include "partials/navbar.html" %}

	<header>
		<div class="bg-modulo bg-modulo-short modulo-portabilidad">
			<div class="container">
				<h3 class="ta-center white fw-semibold uc" style="margin-top: 140px">Busquemos el equipo más conveniente</h3>
			</div>
		</div>
	</header>

	
	<div id="wizardPlanes">
		<div class="container">
			<div id="wizardPlanes-paso1" class="wizardPlanes-pasos" data-nextStep="paso2" style="display: block;"">
				<div class="row">
					<div class="col-xs-12 ta-center">
						<h4 class="morado-plain uc fw-semibold nopadding">hazla corta!</h4>
						<p class="nopadding">¿Equipo con o sin portabilidad? <br>Elige tu opción:</p>
					</div>
				</div>
				<div class="row fs-small ta-center">
					<div class="col-xs-6 nopadding fw-semibold">
						<a href="#" onclick="return false;">
							<i class="fa fa-book"></i>
							<span class="wizardLabel"><strong class="uc fw-bold">Sin portabilidad</strong><br>Tienes número nuevo</span>
						</a>
					</div>
					<div class="col-xs-6 nopadding fw-semibold">
						<a href="#" onclick="return false;">
							<i class="fa fa-comment-o"></i>
							<span class="wizardLabel"><strong class="uc fw-bold">Con portabilidad</strong><br>Mantienes tu número</span>
						</a>
					</div>
				</div>
			</div>
			<div id="wizardPlanes-paso2" class="wizardPlanes-pasos" data-nextStep="paso3" style="display: none;">
				<div class="row">
					<div class="col-xs-12">
						<h4 class="morado-plain uc fw-semibold nopadding ta-center">Ahora debes elegir tu equipo</h4>
					</div>
				</div>
				<div class="wizard-appendix wizard-telefono-cuantocosto">
					<div class="wizard-appendix-header">
						<div class="row">
							<div class="col-xs-12">
								<h5 class="morado-plain fw-semibold nomargin nopadding">Cuota inicial</h5>
								<p class="nomargin nopadding">¿Cuánto estás dispuesto a pagar?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 ta-center">
							<p class="nopadding mt-20"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Costo 0</a></p>
							<p class="nopadding"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Entre $9.990 y $49.990</a></p>
							<p class="nopadding"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Entre $49.990 y $149.990</a></p>
							<p class="nopadding"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Entre $150.000 y $249.990</a></p>
							<p class="nopadding"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Entre $250.000 y $499.990</a></p>
							<p class="nopadding"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Sobre $500.000</a></p>
						</div>
					</div>
				</div>
				<div class="wizard-appendix wizard-telefono-quemarca">
					<div class="wizard-appendix-header">
						<div class="row">
							<div class="col-xs-12">
								<h5 class="morado-plain fw-semibold nomargin nopadding">Marca</h5>
								<p class="nomargin nopadding">¿Qué marca prefieres?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 ta-center">
							<p class="nopadding nomargin" style="line-height: 265%;"><a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Apple</a> <a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Huawei</a> <a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Lenovo</a> <a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">LG</a> <a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Motorola</a> <a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Samsung</a> <a class="btn btn-default fw-semibold option" style="display: inline-block;" href="#">Verycool</a></p>
						</div>
					</div>
				</div>
				<div class="wizard-appendix wizard-telefono-quepantalla">
					<div class="wizard-appendix-header">
						<div class="row">
							<div class="col-xs-12">
								<h5 class="morado-plain fw-semibold nomargin nopadding">Pantalla</h5>
								<p class="nomargin nopadding">¿Qué pantalla prefieres?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-mobile-phone" style="font-size: 3rem; top: 15px;"></i>
								<span class="smallLabel fs-small">3.9"</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-mobile-phone" style="font-size: 4rem; top: 10px;"></i>
								<span class="smallLabel fs-small">4" - 4.9"</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-mobile-phone" style="font-size: 5rem; top: 5px;"></i>
								<span class="smallLabel fs-small">5" - 5.9"</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-mobile-phone" style="font-size: 6rem;"></i>
								<span class="smallLabel fs-small">6" y más</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wizard-appendix wizard-telefono-quecamara">
					<div class="wizard-appendix-header">
						<div class="row">
							<div class="col-xs-12">
								<h5 class="morado-plain fw-semibold nomargin nopadding">Cámara</h5>
								<p class="nomargin nopadding">¿Cuántos megapíxeles prefieres en tu cámara?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-camera" style="font-size: 2rem; top: 15px;"></i>
								<span class="smallLabel fs-small">4.9MP</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-camera" style="font-size: 3rem; top: 10px;"></i>
								<span class="smallLabel fs-small">5.9 a 9.9MP</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-camera" style="font-size: 3.6rem; top: 5px;"></i>
								<span class="smallLabel fs-small">10MP a 14MP</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-camera" style="font-size: 4rem; top: 5px"></i>
								<span class="smallLabel fs-small">Sobre 15MP</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wizard-appendix wizard-telefono-cuantamemoria">
					<div class="wizard-appendix-header">
						<div class="row">
							<div class="col-xs-12">
								<h5 class="morado-plain fw-semibold nomargin nopadding">Memoria</h5>
								<p class="nomargin nopadding">¿Cuánta capacidad en memoria quieres?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-folder-open" style="font-size: 3rem; top: 15px;"></i>
								<span class="smallLabel fs-small">8GB</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-folder-open" style="font-size: 4rem; top: 10px;"></i>
								<span class="smallLabel fs-small">16GB</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-folder-open" style="font-size: 5rem; top: 5px;"></i>
								<span class="smallLabel fs-small">32GB</span>
							</a>
						</div>
						<div class="col-xs-3 ta-center">
							<a href="#" class="option" style="background-color: transparent;">
								<i class="fa fa-folder-open" style="font-size: 6rem;"></i>
								<span class="smallLabel fs-small">64GB y más</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wizardTelefonos-ending">
					<p class="mt-20 ta-center">
						<button class="btn btn-lg disabled">Encontrar mi equipo</button>
					</p>
				</div>
			</div>
			<div id="wizardPlanes-pasofinal" style="display: none;">
				<div class="row">
					<div class="col-xs-6">
						<h3 class="morado-plain fs-lg fw-semibold" style="line-height: 100%;">
							<span class="uc" style="display: block;">Samsung</span>
							Galaxy S6
						</h3>
						<p>
							<a href="#" class="btn btn-sm btn-outline-quaternary">Ver detalles</a>
						</p>
						<p>
							<h5 class="morado-plain">Cuota inicial</h5>

						</p>
					</div>
					<div class="col-xs-6">
						Foto
						<p class="ta-center">
							<button class="btn btn-sm btn-primary">Buscar otro equipo</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>



	{% include "partials/footer.html" %}
{% endblock %}