/*
Private Section

Contenedor de sección del sitio privado.<br>HTML en <code>/mockups/templates/partials/private-section.html</code>

Markup:
<section class='private-section'>
	<h4>Title</h4>
	<a class='btn btn-default btn-xs'>link directo</a>
	<ul>
		<li><a href='#'>Lorem ipsum</a></li>
		<li><a href='#'>Amet sin coto</a></li>
		<li><a href='#'>Kisuaely neumyx</a></li>
	</ul>
</section>

Styleguide 7.2

*/

.private-section {
	position: relative;
	background-color: $white;
	padding: $padding-large-vertical $padding-large-horizontal;
	h4{
		color: $secondary;
		margin: 0 0 1em 0;
		padding: 0;
		line-height: 1.4;
		font-size: 1.6rem;
	}

	.btn-xs{
		position: absolute;
		top: $padding-large-vertical;
		right: $padding-base-horizontal;
	}

	ul{
		li{
			font-size: 1.2rem;
			padding: 0 0 0 1em;
			list-style-position: inside;
		}
	}
}


// breakpoint and up

@media (min-width: $screen-md){
	.private-section {

	}
}


