.bg-modulo {
  position: relative;
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 370px;
  min-width: 280px;
}

.bajada-morada {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#86029e+48,86029e+48,1e5799+100,4e0165+100 */
  background: #86029e; /* Old browsers */
  background: -moz-linear-gradient(top,  #86029e 48%, #86029e 48%, #1e5799 100%, #4e0165 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #86029e 48%,#86029e 48%,#1e5799 100%,#4e0165 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #86029e 48%,#86029e 48%,#1e5799 100%,#4e0165 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86029e', endColorstr='#4e0165',GradientType=0 ); /* IE6-9 */
  width: 120%;
  margin-top: -40px;
  margin-left: -10%;
  padding: 40px 10% 0px;
}

.bg-modulo h3 {
  margin-top: 200px;
  padding: 0;
}

.bg-modulo.modulo-mensajes h3,
.bg-modulo.modulo-mensajes h4 {
  line-height: 100%;
}

.bg-modulo.modulo-mensajes h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.bg-modulo.modulo-mensajes h4 {
  font-size: 4rem;
  margin: 0;
}

.bg-modulo h4 {
  padding: 0 10px;
}

.modulo-portabilidad {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-pagofacil {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-centroayuda {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}

.modulo-pagofacil h3 {
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 20px;
}

.bg-portate-bien {
  margin-top: -20px;
  height: 360px;
  background-color: transparent;
  background-image: url("../../wom-base/img/portabilidad/fondo-portatebien.png");
  background-repeat: no-repeat;
  background-position: left;
}

.bg-flujo-portate {
  margin-top: -20px;
  height: 430px;
  background-color: transparent;
  background-image: url("../../wom-base/img/portabilidad/fondo_flujo_portate.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.bg-flujo-portate h3 {
  margin-top: 230px;
  padding: 0;
  line-height: 1.5rem;
}

.bg-flujo-portate h4 {
  padding: 0 10px;
}

.instrucciones-portabilidad {
  margin-top: -50px;
}

.morado-plain {
  color: #602F84;
}

.morado-grande {
  color: #602F84;
  font-size: 2.5rem;
}

.nomargin {margin: 0;}
.nopadding {padding: 0;}

.morado-grande-subrayado {
  font-size: 2.2rem;
  border-bottom: 2px solid #602F84;
  padding-bottom: 5px;
}

.instrucciones-portabilidad p {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  color: #636363;
}

.abandona-darkside {
  margin-left: 0;
  display: inline-block;
}

.abandona-darkside h4 {
  margin-top: -2.7rem;
  color: #602F84;
}

.solicita-portabilidad h4 {
  color: #602F84;
  margin-bottom: -10px;
}

.solicita-portabilidad p {
  font-size: 1.8rem;
  color: #636363;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
