// A beautiful selection of our branded colors
//
// Styleguide

// Brand colors

$primary:				rgb(66, 20, 65) !default; // according to brand manual
$primary-dark:			darken($primary, 5%);
$primary-light:			desaturate(lighten($primary, 10%), 10%);
$primary-transparent:	rgba(70, 2, 123, 0.9); 

$secondary:			#602F84; // #AEA091 #711082 !default; 
$secondary-dark:	darken($secondary, 12%);
$secondary-light:	desaturate(lighten($secondary, 10%), 20%);

$terciary:			#564599 !default;
$terciary-dark:		darken($terciary, 11%);
$terciary-light:	desaturate(lighten($terciary, 15%), 4%);

$quaternary: 		#720184;
$quaternary-light:	desaturate(lighten($quaternary, 15%), 4%);

$pink: 				#D0AFD5;
$grape: 			#421441:

$color-action:		#720184 !default;
$link:          	$color-action !default;
$link--visited: 	darken($link, 10%) !default;
$link--hover:   	lighten($link, 10%) !default;
$link--active:  	darken($link, 20%);

// dark shades
$gray-1:         #424242 !default;
$gray-2:         lighten($gray-1, 13%) !default;
$gray-3:         lighten($gray-2, 13%) !default;

// light shades
$gray-4:			lighten($gray-3, 13%) !default;
$gray-5:			lighten($gray-4, 13%) !default;
$gray-6:			lighten($gray-5, 13%) !default;

$black:			#000000 !default;
$white:         #ffffff !default;

$shadow-col:	fade-out($black, .6);

