/*Home - Test Styles*/


/* portabilidad */

.bg-portabilidad{
    background-color: transparent;
    background-image: url('../img/portabilidad/FONDO1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 430px;
}

.bg-portabilidad h3 {
    margin-top: 260px;
    padding: 0;
}
.bg-portabilidad h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.bg-home{
    background-color: transparent;
    background-image: url('../../wom-base/img/home/bghome.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 530px;
    margin-bottom: 40px;
}

.bg-home h3 {
    margin-top: 260px;
    padding: 0;
    line-height: 1.5rem;
}
.bg-home h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}

.photo img {
    position: relative;
}
.main-foot{
    background-color: transparent;
    background-image: url('../../wom-base/img/footer2.jpg');
    color: #fff;
    margin-top: 70px;
    position: relative;
    display: block;
    height: auto;
    padding-top: 30px;
    background-size: cover;
    clear: both;
    min-height: 264px;
}
.main-foot ul{
    list-style: none;
    display: inline-block;
}
footer {padding: 20px;}
.main-foot .ta-center img {
  margin: 15px auto;
}
.accesos-foot{
    list-style-position: inside;
    float: left;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.lista-foot,
.accesos-foot {
  margin: 15px 0; padding: 0; width: 100%;
}
.lista-foot a {
    display: block;
    font-size: 16px;
    font-family: Cera,sans-serif;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid #333333;
}
.lista-foot li:first-of-type a {
  border-top: 1px solid #333333;
}
.lista-foot ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #333;
    color: #fff;
    width: 70%;
}
.lista-foot ul li{
    border-bottom:1px solid #FFF;
}

.ico-space {
    display: inline;
    margin: 0 0 0 10px;
}
.accesos-foot a {
    color: #b171c3;
    font-size: 12px;
}
.non-point {
    list-style: outside none none;
}
ul {
    list-style-position: inside;
}
.centro{
    position: absolute;
    top:5rem;
    right:0;
    font-size:14px;
    padding: 5px;
    color: #fff;
    background-color: #96309F;
    max-height: 70px;
}.noticias img{
    margin:0 auto;
}

/** helper classes*/
.no-underline {
  text-decoration: none;
}
.morado-plain {
  color: $quaternary;
}
.morado-plain-bg {
  background-color: $quaternary;
}
.gray-2 {
  color: $gray-2;
}
.morado-chicle {
  color: #ba007c;
}
.morado-chicle-bg {
  background-color: #ba007c;
  border: none;
}
.morado-chicle a {
  text-decoration: underline;
}
.dark-red {
  color: #AE8282;
}
.creamy-red {
  color: #AE8282;
}

.btn.btn-outline-white {
  color: white;
  border: 2px solid white;
}
.btn.btn-outline-quaternary {
  color: $quaternary;
  border: 1px solid $quaternary;
}

.bignumber {
  font-family: 'Cera';
  font-size: 36px;
  vertical-align: baseline;
}

.morado-subrayado {
  border-bottom: 2px solid $quaternary;
  padding-bottom: 5px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.morado-grande-subrayado {
  font-size: 2.2rem;
  border-bottom: 2px solid $quaternary;
  padding-bottom: 5px;
}

/* helpers */
.nomargin {margin: 0;}
.nopadding {padding: 0;}
.margintop {margin: 15px 0 0 0;}
.marginbottom {margin: 0 0 15px 0;}
.lineheight100 {line-height: 100%;}
.lineheight120 {line-height: 120%;}

.numerical {
  font-family: "Cera";
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}
.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.pt-5 {padding-top:5px;}
.pt-10 {padding-top:10px;}
.pl-10 {padding-left:10px;}
.pl-30 {padding-left: 30px !important;}
.pl-40 {padding-left: 40px !important;}
.pb-5 {padding-bottom:5px;}
.pb-10 {padding-bottom:10px;}
.pr-10 {padding-right:10px;}
.pr-30 {padding-right: 30px !important;}
.pr-40 {padding-right: 40px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mb-20 {margin-top: 20px !important;}
.mt-40 {margin-top: 40px !important;}
.mb-40 {margin-top: 40px !important;}
.mr-10 {margin-right: 10px !important;}
.mb-10 {margin-bottom: 10px !important;}
.ml--20 {margin-left: -15px !important;}

/* estilos extras de pago facil */

.bg-modulo {
  position: relative;
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 370px;
  min-width: 280px;
}

.bg-modulo-short {
  position: relative;
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 270px;
  min-width: 280px;
}

.bg-modulo-shortest {
  height: 250px;
  min-height: 250px;
}

.bg-modulo.bg-modulo-shortest h3 {
  margin-top: 130px;
}

.bajada-morada,
.modulo-morado {
  background: #86029e; /* Old browsers */
  background: -moz-linear-gradient(top,  #86029e 48%, #86029e 48%, #4e0165 100%, #4e0165 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #86029e 48%,#86029e 48%,#4e0165 100%,#4e0165 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #86029e 48%,#86029e 48%,#4e0165 100%,#4e0165 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86029e', endColorstr='#4e0165',GradientType=0 ); /* IE6-9 */
}

.modulo-morado-alt {
  background: rgba(115,1,132,1);
  background: -moz-linear-gradient(top, rgba(115,1,132,1) 0%, rgba(50,0,77,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,1,132,1)), color-stop(100%, rgba(50,0,77,1)));
  background: -webkit-linear-gradient(top, rgba(115,1,132,1) 0%, rgba(50,0,77,1) 100%);
  background: -o-linear-gradient(top, rgba(115,1,132,1) 0%, rgba(50,0,77,1) 100%);
  background: -ms-linear-gradient(top, rgba(115,1,132,1) 0%, rgba(50,0,77,1) 100%);
  background: linear-gradient(to bottom, rgba(115,1,132,1) 0%, rgba(50,0,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#730184', endColorstr='#32004d', GradientType=0 );
}

.modulo-morado-alt .miniLabel {
  color: white;
}

.bajada-morada {
  margin-top: -40px;
  padding: 40px 0 40px;
}

.modulo-morado {
    color: white;
    padding: 0 0 30px;
}
.modulo-morado small {
  display: block;
  margin: 0;
}
.modulo-morado .svg-blanco {
  background: rgba(145,2,168,1);
  padding: 5px;
  margin: 5px 0 0 0;
}
.modulo-morado h4,
.modulo-morado h6 {
    color: white;
}
.modulo-morado h6 {
    margin: 0;
    padding: 0;
}
.modulo-morado .item {
    margin-bottom: 30px;
}
.bg-modulo h3 {
  margin-top: 200px;
  padding: 0;
  line-height: 125%;
}
.bg-modulo h3.large {
  font-size: 4.5rem;
}
.bg-modulo.modulo-mensajes h3,
.bg-modulo.modulo-mensajes h4 {
  line-height: 100%;
}
  
.bg-modulo.modulo-mensajes h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.bg-modulo-short.modulo-mensajes h3 {
  text-transform: uppercase;
  margin-top: 120px;
}
.bg-modulo-short.modulo-mensajes h4 {
  font-size: 4rem;
  margin-top: -30px;
}
.bg-modulo.modulo-mensajes h4 {
  font-size: 4rem;
  margin: 0;
}
.bg-modulo h4 {
  padding: 0 10px;
}
.bg-modulo h4.fs-base {
  line-height: 130%;
}
.modulo-portabilidad {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-portatebien {
  background-image: url("../../wom-base/img/portabilidad/fondo-portatebien.png");
  background-repeat: no-repeat;
  min-height: 360px;
  position: relative;
}
.modulo-portatebien .btn-group {
  margin-top: 145px;
}
.modulo-portatebien .btn-portate {

  background-color: transparent;
}
.modulo-pagofacil {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
  min-height: 400px;
}
.modulo-pagofacil-short {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
  min-height: 220px;
}
.embed-responsive-16by9 {
    padding-bottom: 40% !important;
}
.modulo-centroayuda {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}

.modulo-pagofacil h3 {
  margin-top: 180px;
  margin-bottom: 20px;
}

.modulo-pagofacil-short h3 {
  margin-top: 190px;
  margin-bottom: 20px;
  line-height: 3rem;
}
.modulo-pagofacil-short h4 {
  margin-top: -10px;
  margin-bottom: 20px;
  line-height: 1rem;
}

.title-selecciona-medio-pago {
  line-height: 2.5rem !important;
}

.halfButtons {
  margin-top: -40px;
  
}

.halfButtons a {
  text-align: center;
  color: white;
  display: block;
  font-size: 1.1rem;
  line-height: 130%;
  padding: 15px;
}

.halfButtons .halfButton strong {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.paga-cuenta-copy,
.paga-cuenta-copy h5,
.paga-cuenta-copy p {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.paga-cuenta-copy h5 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.paga-cuenta-copy p {
  margin-bottom: 15px;
}

.pago-facil-desglose {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pago-facil-desglose p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 175%;
}

.pago-facil-selecciona strong,
.pago-facil-paga strong {
  display: block;
  font-size: 4rem;
  line-height: 100%;
  font-weight: 500;
}

.pago-facil-selecciona .item {
  overflow: hidden;
  padding: 30px 0;
}

.pago-facil-selecciona .item.dark {
  border-top: 1px solid #ECECEC;
  background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#ECECEC',GradientType=0 ); /* ie6-9 */
}

.pago-facil-selecciona .checkbox {
  margin: 10px 0 0;
}

.pago-facil-paga {
  background-color: #5D0274;
  color: white;
  padding-bottom: 20px;
}
.pago-facil-paga small {
  margin: 20px 0 0 10px;
  font-size: 1.5rem;
  display: block;
  text-transform: uppercase;
}

.pago-facil-paga .btn-primary {
  margin-top: 30px;
}
.medio-pago p {margin: 0;}

.mensajes-sesion {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
.mensajes-sesion p {
  font-size: 1.8rem;
  color: $gray-3;
}
.mensajes-reporte-pago {
    margin: 25px 0 20px;
    padding: 0;
    list-style-type: none;
}
.mensajes-reporte-pago li > span {
    display: inline-block;
    margin-bottom: 5px;
}
    .mensajes-reporte-pago li > span:first-of-type {
        text-align: right;
        margin-right: 5px;
        width: 55%;
    }
    .mensajes-reporte-pago li > span:last-of-type {
        font-weight: semibold;
        text-align: left;
        margin-left: 5px;
        width: 40%;
        color: #6C017F;
    }

.instrucciones-portabilidad p {
  padding-left: 1.5rem;
  font-size: 1.75rem;
  color: #636363;
}
.instrucciones-portabilidad h4{
  color: $quaternary;
  font-size: 2rem;
}
.instrucciones-portabilidad h5{
  font-size: 2rem;
}

.solicita-portabilidad h4 {
  margin-bottom: -25px;
}


.iconos-portabilidad-lista {
  padding-top: 30px;
}

/* despliegue botón btn-portate*/ 

.modulo-portatebien .dropdown-menu {
    transition: all .3s ease-out;
    padding: 32px 0 0 0;
    margin-top: -15px;
    list-style: none;
    font-size: 1.35rem;
    text-align: left;
    background-color: $primary-transparent;
    border: 0;
    border-radius: 0;
    z-index : 90;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    left: -25px;
    right: -25px;
}
.modulo-portatebien .col-xs-2.nopadding {
  margin-left: 10px;
}
.modulo-portatebien .btn-group button.tilt.btn-portate {
  position: relative;
  z-index: 180;
}
.modulo-portatebien .open > .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.modulo-portatebien .dropdown-menu a{
  color: white;
}

.modulo-portatebien .dropdown-menu li {
  overflow: hidden;
  padding: 10px;
  clear: both;
  border-bottom: 1px solid white;
}

.modulo-portatebien .dropdown-menu li:after{
  content: url(../../wom-base/img/icons/ico-arrow-right.svg);
  width: 10px;
  height: 17px;
  top: 20px;
  position: relative;
  left: 10px;
}

.modulo-portatebien .btn:hover{
  color: #DED3E7;
}


/* para el flujo de portabilidad */

.ico-portabilidad {
  height: 65px;
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: center;  
}

.ico-portabilidad-bottom {
  margin-left: 25px;
  margin-top: -5px;
}

.ico-portabilidad-text {
  margin-top: 10px;
}

.ico-portabilidad-tengoplan {
  background-image: url(../../wom-base/img/portabilidad/ico-tengo-plan.svg);
  background-position: 11px center;
}
.ico-portabilidad-tengoprepago {
  background-image: url(../../wom-base/img/portabilidad/ico-tengo-prepago.svg);
}
.ico-portabilidad-tengoprepago2 {
  background-image: url(../../wom-base/img/portabilidad/ico-tengo-plan2.svg);
}

#stepper_portabilidad {
  font-family: 'Cera';
  margin: 0 auto -40px;
  padding: 0 0 30px 0;
  list-style-type: none;
  text-align: center;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  max-width: 350px;
}

#stepper_portabilidad:after {
  content: '';
  background: #9157A4;
  width: 75%;
  height: 3px;
  margin-top: -13px;
  margin-left: 15%;
  display: block;
}

#stepper_portabilidad li {
  display: inline-block;
  margin: 0 5%;
}

  #stepper_portabilidad li:first-of-type {
    margin-left: 0;
  }
  #stepper_portabilidad li:last-of-type {
    margin-right: 0;
  }

#stepper_portabilidad li span {
  display: block;
  background: #9157A4;
  color: white;
  text-align: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: $primary-light;
}

#stepper_portabilidad li.active span {
  background: white;
}

/* para forms de portabilidad */

.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-color: rgba(0,0,0,.66);
  z-index: 100;
}

.modal .modal-dialog {
  z-index: 1000;
  padding-top: 90px;

}

.modal .modal-dialog .btn {
  text-transform: uppercase;
  color: $primary-light;
}

.modal .modal-dialog .btn.grayed-out {
  color: #888;
}

.modal .modal-header,
.modal .modal-footer {
  border: none;
}

.modal .modal-dialog .modal-content {
  border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-title {
  padding: 0;
  text-transform: uppercase;
}

.photoUpload {
  margin-bottom: 30px;
}
.photoUpload img.ico {
  position: relative;
  top: 8px;
}
.validInput,
.invalidInput {
  position: relative;
}
.validInput:after,
.invalidInput:after {
  position: absolute;
  right: 0;
  content: '';
  display: block;
}
.validInput:after {
  top: 15px;
  width: 14px;
  height: 10px;
  background-image: url(../../wom-base/img/icons/ico-ticket.svg);
}
.pagadoStamp {
  position: absolute;
  right: 15px;
  margin-top: -20px;
}
.wom-mensaje-tle-cap {
  width: 80%;
    font-family: 'cerabold';
    color: #606060;
    font-size: 1em;
    margin: 0px auto;
    text-align: center;
}
.invalidInput input,
.invalidInput .help-block {
  color: #D0021B; 
  border-color: #D0021B;
}
.invalidInput:after {
  top: 10px;
  width: 16px;
  height: 16px;
  background-image: url(../../wom-base/img/icons/ico-warning.svg);
}

.help-block{
  padding-bottom: 0;
}

/* bootstrap core override para portabilidad form */
.alert {
  border-radius: 0;
}

.progress {
  border-radius: 0;
}


/* bootstrap core overrides para botones */

.fs-medium {
  font-size: 2rem;
}

.btn-grey {
  background-color: #CCC;
  border-color: transparent;
}

.btn-primary.success {
  border-color: transparent;
}

.btn-link-success {
  text-decoration: none;
  color: #ba007c !important;
}

/* bootstrap core override para lite form components */
.select.select-lite select,
.form-group.select-lite input {
  color: white;
  border: none;
  border-bottom: 1px solid #EEE;
  background-color: transparent;
}
.form-control.input-lite {
  color: white;
  border-color: white;
}
#rut_usuario::-webkit-input-placeholder {color: white;}

.form-control.input-lite[type="text"]::-webkit-input-placeholder {
  color: white;
}
.select-lite 
.select-lite input[type="text"]::-webkit-input-placeholder {
  color: white;
}

/*  bootstrap navbar overrides */

.navbar.navbar-centered {
  position: absolute;
  padding: 0;
  width: 100%;
  z-index: 99;
  margin-bottom: 0;
}

.navbar.navbar-centered .navbar-collapse {
  border-color: transparent;
}

.navbar.navbar-centered .nav.navbar-nav {
  background-color: white;
  margin-top: 50px;
}
.navbar.navbar-centered .navbar-toggle {
  position: absolute;
  margin: 0;
  top: 30px;
  right: 15px;
  overflow: hidden;
  border-radius: 0;
  z-index: 99;
}

  .navbar.navbar-centered .navbar-toggle:hover,
  .navbar.navbar-centered .navbar-toggle:focus {
    background-color: $primary;
    color: white;
  }

.navbar.navbar-centered .navbar-toggle .navLabel,
.navbar.navbar-centered .navbar-toggle .hamburger {
  color: white;
  float: left;
  vertical-align: middle;
}

.navbar.navbar-centered .navbar-toggle .navLabel {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar.navbar-centered .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar.navbar-centered .hamburger {
  margin: 4px 0 0 7px;
  padding: 0;
}

.navbar.navbar-centered .navLabel {

}

.navbar.navbar-default {
  border: none;
  background-color: transparent;
}

.navbar.navbar-centered .navbar-brand-centered {
  width: 100px;
  float: none;
  margin: 0 auto;
}

/* bootstrap pills override para portabilidad */
.portabilidad-pills {}
.portabilidad-pills .nav-pills {margin: 0; padding: 0;}
.portabilidad-pills .nav-pills > li {
  width: 49%;
  margin-bottom: -1px;
}
.portabilidad-pills .nav-pills > li > a {
  border-radius: 0;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}
.portabilidad-pills .nav-pills .active a,
.portabilidad-pills .nav-pills .active a:focus {
  background-color: #730184;
}
.portabilidad-pills .tab-content.well {
  border-radius: 0;
  padding: 30px 20px;
  border: none;
}

.portabilidad-pills .tab-pane input.form-control {
  background-color: transparent;
  color: white;
}

/* recargas */

.select-phone {

}

.form-control.select-caret {
  font-size: 1.65rem;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px 10px;
  color: $quaternary;
  line-height: 125%;
  height: auto;
  background-image: url(../../wom-base/img/icons/caret-down-purple.svg);
  background-position: 96% center;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.modulo-saldo {
  margin: 20px auto;
}

.modulo-saldo .modulo-saldo-cash,
.modulo-saldo .modulo-saldo-promedio {
  margin: 0 0 15px 0;
  padding: 0;
}

.modulo-saldo .modulo-saldo-cash {
  font-size: 5.4rem;
  color: #666;
}

.modulo-saldo .modulo-saldo-promedio {
  font-size: 3rem;
  line-height: 110%;
  color: $quaternary;
  margin-top: -10px;
}

.modulo-planes-convenientes button {
  width: 85%;
}

.modulo-planes-convenientes {
  background-color: white;
}
.modulo-planes-convenientes p {
  color: $gray-3 !important;
}
/* nuevo layout: calendar cards; */

.calendarCards {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendarCards .item {
  border: 1px solid #CCC;
  margin-bottom: 30px;
}

.calendarCards .item .cards-head {
  background-color: white;
  color: white;
  overflow: hidden;
  padding: 8px 15px;
  border-bottom: 1px solid $gray-4;
}
.cards-head-mes.cards-head-total strong {
  color: $gray-4;
}

.calendarCards .item .cards-head-mes {
  float: left;
}
.calendarCards .item .cards-head-mes strong {
  display: block;
  font-size: 2.4rem;
}
  
  .calendarCards .item:first-of-type .cards-head {
    background-color: #BA007C;
  }

.calendarCards .item .cards-head-total {
  float: right;
  margin-top: 0;
}

  .calendarCards .item:first-of-type .cards-head-total {
    margin-top: 25px;
  }

.calendarCards .item .cards-head-total span {
  font-size: 1.8em;
}

.calendarCards .item .cards-content-item {
  padding: 15px;
  overflow: hidden;
  border-bottom: 1px solid #CCC;
}

  .calendarCards .item .cards-content-item:last-of-type {
    border-bottom: 0;
  }

.calendarCards .item .cards-content-item .cards-content-item-date {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  border: 1px solid #CCC;
  color: #666;
  font-size: 2.4rem;
  float: left;
}

.calendarCards .item .cards-content-item .cards-content-item-date span {
  background-color: $quaternary;
  color: white;
  display: block;
  font-size: 1.3rem;
  padding: 1px 0;
  line-height: 110%;
}
.calendarCards .item .cards-content-item .cards-content-item-desc {
  float: left;
  max-width: 49%;
  padding: 0 5px 0 0;
  line-height: 115%;
}

.calendarCards .item .cards-content-item .cards-content-item-desc p {
  margin: 0;
  padding: 0;
}

  .calendarCards .item .cards-content-item .cards-content-item-desc p:first-of-type {
    font-size: 1.25rem;
  }

.calendarCards .item .cards-content-item .cards-content-item-total {
  float: right;
  font-size: 1.7rem;
  text-align: right
}

/* womstrap inputs: general override; */
.form-group {margin-bottom: 30px; position: relative;}
.form-group .select select,
.form-control {
  box-shadow: none;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid #333;
}

.form-group .miniLabel {
  z-index: -1;
  top: -20px;
  left: -40px;
  opacity: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all .25s ease-out;
}
.form-group .miniLabel.visible {
  -webkit-transform: translate(40px, 0);
  opacity: 1;
}
  .form-group.input-effect:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    width: 0%;
    height: 2px;
    background-color: $quaternary;
    top: 36px;
    left: 0;
    -webkit-transition: all .25s ease-out;
  }
  .form-group.input-effect.active:after {
    width: 100%;
  }

/* visualizar informacion de plan */

.info-plan-desglose {margin-bottom: 15px;}

.info-plan-title {
  background-color: $quaternary;
  color: white;
  padding: 10px 10px 10px 15px;
}

.info-plan-desglose .numbersData .item {
  border-left: 1px solid #CCC;
  line-height: 110%;
}

.info-plan-desglose .numbersData .item .big small {
  font-size: 1.6rem;
  vertical-align: baseline;
  line-height: 0;
}

.info-plan-desglose .numbersData .item .big {
  color: $quaternary;
  display: block;
  margin-bottom: 15px;
}
  .info-plan-desglose .numbersData .item:first-of-type {border-left: none;}

.promociones-activas ul {
  list-style-type: none;
}

.promociones-activas .item {
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}
  .promociones-activas .item:last-of-type {
    border-bottom: none;
  }

.promociones-activas h6 {margin-bottom: 0;}
.promociones-activas .item .big small {font-size: 1.4rem;}

.ver-saldo-actual {
}

.saldo-data-table {
  position: relative;
  list-style-type: none;
  border: 1px solid #CCC;
  margin: 15px 0;
}

.saldo-data-table li {
  padding: 7px;
  line-height: 175%;
  border-bottom: 1px solid #CCC;
}

  .saldo-data-table li:last-of-type {
    border-bottom: 0;
  }

.saldo-data-table .btn.ver-historial {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.saldo-data-table li .big {
  display: block;
}

.saldo-data-table li i.fa.fa-check-circle {
  float: right;
  margin-top: 6px;
  font-size: 2rem;
}

.bannerText {
  margin: 15px 0;
}

.bannerText ul {
  list-style-type: none;
  padding-left: 20px;
}

.bannerText .fa-check {
  margin-right: 10px;
}

.consumoBars {
  margin-top: 7px;
  border: 1px solid #CCC;
}
.consumoBars .item {
  position: relative;
}
.consumoBars .item .consumoInfo {
  position: absolute;
  z-index: 1313;
  padding-top: 15px;
  padding-left: 15px;
}
.consumoBars .item .consumoInfo p {
  margin: 0;
  padding: 0;
}
.consumoBars .progress {
  height: 85px;
  padding: 15px auto;
  margin-bottom: 0;
  box-shadow: none;
  border-bottom: 1px solid #CCC;
}
  .consumoBars .item:last-of-type .progress {
    border-bottom: 0;
  }
.consumoBars .progress-bar {
  background-color: white;
  border: 0;
  box-shadow: none;
  position: relative;
  left: -10px;
  box-shadow: -4px 0 16px #000;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* Gestionando Autoatencion Compra de Bolsas */

.btn-group.saldo-recarga-ahora {
  width: 100%;
}
.btn-group.saldo-recarga-ahora .btn {
  width: 50%;
  line-height: 160%;
  height: 50px;
  border: none;
}
.btn-group.saldo-recarga-ahora .btn.saldo-money {
  line-height: 0;
  background-color: transparent;
  box-shadow: 0 0 1px #444 inset;
}

.ico-input-money {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-input-money.svg);
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 5px;
    margin-top: 3px;
    margin-left: -7px;
}

.ico-bolsa-bolsa_datos {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_datos.svg);
    width: 40px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_voz {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_voz.svg);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_sms {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_sms.svg);
    width: 40px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_mixtas {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_mixta.svg);
    width: 38px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_tematicas {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_tematica.svg);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_roaming {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_roaming.svg);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}

.bolsaPicker {
  margin: 15px 0;
}
.bolsaPicker.bolsaSelected .item img {
  display: inline-block;
  margin: 10px 0;
}
.bolsaPicker.bolsaSelected .item .item-container > span {
  display: block;
}
.bolsaPicker.bolsaSelected .item .btn.btn-primary {
  margin: 10px 0;
}
.bolsaPicker h5 {
  color: #666;
}

  .bolsaPicker.bolsaSelected .item > .item-container {
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 5px 2px;
  }

.bolsaPicker .item a {
  border-radius: 5px;
  border: 1px solid #CCC;
  display: block;
  width: 90%;
  padding: 15px 0;
  text-decoration: none;
}

.bolsaPicker .item i.fa {
  display: block;
  font-size: 32px;
}

  .bolsaPicker .row:nth-child(2) {margin-bottom: 10px;}
  .bolsaPicker.bolsaSelected .row:nth-child(2) {margin-bottom: 30px;}

#bolsas-destacadas-carousel {margin-top: 15px;}

#bolsas-destacadas-carousel .item img {
  width: 100%;
  height: auto;
}
#bolsas-destacadas-carousel .carousel-indicators {
  bottom: 0;
}
#bolsas-destacadas-carousel .carousel-control {
  opacity: 1;
  color: white;
  font-size: 4rem;
  line-height: 560%;
  width: 30px;
}

#carousel-wizard-resultadoPlan {
  margin: 0 -15px 0 -15px;
  padding: 15px 15px 70px 15px;
}

#carousel-wizard-resultadoPlan .item > img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

#carousel-wizard-resultadoPlan .carousel-control {
  background: none;
  color: #720184;
  font-size: 5rem;
  opacity: 1;
  line-height: 5em;
}

/* HOME - Non-womers */

.purpleActions .list-group-item {
  background-image: url(../../mockups/img/home/thirdButtons-bg.png);
  border-radius: 0;
  color: white;
  border-color: white;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 300% auto;
}
  .purpleActions-small .list-group-item:nth-child(1) {
    background-position: left center;
  }
  .purpleActions-small .list-group-item:nth-child(2) {
    background-position: center;
  }
  .purpleActions-small .list-group-item:nth-child(3) {
    background-position: right center;
  }

.purpleActions .ico {
  width: auto;
  margin: 0;
  display: inline-block;
}

.purpleActions h4 {
  color: white;
}

.purpleActions-large .list-group-item {
  background-image: url(../../mockups/img/home/halfButtons-bg.png);
  background-size: 200% auto;
}

.purpleActions-large .list-group-item:last-of-type {
  background-position: right center;
}

.purpleActions-large .holder {
  padding: 50px 0;
}

.separador-home {
  background-image: url(../../mockups/img/home/tile-sombrita.png);
  padding: 10%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: none;
  background-color: transparent;
  background-position: -1px center;
}

#carousel-home-welcome {
  background-image: url(../../mockups/img/home/fondo-carrusel-home-nonwomer.png);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
}

#carousel-home-welcome .item .promo-slide {
  margin: 120px auto 15px;
  width: 70%;
}

#carousel-home-welcome .item .carousel-caption {
  margin: -20px auto 60px;
  position: static;
}

#carousel-home-welcome .carousel-control {
  color: white;
  font-size: 6rem;
  background: none;
  opacity: 1;
  line-height: 537px;
}

#carousel-home-welcome .carousel-indicators {
  bottom: 60px;
}

#carousel-home-welcome .continue {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -34px;
}

#carousel-home-nonwomers {
  background-image: url(../../mockups/img/home/bg-carousel-nonwomers.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -50px;
  padding-top: 50px;
  z-index: 2;
  position: relative;
}

.home-feature .parallaxHolder.nonwomer1 {
  padding-top: 200px;
}

#carousel-home-nonwomers .carousel-control {
  color: white;
  opacity: 1;
  font-size: 6rem;
  line-height: 40rem;
}

#carousel-home-nonwomers h3 {
  margin: 0 auto 20px;
  width: 240px;
  height: 120px;
  text-indent: -9999em;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../../mockups/img/home/plan-conveniente-title.png);
}

#carousel-home-nonwomers .item .carousel-caption {
  position: static;
  margin-bottom: 50px;
}

#carousel-home-nonwomers .item > img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.home-feature {
  color: #666;
}

.home-feature-list {
  list-style-type: none;
  margin-top: 30px;
}

.home-feature-list li {
  display: block;
  line-height: 165%;
}

#carousel-belowfold-womfeatures {
  padding-bottom: 45px;
}
#carousel-belowfold-womfeatures .carousel-control {
  color: $quaternary;
  font-size: 3rem;
  opacity: 1;
  line-height: 40rem;
  background: none;
}
#carousel-belowfold-womfeatures .carousel-inner .item {
  padding: 0 20px;
  height: 424px;
}
#carousel-belowfold-equipos {
  margin: 30px 0;
  background-image: url(../../mockups/img/home/carrusel-nonwomers-equipos-bg.png);
  padding: 30px 0;
  background-size: 100% auto;
}
#carousel-belowfold-equipos .carousel-control {
  background: none;
  color: white;
  opacity: 1;
  font-size: 5rem;
  line-height: 45rem;
}
#carousel-belowfold-equipos .promo {
  width: 65%;
  margin: 20px auto;
}
#carousel-belowfold-equipos li.active {
  background-color: #AF2FC9;
  border-color: #AF2FC9;
}
#form-centro-ayuda {
  position: relative;
  top: -45px;
  margin-bottom: -75px;
}
#form-centro-ayuda .form-control {
  border: 1px solid #666;
  background-image: url(../../mockups/img/home/ico-lupa.svg);
  background-repeat: no-repeat;
  background-position: 97% center
}

.home-pago-modulo .tab-content > .tab-pane {
  border: 1px solid $quaternary;
}

.home-pago-modulo .nav-tabs a {
  border-radius: 0;
  background-color: $quaternary;
  color: white;
}

.home-pago-modulo .nav-tabs a {
  border-color: $quaternary;
  color: white;
}

.home-pago-modulo .nav-tabs {
  border-bottom: none;
}

.home-pago-modulo .tab-content {
  margin-top: -1px;
}

.home-pago-modulo .tab-content .tab-pane {
  padding: 15px;
}

.home-pago-modulo .nav-tabs > li.active > a, 
.home-pago-modulo .nav-tabs > li.active > a:hover, 
.home-pago-modulo .nav-tabs > li.active > a:focus {
  border-color: $quaternary;
  color: $quaternary;
  border-bottom: none;
}

@media only screen and (min-width: 375px)  {
  #carousel-home-welcome {
    background-position: center -35px;
  }
  #carousel-home-welcome .item .carousel-caption {
    margin: 15px auto 50px;
  }
  .purpleActions-large .holder {
    padding: 75px 0;
  }
}

/* Otros iconos */

.ico-input-money {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-input-money.svg);
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 5px;
    margin-top: 3px;
    margin-left: -7px;
}

.ico-bolsa-bolsa_datos {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_datos.svg);
    width: 40px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_voz {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_voz.svg);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_sms {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_sms.svg);
    width: 40px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_mixtas {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_mixta.svg);
    width: 38px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_tematicas {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_tematica.svg);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.ico-bolsa-bolsa_roaming {
    background-image: url(../../mockups/img/private_site/compra_bolsa/ico-bolsa_roaming.svg);
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}

.ico-promo-descubre-plan {
    background-image: url(../../mockups/img/private_site/ico-promo-descubre-plan.svg);
    width: 19px;
    height: 25px;
    display: block;
    margin-left: 20px;
    margin-top: 12px;
}



/* Wizard para elegir plan + equipo */

#wizardPlanes {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec', GradientType=0 );
}

#wizardPlanes .wizardPlanes-pasos {
  margin: 0 0 30px 0;
}
#wizardPlanes #wizardPlanes-paso1 i.fa {
  display: block;
  font-size: 3rem;
  background-color: white;
  border-radius: 100%;
  border: 1px solid #CCC;
  width: 50px;
  padding: 7px 0;
  margin: 0 auto 10px;
  line-height: 110%;
  min-height: 50px;
  transition: all .3s ease-out;
}
  #wizardPlanes #wizardPlanes-paso1 a:hover i.fa,
  #wizardPlanes #wizardPlanes-paso1 a:focus i.fa {
    -webkit-transform: scale(1.2);
    background-color: $quaternary;
    color: white;
    border-color: white;
  }
#wizardPlanes a {
  text-decoration: none;
}
  #wizardPlanes #wizardPlanes-paso1 a:hover .wizardLabel,
  #wizardPlanes #wizardPlanes-paso1 a:focus .wizardLabel {
    color: $quaternary;
  }
#wizardPlanes a .wizardLabel {
  color: #666;
  line-height: 130%;
  display: block;
}

.wizard-appendix {
  margin: 30px 0;
}

.wizard-appendix-header {
  margin-bottom: 15px;
}

.gigaMeasures {
  list-style-type: none;
}

.gigaMeasures li {
  display: inline-block;
  width: 19%;
}
.gigaMeasures li .graphButton.selected .graphHolder {
  background-color: $quaternary;
}
  .gigaMeasures li:first-of-type .graphButton.selected .graphHolder {
    background-color: #622761;
    border-color: $quaternary;
  }
.gigaMeasures li .graphButton.selected .graphHolder .gigas-bar {
  background-color: white;
  opacity: 1;
}
.gigaMeasures li .graphHolder {
  border: 1px solid #CCC;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  line-height: 10px;
  -webkit-transform: scaleY(-1);
  padding: 0 2px;
}
.gigaMeasures li .graphHolder .gigas-bar {
  background-color: #622761;
  display: inline-block;
  height: 8px;
  vertical-align: bottom;
  width: 100%;
  opacity: 0;
}
  .gigaMeasures li .graphHolder .gigas-bar:nth-child(1) {
    -webkit-transition: all .5s ease-in;
  }
  .gigaMeasures li .graphHolder .gigas-bar:nth-child(2) {
    -webkit-transition: all 1s ease-in;
  }
  .gigaMeasures li .graphHolder .gigas-bar:nth-child(3) {
    -webkit-transition: all 2s ease-in;
  }
  .gigaMeasures li .graphHolder .gigas-bar:nth-child(4) {
    -webkit-transition: all 3s ease-in;
  }
.gigaMeasures li .graphHolder .gigas-bar.visible {
  opacity: .65;
}
.gigaMeasures li .gigas-bar-label {
  display: block;
  margin-top: 5px;
  color: #666;
}

#carousel-wizardPlanes-result .carousel-inner > .item > img {
  width: 80%;
  height: auto;
  margin: 10% 10% 90px 10%;
  position: relative;
  top: -25px;
}
#carousel-wizardPlanes-result .carousel-control {background: none;}
#carousel-wizardPlanes-result .carousel-indicators li {
 background-color: $quaternary; 
 border: none;
}
#carousel-wizardPlanes-result .carousel-indicators li.active {
  background-color: #ba007c;
}

#carousel-wizardPlanes-result .carousel-inner > .item > a.btn {
  margin-top: -170px;
  color: white;
  border: none;
}

/* womstrap wells: general override; */

.well {
  color: #777;
  padding: 5px;
  border: 1px solid #CCC;
}

.well > p {
  padding: 0;
  margin: 15px auto;
  color: white;
}

/* womstrap carousel: overrides */

.carousel-indicators li {
  border-color: $quaternary;
  background-color: white;
}

.carousel-indicators li.active {
  background-color: $quaternary;
}