/* inicio del navbar centrado */

.c1
{
  background-color: #336699;
}

.c2
{
  background-color: #229955;
}

.bg-portabilidad{
    background-color: transparent;
    background-image: url('../img/portabilidad/FONDO1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 430px;
}

.bg-portabilidad h3 {
    margin-top: 260px;
    padding: 0;
}
.bg-portabilidad h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.bg-home{
    background-color: transparent;
    background-image: url('../img/home/bghome.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 570px;
    margin-bottom: 40px;
}

.bg-home h3 {
    margin-top: 260px;
    padding: 0;
    line-height: 1.5rem;
}
.bg-home h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.navbar-main {
    position: relative;
    z-index: 99;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -50px;
}


.navbar-toggle {
    z-index:1;
}

.navbar-main {
    background-color: transparent;
    height: 80px;
    margin-bottom: -80px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-toggle {
    border: 0;
    margin-top: 30px;
    border-color: white;
}
a:link{
    color:#FFF;
}
.btn-success,.btn-lg{
    margin:0 auto;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    bottom:20px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    font-size: 0.7em;
}
#block{
    font-size: 0.7em;
    display: block;
    width: 50%;
    height: auto;
    left: 50%;
    margin-left: -25%;
}
.btn strong{
    color: #FFF;
}

.btn .fw-light{
    color: #FFF;
    padding: 0.1rem;
    font-size: 11px;
}
.btn a, a:visited {
    color: #FFF;
}

.btn-purple{
    text-align: center;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
    background-color: #460151;
}
.btn-blue{
    text-align: center;
    background-color: #553FA0;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
}
.recom{
    padding: 6px 7px;
    font-size: 11px;
}

.btns .col-xs-6{
    padding:0;
}
.photo img{
    position: relative;
}
footer .row{
    padding: 30px
}
.main-foot{
    background-color: transparent;
    background: url(../img/footer.jpg) no-repeat center bottom;
    background-size: 100%;
    color: #fff;
    padding-top: 50px;
    position: relative;
    z-index: 999;
    display: block;
    height: auto;
    padding-top: 50px;
    background-size: cover;
    /* background: center bottom; */
    clear: both;
    min-height: 264px;
}
.main-foot ul{
    list-style: none;
    display: inline-block;
}
.accesos-foot{
    list-style-position: inside;
    float: left;
    margin: 20px 30px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.lista-foot a{
    font-size: 16px;
    font-family: Cera,sans-serif;
    font-weight: normal;
    color: #fff;
}
.lista-foot ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #333;
    color: #fff;
    width: 70%;
}
.lista-foot ul li{
    border-bottom:1px solid #FFF;
}
.ico-space {
    display: inline;
    margin: 0 0 0 10px;
}
.accesos-foot a {
    color: #b171c3;
    font-size: 12px;
}
.non-point {
    list-style: outside none none;
}
ul {
    list-style-position: inside;
}
.centro{
    position: absolute;
    top:5rem;
    right:0;
    font-size:14px;
    padding: 5px;
    color: #fff;
    background-color: #96309F;
    max-height: 70px;
}
.centro .fs-small{
    font-size: 10px;
}
.centro .col-xs-8{
    line-height: 1;
    padding: 0 5px;
}
.noticias img{
    margin:0 auto;
}
.main-foot .ta-center img{
    margin:0 auto;
}

/* fin del navbar centrado??? */

/* estilos extras de pago facil */
.modulo-morado {
    color: white;
    background: rebeccapurple;
    padding: 0 15px 30px;
}
.modulo-morado h4,
.modulo-morado h6 {
    color: white;
}
.modulo-morado h6 {
    margin: 0 0 15px;
    padding: 0;
}
.modulo-morado .item {
    margin-bottom: 60px;
}
.mensajes-sesion {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
.mensajes-reporte-pago {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}
.mensajes-reporte-pago li > span {
    font-size: 1.42rem;
    display: inline-block;
}
    .mensajes-reporte-pago li > span:first-of-type {
        text-align: right;
        margin-right: 5px;
        width: 55%;
    }
    .mensajes-reporte-pago li > span:last-of-type {
        font-weight: semibold;
        text-align: left;
        margin-left: 5px;
        width: 40%;
        color: #6C017F;
    }