/* inicio del navbar centrado */

.c1
{
  background-color: #336699;
}

.c2
{
  background-color: #229955;
}
.bg-portabilidad{
    background-color: transparent;
    background-image: url('../img/portabilidad/FONDO1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 430px;
}

.bg-portabilidad h3 {
    margin-top: 260px;
    padding: 0;
}
.bg-portabilidad h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.bg-home{
    background-color: transparent;
    background-image: url('../../wom-base/img/home/bghome.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 530px;
    margin-bottom: 40px;
}

.bg-home h3 {
    margin-top: 260px;
    padding: 0;
    line-height: 1.5rem;
}
.bg-home h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.navbar-main {
    position: relative;
    z-index: 99;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -50px;
}


.navbar-toggle {
    z-index:1;
}

.navbar-main {
    background-color: transparent;
    height: 80px;
    margin-bottom: -80px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-toggle {
    border: 0;
    margin-top: 30px;
    border-color: white;
}
a:link{
    color:#FFF;
}
.btn-success,.btn-lg{
    margin:0 auto;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    bottom:20px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    font-size: 0.7em;
}
#block{
    font-size: 0.7em;
    display: block;
    width: 50%;
    height: auto;
    left: 50%;
    margin-left: -25%;
}
.btn strong{
    color: #FFF;
}

.btn .fw-light{
    color: #FFF;
    padding: 0.1rem;
    font-size: 11px;
}
.btn a, a:visited {
    color: #FFF;
}

.btn-purple{
    text-align: center;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
    background-color: #460151;
}
.btn-blue{
    text-align: center;
    background-color: #553FA0;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
}
.recom{
    padding: 6px 7px;
    font-size: 11px;
}

.btns .col-xs-6{
    padding:0;
}
.photo img{
    position: relative;
}
footer .row{
    padding: 30px
}
.main-foot{
    background-color: transparent;
    background-image: url('../../wom-base/img/footer.jpg');
    color: #fff;
    padding-top: 50px;
    position: relative;
    display: block;
    height: auto;
    padding-top: 50px;
    background-size: cover;
    /* background: center bottom; */
    clear: both;
    min-height: 264px;
}
.main-foot ul{
    list-style: none;
    display: inline-block;
}
.accesos-foot{
    list-style-position: inside;
    float: left;
    margin: 20px 30px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.lista-foot a{
    font-size: 16px;
    font-family: Cera,sans-serif;
    font-weight: normal;
    color: #fff;
}
.lista-foot ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #333;
    color: #fff;
    width: 70%;
}
.lista-foot ul li{
    border-bottom:1px solid #FFF;
}

.main-foot .triangle-foot {
    width: 0;
    height: 0;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-color: transparent;
    border-top: 50px inset #fff;
    top: 0px !important;
    position: absolute;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid dotted none;
}
.main-foot .triangle-foot {
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid dotted none;
    border-top: 1px solid transparent;
    height: 0;
    position: absolute;
    top: -1px;
    transform: rotate(360deg);
    width: 0;
    z-index: 999;
}

.ico-space {
    display: inline;
    margin: 0 0 0 10px;
}
.accesos-foot a {
    color: #b171c3;
    font-size: 12px;
}
.non-point {
    list-style: outside none none;
}
ul {
    list-style-position: inside;
}
.centro{
    position: absolute;
    top:5rem;
    right:0;
    font-size:14px;
    padding: 5px;
    color: #fff;
    background-color: #96309F;
    max-height: 70px;
}
.centro .fs-small{
    font-size: 10px;
}
.centro .col-xs-8{
    line-height: 1;
    padding: 0 5px;
}
.noticias img{
    margin:0 auto;
}
.main-foot .ta-center img{
    margin:0 auto;
}

/* fin del navbar centrado??? */

/** helper classes*/
.morado-plain {
  color: $quaternary;
}

.morado-grande {
  color: $quaternary;
  font-size: 2.2rem;
}

.morado-grande-subrayado {
  font-size: 2.2rem;
  border-bottom: 2px solid $quaternary;
  padding-bottom: 5px;
}

/* helpers */
.nomargin {margin: 0;}
.nopadding {padding: 0;}
.margintop {margin: 15px 0 0 0;}
.marginbottom {margin: 0 0 15px 0;}

/* estilos extras de pago facil */


.bg-modulo {
  position: relative;
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 370px;
  min-width: 280px;
}

.bajada-morada,
.modulo-morado {
  background: #86029e; /* Old browsers */
  background: -moz-linear-gradient(top,  #86029e 48%, #86029e 48%, #4e0165 100%, #4e0165 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #86029e 48%,#86029e 48%,#4e0165 100%,#4e0165 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #86029e 48%,#86029e 48%,#4e0165 100%,#4e0165 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86029e', endColorstr='#4e0165',GradientType=0 ); /* IE6-9 */
}

.bajada-morada {
  margin-top: -40px;
  padding: 40px 0 0px;
}

.modulo-morado {
    color: white;
    padding: 0 0 30px;
}
.modulo-morado .svg-blanco {
  background: rgba(255,255,255,.1);
  padding: 5px;
}
.modulo-morado h4,
.modulo-morado h6 {
    color: white;
}
.modulo-morado h6 {
    margin: 0;
    padding: 0;
}
.modulo-morado .item {
    margin-bottom: 30px;
}


.bg-modulo h3 {
  margin-top: 200px;
  padding: 0;
}

.bg-modulo.modulo-mensajes h3,
.bg-modulo.modulo-mensajes h4 {
  line-height: 100%;
}
  
.bg-modulo.modulo-mensajes h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.bg-modulo.modulo-mensajes h4 {
  font-size: 4rem;
  margin: 0;
}

.bg-modulo h4 {
  padding: 0 10px;
}

.modulo-portabilidad {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-portatebien {
  background-image: url("../../wom-base/img/portabilidad/fondo-portatebien.png");
  background-repeat: no-repeat;
  min-height: 360px;
}
.modulo-portatebien .btn-group {
  margin-top: 145px;
}
.modulo-portatebien .btn-portate {

  background-color: transparent;
}
.modulo-pagofacil {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-centroayuda {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}

.modulo-pagofacil h3 {
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 20px;
}

.paga-cuenta-copy,
.paga-cuenta-copy h5,
.paga-cuenta-copy p {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.paga-cuenta-copy h5 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.paga-cuenta-copy p {
  margin-bottom: 15px;
}

.pago-facil-desglose {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pago-facil-selecciona {
  margin-bottom: 30px;
}

.pago-facil-desglose p {
  margin: 0;
  padding: 0;
}

.pago-facil-selecciona strong,
.pago-facil-paga strong {
  display: block;
  font-size: 3rem;
  line-height: 100%;
}

.pago-facil-selecciona .item {
  overflow: hidden;
  padding: 15px 0;
}

.pago-facil-selecciona .item.dark {
  border-top: 1px solid #ECECEC;
  background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#ECECEC',GradientType=0 ); /* ie6-9 */
}

.pago-facil-selecciona .checkbox {
  margin: 10px 0 0;
}

.pago-facil-paga small {
  margin: 20px 0 10px;
  display: block;
  text-transform: uppercase;
}

.pago-facil-paga .btn-primary {
  margin-top: 30px;
}

.mensajes-sesion {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
.mensajes-reporte-pago {
    margin: 25px 0 20px;
    padding: 0;
    list-style-type: none;
}
.mensajes-reporte-pago li > span {
    font-size: 1.42rem;
    display: inline-block;
}
    .mensajes-reporte-pago li > span:first-of-type {
        text-align: right;
        margin-right: 5px;
        width: 55%;
    }
    .mensajes-reporte-pago li > span:last-of-type {
        font-weight: semibold;
        text-align: left;
        margin-left: 5px;
        width: 40%;
        color: #6C017F;
    }

.instrucciones-portabilidad p {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  color: #636363;
}
.instrucciones-portabilidad h4{
  color: $quaternary;
  font-size: 2rem;
}
.instrucciones-portabilidad h5{
  font-size: 2rem;
}

.solicita-portabilidad h4 {
  color: $quaternary;
  font-size: 2.2rem;
  margin-bottom: -15px;
}


/* despliegue botón btn-portate*/ 

.modulo-portatebien .dropdown-menu {
    /* position: absolute; */
    width: 120%;
    padding: 5px 0;
    margin-left: -10%;
    margin-right: -10%;
    list-style: none;
    font-size: 1.35rem;
    text-align: left;
    background-color: $primary-transparent;
    border: 0;
    border-radius: 0;
}

.modulo-portatebien .dropdown-menu a{
  color: white;
}

.modulo-portatebien .dropdown-menu li{
  padding: 10px;
  clear: both;
  border-bottom: 1px solid white;
}

.modulo-portatebien .dropdown-menu li:after{
  content: url(../../wom-base/img/icons/ico-arrow-right.svg); width: 10px; height: 17px;
}

.modulo-portatebien .btn:hover{
  color: #DED3E7;
}


/* para el flujo de portabilidad */

#stepper_portabilidad {
  margin: 0;
  padding: 0 0 30px 0;
  list-style-type: none;
  text-align: center;
}

#stepper_portabilidad:after {
  content: '';
  background: #9157A4;
  width: 75%;
  height: 3px;
  margin-top: -13px;
  margin-left: 15%;
  display: block;
}

#stepper_portabilidad li {
  display: inline-block;
  margin: 0 5%;
}

#stepper_portabilidad li span {
  display: block;
  background: #9157A4;
  color: white;
  text-align: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: $primary-light;
}

#stepper_portabilidad li.active span {
  background: white;
}

/* para forms de portabilidad */

.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-color: rgba(0,0,0,.66);
  z-index: 100;
}

.modal .modal-dialog {
  z-index: 1000;
}

.modal .modal-dialog .btn {
  text-transform: uppercase;
  color: $primary-light;
}

.modal .modal-dialog .btn.grayed-out {
  color: #888;
}

.modal .modal-header,
.modal .modal-footer {
  border: none;
}

.modal .modal-dialog .modal-content {
  border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-title {
  padding: 0;
  text-transform: uppercase;
}

.photoUpload {
  margin-bottom: 30px;
}
.photoUpload img.ico {
  position: relative;
  top: 8px;
  right: 15px;
}
.validInput,
.invalidInput {
  position: relative;
}
.validInput:after,
.invalidInput:after {
  position: absolute;
  right: 0;
  content: '';
  display: block;
}
.validInput:after {
  top: 15px;
  width: 14px;
  height: 10px;
  background-image: url(../../wom-base/img/icons/ico-ticket.svg);
}
.pagadoStamp {
  position: absolute;
  right: 15px;
  margin-top: -20px;
}
.wom-mensaje-tle-cap{
  width: 80%;
    font-family: 'cerabold';
    color: #606060;
    font-size: 1em;
    margin: 0px auto;
    text-align: center;
}
.invalidInput input,
.invalidInput .help-block {
  color: #D0021B; 
  border-color: #D0021B;
}
.invalidInput:after {
  top: 10px;
  width: 16px;
  height: 16px;
  background-image: url(../../wom-base/img/icons/ico-warning.svg);
}

/* bootstrap core override para portabilidad form */
.alert {
  border-radius: 0;
}