/* inicio del navbar centrado */

.c1
{
  background-color: #336699;
}

.c2
{
  background-color: #229955;
}

.bg-portabilidad{
    background-color: transparent;
    background-image: url('../img/portabilidad/FONDO1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 430px;
}

.bg-portabilidad h3 {
    margin-top: 260px;
    padding: 0;
}
.bg-portabilidad h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.bg-home{
    background-color: transparent;
    background-image: url('../img/home/bghome.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 570px;
    margin-bottom: 40px;
}

.bg-home h3 {
    margin-top: 260px;
    padding: 0;
    line-height: 1.5rem;
}
.bg-home h4 {
    padding: 0 10px;
    line-height: 1.5rem;
}
.navbar-main {
    position: relative;
    z-index: 99;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -50px;
}


.navbar-toggle {
    z-index:1;
}

.navbar-main {
    background-color: transparent;
    height: 80px;
    margin-bottom: -80px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-toggle {
    border: 0;
    margin-top: 30px;
    border-color: white;
}
a:link{
    color:#FFF;
}
.btn-success,.btn-lg{
    margin:0 auto;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    bottom:20px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    font-size: 0.7em;
}
#block{
    font-size: 0.7em;
    display: block;
    width: 50%;
    height: auto;
    left: 50%;
    margin-left: -25%;
}
.btn strong{
    color: #FFF;
}

.btn .fw-light{
    color: #FFF;
    padding: 0.1rem;
    font-size: 11px;
}
.btn a, a:visited {
    color: #FFF;
}

.btn-purple{
    text-align: center;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
    background-color: #460151;
}
.btn-blue{
    text-align: center;
    background-color: #553FA0;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0;
}
.recom{
    padding: 6px 7px;
    font-size: 11px;
}

.btns .col-xs-6{
    padding:0;
}
.photo img{
    position: relative;
}
footer .row{
    padding: 30px
}
.main-foot{
    background-color: transparent;
    background: url(../img/footer.jpg) no-repeat center bottom;
    background-size: 100%;
    color: #fff;
    padding-top: 50px;
    position: relative;
    z-index: 999;
    display: block;
    height: auto;
    padding-top: 50px;
    background-size: cover;
    /* background: center bottom; */
    clear: both;
    min-height: 264px;
}
.main-foot ul{
    list-style: none;
    display: inline-block;
}
.accesos-foot{
    list-style-position: inside;
    float: left;
    margin: 20px 30px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.lista-foot a{
    font-size: 16px;
    font-family: Cera,sans-serif;
    font-weight: normal;
    color: #fff;
}
.lista-foot ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #333;
    color: #fff;
    width: 70%;
}
.lista-foot ul li{
    border-bottom:1px solid #FFF;
}
.ico-space {
    display: inline;
    margin: 0 0 0 10px;
}
.accesos-foot a {
    color: #b171c3;
    font-size: 12px;
}
.non-point {
    list-style: outside none none;
}
ul {
    list-style-position: inside;
}
.centro{
    position: absolute;
    top:5rem;
    right:0;
    font-size:14px;
    padding: 5px;
    color: #fff;
    background-color: #96309F;
    max-height: 70px;
}
.centro .fs-small{
    font-size: 10px;
}
.centro .col-xs-8{
    line-height: 1;
    padding: 0 5px;
}
.noticias img{
    margin:0 auto;
}
.main-foot .ta-center img{
    margin:0 auto;
}

/* fin del navbar centrado??? */

/** helper classes*/
.morado-plain {
  color: $quaternary;
}

.morado-grande {
  color: $quaternary;
  font-size: 2.5rem;
}

.morado-grande-subrayado {
  font-size: 2.2rem;
  border-bottom: 2px solid $quaternary;
  padding-bottom: 5px;
}

/* helpers */
.nomargin {margin: 0;}
.nopadding {padding: 0;}
.margintop {margin: 15px 0 0 0;}
.marginbottom {margin: 0 0 15px 0;}

/* estilos extras de pago facil */


.bg-modulo {
  position: relative;
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 370px;
  min-width: 280px;
}

// gradiente para sacar de sketch

.bajada-morada,
.modulo-morado {
  background: #86029e; /* Old browsers */
  background: -moz-linear-gradient(top,  #86029e 48%, #86029e 48%, #4e0165 100%, #4e0165 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #86029e 48%,#86029e 48%,#4e0165 100%,#4e0165 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #86029e 48%,#86029e 48%,#4e0165 100%,#4e0165 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86029e', endColorstr='#4e0165',GradientType=0 ); /* IE6-9 */
}

.bajada-morada {
  width: 120%;
  margin-top: -40px;
  margin-left: -10%;
  padding: 40px 10% 0px;
}

.modulo-morado {
    color: white;
    padding: 0 0 30px;
}
.modulo-morado .svg-blanco {
  background: rgba(255,255,255,.1);
  padding: 5px;
}
.modulo-morado h4,
.modulo-morado h6 {
    color: white;
}
.modulo-morado h6 {
    margin: 0;
    padding: 0;
}
.modulo-morado .item {
    margin-bottom: 30px;
}


.bg-modulo h3 {
  margin-top: 200px;
  padding: 0;
}

.bg-modulo.modulo-mensajes h3,
.bg-modulo.modulo-mensajes h4 {
  line-height: 100%;
}
  
.bg-modulo.modulo-mensajes h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.bg-modulo.modulo-mensajes h4 {
  font-size: 4rem;
  margin: 0;
}

.bg-modulo h4 {
  padding: 0 10px;
}

.modulo-portabilidad {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-portatebien {
  background-image: url("../../wom-base/img/portabilidad/fondo-portatebien.png");
  background-repeat: no-repeat;
  min-height: 360px;
}
.modulo-portatebien .btn-group {
  margin-top: 145px;
}
.modulo-portatebien .btn-portate {

  background-color: transparent;
}
.modulo-pagofacil {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}
.modulo-centroayuda {
  background-image: url("../../wom-base/img/portabilidad/FONDO1.png");
}

.modulo-pagofacil h3 {
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 20px;
}

.paga-cuenta-copy,
.paga-cuenta-copy h5,
.paga-cuenta-copy p {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.paga-cuenta-copy h5 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.paga-cuenta-copy p {
  margin-bottom: 15px;
}

.pago-facil-desglose {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pago-facil-selecciona {
  margin-bottom: 30px;
}

.pago-facil-desglose p {
  margin: 0;
  padding: 0;
}

.pago-facil-selecciona strong,
.pago-facil-paga strong {
  display: block;
  font-size: 3rem;
  line-height: 100%;
}

.pago-facil-selecciona .item {
  overflow: hidden;
  padding: 15px 0;
}

.pago-facil-selecciona .item.dark {
  border-top: 1px solid #ECECEC;
  background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#ECECEC',GradientType=0 ); /* ie6-9 */
}

.pago-facil-selecciona .checkbox {
  margin: 10px 0 0;
}

.pago-facil-paga small {
  margin: 20px 0 10px;
  display: block;
  text-transform: uppercase;
}

.pago-facil-paga .btn-primary {
  margin-top: 30px;
}

.instrucciones-portabilidad {
  margin-top: -50px;
}

.mensajes-sesion {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
.mensajes-reporte-pago {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}
.mensajes-reporte-pago li > span {
    font-size: 1.42rem;
    display: inline-block;
}
    .mensajes-reporte-pago li > span:first-of-type {
        text-align: right;
        margin-right: 5px;
        width: 55%;
    }
    .mensajes-reporte-pago li > span:last-of-type {
        font-weight: semibold;
        text-align: left;
        margin-left: 5px;
        width: 40%;
        color: #6C017F;
    }


.instrucciones-portabilidad p {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  color: #636363;
}
.instrucciones-portabilidad h4{
  color: $quaternary;
  font-size: 2rem;
}
.instrucciones-portabilidad h5{
  font-size: 2rem;
}

.solicita-portabilidad h4 {
  color: $quaternary;
  font-size: 2.2rem;
  margin-bottom: -15px;
}


/* para el flujo de portabilidad */

/*form styles*/
#msform {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
    border: 0 none;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 90%;
    text-align: left;
    margin: 20px auto;
    box-shadow: 1px 2px 16px #b6b6b6;
    -webkit-box-shadow: 1px 2px 16px #b6b6b6;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 0.85em;
}

/*headings*/
.fs-title {
  font-family: 'cerablack_italic';
  font-size: 0.9em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 20px;
}
  
/*progressbar*/
#progressbar {
  overflow: hidden;
  counter-reset: step;
  padding: 20px 0;
  margin-top:20px;
}
  
  
#progressbar li {
  font-family: 'ceralight';
  list-style-type: none;
  color:#622761;
  font-size: 0.8em;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height:30px;
  line-height: 30px;
  display: block;
  font-size: 0.8em;
  color:white;
  background:#8071b9;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 4px;
  background: #8071b9;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background:#622761;
  color: white;
}
 /*Botones*/
 
 #msform .action-button{
    display: inline-block;
    box-sizing: border-box;
  font-family: 'cerabold';
    border: none;
    color: #ffffff;
    background-color: #720184;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0 1.3rem;
    height: 2.4rem;
    line-height: 2.4rem;
    max-width: 100%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;}
  
/*Titulos*/

h1{
    font-family:'cerabold';
  display: block;
  color:#622761;
    font-size: 1.2em;
    font-weight: bold;}


h2{
    font-family:'cerabold_italic';
  display: block;
  color:#622761;
    font-size: 1.3em;
    font-weight: bold;}


/*Boton centrado*/
.wom-btn-center{
  width:100%; 
  margin:0 auto; 
  text-align:center;}


/*Botón Solicitar Código CAP*/

.press-fx {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0.2rem 0.2rem 1px rgba(0, 0, 0, 0.4); }
 
 .press-fx:hover {
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
  

.wom-codigo-cap,
.wom-botonera{
  width:100%;
  text-align: center;
    height: 60px;
  margin-top:30px;
}

 #msform .action-button-enlace{
    display: inline-block;
    box-sizing: border-box;
    border: none;
    color: #ffffff;
  font-family: 'cerabold';
  background-color: #564599;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0 0.6rem;
    height: 2.4rem;
    line-height: 2.4rem;
    max-width: 100%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:60%;}
  
/* Input */


@charset "UTF-8";
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}



.input--sae {
  overflow: hidden;
    width: 80%;
    height:px;
    margin: 0 2em 2em;
    background-color: yellow
}

.input__field--sae {
  background: transparent;
  width: 100%;
  color: #fff;
  padding: 1em 0 0.5em;
  font-weight: 500;
}

.input__label--sae {
  position: absolute;
  width: 100%;
  text-align: left;
  color: #7771ab;
  padding: 0;
  height: 100%;
  pointer-events: none;
}

.input__label--sae::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.icon--sae {
  position: absolute;
  bottom: 0;
  font-size: 1em;
  opacity: 0.5;
  left: -30px;
  color: #fff;
  pointer-events: none;
  -webkit-transform: translate3d(205px, 0, 0);
  transform: translate3d(205px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--sae {
  padding: 0;
  font-size: 1.1em;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__field--sae:focus + .input__label--sae .input__label-content--sae,
.input--filled .input__label-content--sae {
  -webkit-transform: translate3d(0, 0, 0) scale3d(0.7, 0.7, 1);
  transform: translate3d(0, 0, 0) scale3d(0.7, 0.7, 1);
}

.input__field--sae:focus + .input__label--sae::after,
.input--filled .input__label--sae::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--sae:focus + .input__label--sae .icon--sae,
.input--filled .icon--sae {
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -90deg);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -90deg);
}


/* div input*/

.wom-div-alto{
  height:60px;
  padding:20px 0px 10px 0px;}

/*Select*/

.wom-div-alto-select{
  height:40px;
  padding:20px 0px 10px 0px;}

.wom-select{
  display: block;
  width:100%;
    height: 28px;
    margin: 10px 0px 0px 0px;}
  
.wom-titulo-sesion{
  height: 135px;
    width: 100%;
    background-image: url(../img/bg-portabilidad);
    background-size: 100% auto;
    background-repeat: no-repeat;
  
  }

.wom-titulo-sesion h1{
  font-size:1.7em;
  font-family: 'cerabold_italic';
  text-transform:uppercase;
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg); 
  -moz-transform: rotate(-6deg);
  padding-top:70px;
  color:white;}

.wom-mrg-btn{
         margin: 20px 28%!important;}
     
/* tootltip */

.input-tooltip{
  
  float:left;
  width:100%;}

.ico-tooltip{
  width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
  left:2%;}

.wom-paso2-separador{
  margin-top: 50px;
    border-top: 1px dashed #720184;
    padding-top: 30px;
}

.wom-detalle-pasos{
   font-family: 'ceralight';
   font-size:0.6em;
   color:#606060;
   text-transform:uppercase;
  }

.wom-mensaje-imagen{
  width: 80%;
    font-family: 'ceralight';
    color: #662382;
    font-size: 1.2em;
    margin: 30px auto 0px auto;
    text-align: center;
}

.wom-solicitarcap{
  width: 80%;
    font-family: 'cerabold';
    color: #662382;
    font-size: 1.4em;
    margin: 30px auto 0px auto;
    text-align: center;
}


.wom-mensaje-tle-cap{
  width: 80%;
    font-family: 'cerabold';
    color: #606060;
    font-size: 1em;
    margin: 0px auto;
    text-align: center;
}

.wom-mensaje-cap{
  width: 80%;
    font-family: 'ceralight';
    color: #606060;
    font-size: 1em;
    margin: 20px auto 0px auto;
    text-align: center;
  line-height:1.3em;
}

.wom-span-cap{
  text-transform:uppercase;
  font-family:'ceramedium';
  color:#606060;
  }
