// A beautiful selection of our branded colors
//
// Styleguide

// primary colors

$primary: 		#32044C !default;
$primary-alt:	lighten($primary, 10%);

$color-1:		#4D0D7F; // dark purple
$color-2:		#711082; // magenta
$color-3:		#564599; // light purple
$color-4:		#C200FF; // fuchsia

$link:          $color-2 !default;
$link--visited: darken($primary, 15%) !default;
$link--hover:   lighten($link, 10%) !default;
$link--active:  lighten($link--hover, 20%);

// dark shades
$gray-1:         #424242 !default;
$gray-2:         lighten($gray-1, 13%) !default;
$gray-3:         lighten($gray-2, 13%) !default;

// light shades
$gray-4:			lighten($gray-3, 13%) !default;
$gray-5:			lighten($gray-4, 13%) !default;
$gray-6:			lighten($gray-5, 13%) !default;

$white:         #ffffff !default;
