// Font based variables
//
// Styleguide

$font-path:	'../../fonts/cera';

@import "../../fonts/cera/cera_black_macroman/stylesheet.css";
@import "../../fonts/cera/cera_blackitalic_macroman/stylesheet.css"; 
@import "../../fonts/cera/cera_bold_macroman/stylesheet.css"; 
@import "../../fonts/cera/cera_italic_macroman/stylesheet.css"; 
@import "../../fonts/cera/cera_light_macroman/stylesheet.css"; 
@import "../../fonts/cera/cera_lightitalic_macroman/stylesheet.css"; 
@import "../../fonts/cera/cera_medium_macroman/stylesheet.css";
@import "../../fonts/cera/cera_mediumitalic_macroman/stylesheet.css";
@import "../../fonts/cera/cera_regular_macroman/stylesheet.css";
@import "../../fonts/cera/cera_thin_macroman/stylesheet.css";
@import "../../fonts/cera/cera_thinitalic_macroman/stylesheet.css";


$base-font:       Cera, sans-serif !default;
$monospace-font:  'Consolas', 'Monaco', 'Courier New', monospace !default;

$heading:         $base-font bolder !default;
$body:            $base-font !default;
$monospace:       $monospace-font !default;

$font-size: 1.6rem !default;
$line-height: 2.4rem !default;

$font-size--small: 1.2rem !default;
$font-size--large: 2rem !default;
