@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-black-webfont.eot");
  src: url("../../fonts/cera/cera-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-black-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-black-webfont.woff") format("woff"), url("../../fonts/cera/cera-black-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-black-webfont.svg#cerablack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-blackitalic-webfont.eot");
  src: url("../../fonts/cera/cera-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-blackitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-blackitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-blackitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-blackitalic-webfont.svg#cerablack_italic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-bold-webfont.eot");
  src: url("../../fonts/cera/cera-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-bold-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-bold-webfont.woff") format("woff"), url("../../fonts/cera/cera-bold-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-bold-webfont.svg#cerabold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-bolditalic-webfont.eot");
  src: url("../../fonts/cera/cera-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-bolditalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-bolditalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-bolditalic-webfont.svg#cerabold_italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-medium-webfont.eot");
  src: url("../../fonts/cera/cera-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-medium-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-medium-webfont.woff") format("woff"), url("../../fonts/cera/cera-medium-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-medium-webfont.svg#ceramedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-mediumitalic-webfont.eot");
  src: url("../../fonts/cera/cera-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-mediumitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-mediumitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-mediumitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-mediumitalic-webfont.svg#ceramedium_italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-regular-webfont.eot");
  src: url("../../fonts/cera/cera-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-regular-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-regular-webfont.woff") format("woff"), url("../../fonts/cera/cera-regular-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-regular-webfont.svg#ceraregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-regularitalic-webfont.eot");
  src: url("../../fonts/cera/cera-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-regularitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-regularitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-regularitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-regularitalic-webfont.svg#ceraregular") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-light-webfont.eot");
  src: url("../../fonts/cera/cera-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-light-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-light-webfont.woff") format("woff"), url("../../fonts/cera/cera-light-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-light-webfont.svg#ceralight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-lightitalic-webfont.eot");
  src: url("../../fonts/cera/cera-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-lightitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-lightitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-lightitalic-webfont.svg#ceralight_italic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-thin-webfont.eot");
  src: url("../../fonts/cera/cera-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-thin-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-thin-webfont.woff") format("woff"), url("../../fonts/cera/cera-thin-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-thin-webfont.svg#cerathin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-thinitalic-webfont.eot");
  src: url("../../fonts/cera/cera-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-thinitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-thinitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-thinitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-thinitalic-webfont.svg#cerathin_italic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/bitter-regular-webfont.woff2") format("woff2"), url("../../fonts/bitter/bitter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/bitter-bold-webfont.woff2") format("woff2"), url("../../fonts/bitter/bitter-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/bitter-italic-webfont.woff2") format("woff2"), url("../../fonts/bitter/bitter-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

html.grid--is_active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAYAQMAAADnK87dAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMANrkpWKEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVAiZY2AgCTwAAAEQAOFwuZEGAAAAAElFTkSuQmCC) repeat left top; }
  @media (min-width: 960px) {
    html.grid--is_active {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAeAQMAAAAxci3AAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMANrkpWKEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVAiZY2AgGzwAAAEcAOFHPV40AAAAAElFTkSuQmCC) repeat left top; } }

.kss-modifier-title {
  color: #848484; }

header {
  background-image: linear-gradient(to right, #2e0e2e 0%, #602F84 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2E0E2E', endColorstr='#FF602F84', GradientType=1);
  color: #ffffff;
  padding: 0 1rem; }

header h3 {
  font-size: 3rem;
  padding: 0; }

header a:link, header a:visited, header a:hover, header a:focus, header a:active {
  color: #ffffff;
  text-decoration: none; }

nav {
  border-bottom: 1px solid #c7c7c7;
  margin-top: -1px;
  padding: 1.2rem;
  text-align: center; }

nav ul {
  padding: 0; }

nav li {
  padding: 0 1.5rem;
  display: inline-block; }
  nav li a {
    text-decoration: none;
    font-weight: 900; }
    nav li a:hover {
      border-bottom: 5px solid #421441; }

.box {
  display: inline-block;
  padding: 2rem;
  border-radius: .3rem; }
  .box.color {
    min-width: 13rem;
    text-align: center; }

/*# sourceMappingURL=kss.css.map */
