/* this Style is for documentation purposes only */
@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-black-webfont.eot");
  src: url("../../fonts/cera/cera-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-black-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-black-webfont.woff") format("woff"), url("../../fonts/cera/cera-black-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-black-webfont.svg#cerablack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-blackitalic-webfont.eot");
  src: url("../../fonts/cera/cera-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-blackitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-blackitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-blackitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-blackitalic-webfont.svg#cerablack_italic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-bold-webfont.eot");
  src: url("../../fonts/cera/cera-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-bold-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-bold-webfont.woff") format("woff"), url("../../fonts/cera/cera-bold-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-bold-webfont.svg#cerabold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-bolditalic-webfont.eot");
  src: url("../../fonts/cera/cera-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-bolditalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-bolditalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-bolditalic-webfont.svg#cerabold_italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-medium-webfont.eot");
  src: url("../../fonts/cera/cera-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-medium-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-medium-webfont.woff") format("woff"), url("../../fonts/cera/cera-medium-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-medium-webfont.svg#ceramedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-mediumitalic-webfont.eot");
  src: url("../../fonts/cera/cera-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-mediumitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-mediumitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-mediumitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-mediumitalic-webfont.svg#ceramedium_italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-regular-webfont.eot");
  src: url("../../fonts/cera/cera-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-regular-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-regular-webfont.woff") format("woff"), url("../../fonts/cera/cera-regular-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-regular-webfont.svg#ceraregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-regularitalic-webfont.eot");
  src: url("../../fonts/cera/cera-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-regularitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-regularitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-regularitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-regularitalic-webfont.svg#ceraregular") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-light-webfont.eot");
  src: url("../../fonts/cera/cera-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-light-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-light-webfont.woff") format("woff"), url("../../fonts/cera/cera-light-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-light-webfont.svg#ceralight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-lightitalic-webfont.eot");
  src: url("../../fonts/cera/cera-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-lightitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-lightitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-lightitalic-webfont.svg#ceralight_italic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-thin-webfont.eot");
  src: url("../../fonts/cera/cera-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-thin-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-thin-webfont.woff") format("woff"), url("../../fonts/cera/cera-thin-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-thin-webfont.svg#cerathin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("../../fonts/cera/cera-thinitalic-webfont.eot");
  src: url("../../fonts/cera/cera-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/cera/cera-thinitalic-webfont.woff2") format("woff2"), url("../../fonts/cera/cera-thinitalic-webfont.woff") format("woff"), url("../../fonts/cera/cera-thinitalic-webfont.ttf") format("truetype"), url("../../fonts/cera/cera-thinitalic-webfont.svg#cerathin_italic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/bitter-regular-webfont.woff2") format("woff2"), url("../../fonts/bitter/bitter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/bitter-bold-webfont.woff2") format("woff2"), url("../../fonts/bitter/bitter-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/bitter-italic-webfont.woff2") format("woff2"), url("../../fonts/bitter/bitter-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

/*

Colors

These are specific color backgrounds for different elements and containers

Markup:
<div class="box color skew {{modifier_class}}">
  <span class="white">{{modifier_class}}</span>
</div>


.color-brand          -  Brand color: Base purple: rgb(66, 20, 65) - AKA Loulou
.primary        - Primary brand color: Base purple: rgb(66, 20, 65) - loulou
.secondary        - Secondary brand color: Lighter purple
.terciary           - Terciary brand color: Washed purple
.quaternary         - Quaternary brand color: nobody knows
.ok           - brand-ok
.success        - brand success
.cancel         - cancel


Styleguide 5.0

*/
.color-brand {
  background-color: #411640; }

.primary {
  background-color: #381750; }

.secondary {
  background-color: #44007F; }

.terciary {
  background-color: #42257C; }

.quaternary {
  background-color: #720184; }

.primary-dark {
  background-color: #2a113c; }

.secondary-dark {
  background-color: #230042; }

.terciary-dark {
  background-color: #2b1851; }

.primary-light {
  background-color: #532a70; }

.secondary-light {
  background-color: #5e12a0; }

.terciary-light {
  background-color: #633bb2; }

/*

Shades of Gray

These are the 6 different shades of gray defined.

Markup:
<div class="box color skew {{modifier_class}}">
  <span class="white">{{modifier_class}}</span>
</div>

.gray-1             - Gray 1: darkest
.gray-2             - Gray 2
.gray-3             - Gray 3
.gray-4             - Gray 4
.gray-5             - Gray 5
.gray-6             - Gray 6: lightest

Styleguide 5.1

*/
.gray-1 {
  background-color: #424242; }

.gray-2 {
  background-color: #636363; }

.gray-3 {
  background-color: #848484; }

.gray-4 {
  background-color: #a5a5a5; }

.gray-5 {
  background-color: #c7c7c7; }

.gray-6 {
  background-color: #e8e8e8; }

/*

Semantic Colors

Color relative to kind of action performed. This needs to be consistent across touchpoints

Markup:
<div class="box color skew {{modifier_class}}">
  <span class="white">{{modifier_class}}</span>
</div>

.ok             - Positive color, used for action buttons
.cancel           - Neutral or negative action
.success          - Success color
.info             - Information color
.warning          - Warning color
.danger           - Danger color
.morado-bg        - Morado-morado

Styleguide 5.2

*/
.ok {
  background-color: #720184; }

.cancel {
  background-color: #848484; }

.success {
  background-color: #ba007c; }

.info {
  background-color: #7291E9; }

.warning {
  background-color: #EB851F; }

.danger {
  background-color: #D1104A; }

.morado-plain {
  color: #720184; }

.morado-plain-bg {
  background-color: #720184;
  color: white; }

.morado-bg {
  background-color: #621082;
  color: white; }

.gray-2 {
  color: #636363; }

.morado-chicle {
  color: #ba007c; }

.morado-uva {
  color: #421441; }

.morado {
  color: #621082; }

.morado-datos {
  color: #421441; }

.morado-chicle-bg,
.modal .modal-dialog .morado-chicle-bg {
  background-color: #ba007c;
  border: none;
  color: white; }

.morado-chicle a {
  text-decoration: underline; }

.fc-primary {
  color: #381750; }

.fc-gray3 {
  color: #848484; }

.fc-gray2 {
  color: #636363; }

.dark-red {
  color: #AE8282; }

.creamy-red {
  color: #AE8282; }

.morado-subrayado {
  border-bottom: 2px solid #720184;
  padding-bottom: 5px;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.morado-grande-subrayado {
  font-size: 2.2rem;
  border-bottom: 2px solid #720184;
  padding-bottom: 5px; }

.kss-modifier-title {
  color: #848484; }

header {
  background-image: linear-gradient(to right, #2a113c 0%, #44007F 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2A113C', endColorstr='#FF44007F', GradientType=1);
  color: #ffffff;
  padding: 0 1rem; }

header h3 {
  font-size: 3rem;
  padding: 0;
  margin: 0; }

header a:link, header a:visited, header a:hover, header a:focus, header a:active {
  color: #ffffff;
  text-decoration: none; }

.doc-navbar {
  border-bottom: 1px solid #c7c7c7;
  margin-top: -1px;
  padding: 1.2rem;
  text-align: center; }

.doc-navbar ul {
  padding: 0; }

.doc-navbar li {
  padding: 0 1.5rem;
  display: inline-block; }
  .doc-navbar li a {
    color: #720184;
    text-decoration: none;
    font-weight: 900; }
    .doc-navbar li a:hover {
      color: #1b001f; }

/*# sourceMappingURL=kss.css.map */
