/*

Buttons

Class <code>.btn</code>; buttons and their variations

Markup:
<a href="#" class="btn {{modifier_class}}">Button</a>

.btn--secondary       - A link that`s sized like a button
.btn--link            - A link that`s sized like a button
.wom                  - A link that`s styled
.skew                 - A link that`s skewed
.wom-skew             - A link thats styled & skewed
.jumbo                - A big one

Styleguide 2.0

*/

.btn{
  background-color: $color-3;
  border: none;
  border-radius: .2rem;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 2.1rem;
  line-height: 2.1rem;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 200ms;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  padding: 0 .76rem;
  text-align: center;
  user-select: none;
  width: auto;

  &:link,
  &:visited{
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    background-color: $primary-dark;
    color: $white;
  }

  &:focus{
    outline: .1rem dotted $gray-3;
  }

  &:active{
    background-color: $primary;
  }
}


.btn--secondary{
  background-color: $gray-6;
  color: $gray-1;

  &:link,
  &:visited{
    color: $gray-1;
  }

  &:focus,
  &:hover{
    background-color: $gray-5;
    color: $gray-1;
  }

  &:active{
    color: $gray-3;
  }
}

.btn--link{
  background-color: transparent;
  color: $link;
  text-decoration: underline;

  &:link{
    color: $link;
  }

  &:visited{
    color: $link--visited;
  }

  &:focus,
  &:hover{
    color: $link--hover;
    background-color: transparent;
  }

  &:active{
    color: $link--active;
    background-color: transparent;
  }
}

.skew{
  transform: skewX(-15deg) rotateZ(-15deg);
  text-transform: italic;
}

.wom{
  font-weight: 200;
  padding: 0 .3rem;
  font-size: 2.1em;
  height: .96em;
  line-height: .89;
}

.wom-skew{
  transform: skewX(-15deg) rotateZ(-15deg);
  text-transform: italic;
  font-weight: 200;
  padding: 0 .6rem;
  font-size: 2.1em;
  height: .96em;
  line-height: .89;
}

.jumbo{
  font-size: 2.9em;
  height: 5rem;
  line-height: 5rem;
}

[type=button],
[type=submit],
button{
  @extend .btn;
}
