---
layout: base
title: Pago Facil - Pago Fallido
---

{% include navbar.html %}

<header>
    <div class="bg-modulo-short modulo-pagofacil">
        <div class="container">
            <div class="bg-modulo-short modulo-totalapagar modulo-mensajes">
                <div class="container">
                    <h3 class="ta-center fw-semibold white">¡Oops!</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
 <div class="row ta-center">
  <div class="mensajes-sesion">
    <p>No pudimos procesar tu pago. Porfa ayúdanos e inténtalo nuevamente</p>
  </div>
 </div>
 <div class="row ta-center">
  <p><button type="submit" class="btn btn-primary success fw-semibold fs-medium">Intentar nuevamente</button>
  <p><button type="submit" class="btn fw-semibold fs-medium">Ir a WOM.cl</button>
  </p>
 </div>
</div>

{% include footer.html %}