---
layout: base
title: Pago Facil - Logout
---

{% include navbar.html %}

<header>
    <div class="bg-modulo-short modulo-pagofacil">
        <div class="container">
            <div class="bg-modulo-short modulo-totalapagar modulo-mensajes">
                <div class="container">
                    <h3 class="ta-center fw-semibold white">No tienes deudas</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row ta-center">
        <div class="mensajes-sesion">
            <p>¡Sigue disfrutando nuestra experiencia WOM!</p>
        </div>
        <div class="row ta-center">
            <p><button type="submit" class="btn btn-primary fw-semibold fs-medium">Ingresar otro RUT</button></p>
            <p><button type="submit" class="btn btn-primary fw-semibold fs-medium">Ir a WOM.CL</button></p>
        </div>
    </div>
</div>

{% include footer.html %}