---
layout: base
title: Pago Facil - Selecciona cuenta, total a pagar
---

{% include navbar.html %}

<header>
    <div class="bg-modulo-short modulo-pagofacil">
        <div class="container">
            <div class="bg-modulo-short modulo-totalapagar modulo-mensajes">
                <div class="container">
                    <h3 class="ta-center fw-semibold white">Total a pagar</h3>
                    <h4 class="ta-center fw-semibold nopadding white fs-base">$143.332</h4>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row ta-center">
    <h4 class="fw-semibold morado-plain">SELECCIONA<br>MEDIO DE PAGO</h4>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <img style="margin-left: 10px;" src="../../wom-base/img/pago_facil/ico-paga-movil.svg" alt="">
    </div>
    <div class="col-xs-10"><p>Estos medios de pago funcionan perfecto a través del móvil.</p></div>
  </div>
  <div class="row ta-center">
    <p class="nomargin nopadding"><img class="center-block" src="../../wom-base/img/pago_facil/logo-webpay-tarjetas.jpg" alt=""></p>
    <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con Webpay</button></p>
  </div>
  <div class="row ta-center">
    <p class="nomargin nopadding"><img class="center-block" src="../../wom-base/img/pago_facil/logo-servipag.jpg" alt=""></p>
    <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con Servipag</button></p>
  </div>
  <div class="row">
    <div class="col-xs-2" style="padding: 0 10px;">
      <img src="../../wom-base/img/pago_facil/ico-paga-compu.svg" style="margin-left: 10px;" alt="">
    </div>
    <div class="col-xs-10"><p>Para pagar con estos medios te recomendamos hacerlo desde el computador.</p></div>
  </div>
  <div class="row ta-center">
    <p class="nomargin nopadding"><img class="center-block" src="../../wom-base/img/pago_facil/logo-santander.jpg" alt=""></p>
    <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con Santander</button></p>
  </div>
  <div class="row ta-center">
    <p class="nomargin nopadding"><img class="center-block" src="../../wom-base/img/pago_facil/logo-bci.jpg" alt=""></p>
    <p><button class="btn btn-primary success fw-semibold fs-medium">Pagar con BCI</button></p>
  </div>
  <div class="row ta-center">
    <p><button class="btn btn-link btn-link-success fw-semibold fs-medium">Salir de medios de pago</button></p>
  </div>
</div>

{% include footer.html %}