---
layout: base
title: Pago Facil - Pago Exitoso
---

{% include navbar.html %}

<header>
    <div class="bg-modulo-short modulo-pagofacil">
        <div class="container">
            <div class="bg-modulo-short modulo-totalapagar modulo-mensajes">
                <div class="container">
                    <h3 class="ta-center fw-semibold white">Bacán! Tu pago fue exitoso</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<img src="../../wom-base/img/icons/ico-pagado-stamp.svg" alt="" class="pagadoStamp">

<div class="container">
 <div class="row ta-center">
  <ul class="mensajes-reporte-pago">
   <li>
    <span>Nº comprobante:</span><span>87998782</span>
   </li>
   <li>
    <span>RUT:</span><span>16630097-3</span>
   </li>
   <li>
    <span>Fecha de pago:</span><span>05-08-2015</span>
   </li>
   <li>
    <span>Monto pagado:</span><span>$187.239</span>
   </li>
   <li>
    <span>Medio de pago:</span><span>Webpay</span>
   </li>
   <li>
    <span>Tipo de pago:</span><span>Débito</span>
   </li>
   <li>
    <span>Tipo de transacción:</span><span>Pago</span>
   </li>
   <li>
    <span>Tipo de cuotas:</span><span>Sin cuotas</span>
   </li>
   <li>
    <span>Número de cuotas:</span><span>0</span>
   </li>
   <li>
    <span>Código de autorización MP:</span><span>123124</span>
   </li>
  </ul>
 </div>
 <div class="row ta-center">
  <p><button class="btn btn-link btn-link-success fw-semibold fs-medium">Enviar comprobante al correo</button></p>
  <p><button type="submit" class="btn btn-primary success fw-semibold fs-medium">Ir a WOM.cl</button>
  </p>
 </div>
</div>

{% include footer.html %}