---
layout: base
title: Estado Portabilidad
---

{% include navbar.html %}

<header>
	<div class="bg-modulo modulo-portabilidad">
		<div class="container">
			<h3 class="ta-center white fw-semibold">PORTABILIDAD</h3>
			<h4 class="ta-center fw-normal white fs-base">Revolucionamos el mercado y somos líderes en portabilidad. ¡Gracias por ser parte! Vamos por más.</h4>
		</div>
	</div>		
</header>

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<div class="fs-base">
			<img src="../../wom-base/img/portabilidad/ico-portabilidad-conveniencia.png" width="70" height="70" class="center-block" >
			</div>
			<div class="fs-base fw-light ta-center">
				<p>Porque somos los más convenientes</p>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="fs-base ta-center">
			<img src="../../wom-base/img/portabilidad/ico-portabilidad-lideres.png" width="70" height="70" class="center-block" >
			</div>
			<div class="fs-base fw-light ta-center">
				<p>Líderes en portabilidad</p>
			</div>
		</div>
	</div>			
	<div class="row">
		<div class="col-xs-6">
			<div class="fs-base ta-center">
			<img src="../../wom-base/img/portabilidad/ico-portabilidad-sucursales.png" width="70" height="70" class="center-block" >
			</div>
			<div class="fs-base fw-light ta-center">
				<p>Tenemos sucursales en todo Chile</p>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="fs-small ta-center">
			<img src="../../wom-base/img/portabilidad/ico-portabilidad-4g.png" width="70" height="70" class="center-block" >
			</div>
			<div class="fs-base fw-light ta-center">
				<p>Y volamos con nuestra red 4G</p>
			</div>
		</div>
	</div>	
</div>

<div class="modulo-portatebien">
	<div class="ta-center">
		<div class="btn-group" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="tilt btn-portate white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					¿QUIERES SER WOM? PÓRTATE AQUÍ!
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>

						<div class="col-xs-2 nopadding">
							<img src="../../img/portabilidad/ico-tengo-prepago.svg" class="center-block">
						</div>
						<div class="col-xs-8">
							<a href="paso1.html">TENGO UN PREPAGO Y QUIERO UN PREPAGO WOM.</a>
						</div>

					</li>
					<li>
						<div class="col-xs-2 nopadding">
							<img src="../../img/portabilidad/ico-tengo-plan.svg" class="center-block">
						</div>
						<div class="col-xs-8">
							<a href="#">TENGO UN PLAN Y QUIERO UN PLAN WOM.</a>
						</div>

					</li>
					<li>
						<div class="col-xs-2 nopadding">
							<img src="../../img/portabilidad/ico-tengo-prepago-2.svg" class="center-block">
						</div>
						<div class="col-xs-8">
							<a href="#">TENGO UN PREPAGO Y AHORA QUIERO UN PLAN WOM.</a>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row instrucciones-portabilidad">

		<h4 class="ta-center fw-semibold">LO QUE TIENES QUE HACER<br /> ANTES DE PORTARTE</h4>

		<div class="col-md-12">
			<h5 class="morado-plain morado-subrayado fw-semibold"><span class="bignumber fw-normal">1</span> COMPRA UN CHIP WOM</h5>
			<p>Consigue tu CHIP en cualquiera de nuestras sucursales y kioskos.</p>
		</div>
		<div class="col-md-12">
			<h5 class="morado-plain morado-subrayado fw-semibold"><span class="bignumber fw-normal">2</span> EQUIPO LIBERADO</h5>
			<p>Acércate a tu actual compañia y solicita el desbloqueo de tu equipo</p>
		</div>
		<div class="col-md-12">
			<h5 class="morado-plain morado-subrayado fw-semibold"><span class="bignumber fw-normal">3</span> NECESITARÁS ESTOS DATOS</h6>
				<p>Foto y número de serie/documento de tu cédula de identidad.</p>
			</div>
		</div>

		<div class="row marginbottom">
			<div class="col-xs-3">
				<img src="../../img/portabilidad/ico-darthvader.svg" alt="">
			</div>
			<div class="col-xs-9">
				<h6 class="morado-plain fw-semibold nomargin nopadding">ABANDONA EL DARKSIDE Y ÚNETE AL LADO DE LA CONVENIENCIA.</h6>
			</div>
		</div>

		<div class="row solicita-portabilidad">
			<div class="col-md-12">
				<h4 class="ta-center morado-plain fw-semibold">¿YA SOLICITASTE PORTABILIDAD?</h4>
				<p class="ta-center">Ahora conoce el estado...</p>
			</div>
		</div>
	</div>

	<div class="portabilidad-pills">
		<ul class="nav nav-pills" role="tablist">
			<li class="active"><a href="#tab_telefono" data-toggle="tab" class="fw-semibold">N° TÉLEFONO</a></li>
			<!-- li><a href="#tab_portabilidad" data-toggle="tab" class="fw-semibold">N° PORTABILIDAD</a></li -->
		</ul>
		<div class="tab-content well modulo-morado">
			<div class="tab-pane active" id="tab_telefono">							
				<div class="row">
					<div class="col-xs-2">
						<img src="../../img/portabilidad/ico-tengo-prepago.svg" alt="">
					</div>
					<div class="col-xs-10">
						<div class="form-group">
							<span class="miniLabel">Ingresa tu número de teléfono</span><input type="text" class="form-control input-lite" id="telefono" placeholder="Ingresa tu número de teléfono" onclick="$(this).val('+56 9');" onblur="$(this).val('');"></div>
						</div>
					</div>

					<div class="row ta-center">
						<button type="button" class="btn morado-plain">Ver portabilidad</button>
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}
