---
layout: base
title: Estado Portabilidad - Paso 3
---

{% include navbar.html %}

<header>
	<div class="bg-modulo modulo-portabilidad">
		<div class="container">
			<h3 class="ta-center white fw-semibold">MEJORA TU PREPAGO</h3>
			<h4 class="ta-center fw-normal white fs-base">Es momento de abandonar el Darkside. ¡Comenzemos la portabilidad para únirte al lado de la conveniencia!</h4>
		</div>
	</div>
</header>

<div class="bajada-morada">
	<ul id="stepper_portabilidad">
		<li class="active"><span>1</span></li>
		<li class="active"><span>2</span></li>
		<li class="active"><span>3</span></li>
		<li><span>4</span></li>
		<li><span>5</span></li>
	</ul>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 ta-center">
			<h4 class="fw-semibold morado-plain">HAZLA CORTA Y SOLICITA TU CÓDIGO CAP</h4>
			<p class="fw-semibold">¿QUE ES EL NÚMERO CAP?</p>
			<p>Tranqui, no es complejo, es un código de activación que se te es enviado como mensaje de texto a tu celular de que solicitaste la portabilidad.</p>
			<p><button type="button" class="btn btn-lg btn-success fw-semibold" onclick="window.location.href='paso4.html'">Solicitar código CAP</button></p>
		</div>
	</div>
</div>


{% include footer.html %}
