---
layout: base
title: Estado Portabilidad - Paso 5
---

{% include navbar.html %}

<header>
	<div class="bg-modulo modulo-portabilidad">
		<div class="container">
			<h3 class="ta-center fw-semibold white">MEJORA TU PREPAGO</h3>
			<h4 class="ta-center fw-normal white fs-base">Es momento de abandonar el Darkside. ¡Comenzemos la portabilidad para únirte al lado de la conveniencia!</h4>
		</div>
	</div>
</header>

<div class="bajada-morada">
	<ul id="stepper_portabilidad">
		<li class="active"><span>1</span></li>
		<li class="active"><span>2</span></li>
		<li class="active"><span>3</span></li>
		<li class="active"><span>4</span></li>
		<li class="active"><span>5</span></li>
	</ul>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 ta-center">
			<h4 class="fw-semibold morado-plain">PORTABILIDAD EN CURSO</h4>
			<p>La portabilidad se hará efectiva en la mañana del día hábil siguiente. Puedes ver el estado de tu portabilidad con tu número de teléfono o tu número de solicitud.</p>
			<p class="fw-semibold morado-plain">NUMERO DE SOLICITUD<br>875638</p>
			<p>Tranqui! te lo enviamos como SMS</p>
		</div>
		<div class="row">
			<div class="container"><div class="col-xs-6">
				<p><a class="btn morado-plain fw-semibold">Ir a portabilidad</a></p>
			</div>
			<div class="col-xs-6">
				<p><button type="button" class="btn btn-primary fw-semibold" onclick="window.location.href='paso4.html'">Ir a WOM.CL</button></p>
			</div></div>
		</div>
	</div>
</div>


{% include footer.html %}
