.centro-ayuda-related__links {
  margin: 0;
}

.centro-ayuda-related__title {
  margin-bottom: 40px;
  margin-top: 10px;
}

.centro-ayuda-related__links__col {
  padding: 0;
  &:last-of-type {
    ul li:last-of-type a {
      border-bottom: 0;
    }
  }
}

.centro-ayuda-related__links ul {
  list-style-type: none;
  margin: 0;
}

.centro-ayuda-related__links ul li a {
  color: #8B8B8B;
  padding: 15px 30px;
  display: block;
  border-bottom: 1px solid #D0D0D0;
}

.centro-ayuda-related__links ul li a p {
  margin: 0;
  padding: 0;
}

.centro-ayuda-related__links ul li a strong {
  text-transform: uppercase;
  color: $quaternary;
}

.centro-ayuda-related__links ul li a i.fa {
  float: right;
  font-size: 32px;
  line-height: 16px;
  color: $quaternary;
  margin-top: 5px;
}

.centro-ayuda-related__links__container {
  background-color: white;
  padding: 0;
  &:before {
    height: 0;
  }
}


@media screen and ( min-width: 768px ) {

  .centro-ayuda-related__links {
    margin: 100px 0;
  }

  .centro-ayuda-related__links__container {
    background-color: $gray-7;
    &:before {
      height: 50%;
    }
  }

  .centro-ayuda-related__links__row {
    padding-bottom: 60px;
  }

  .centro-ayuda-related__links ul li a {
    border-bottom: 0;
  }

  .centro-ayuda-related__title {
    margin-bottom: 60px;
    margin-top: 40px;
  }

  .help-center__welcome.fullwidth-slab .personaImage {
    position: absolute;
    bottom: 0;
    right: -50px;
    img {
      width: 100%;
    }
  }


  .help-center__welcome__row {
    border-bottom: 0;
  }
}